
  
  .for_card{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 30px;
  }
  .for_cardheader {
    background: -moz-linear-gradient(-45deg,#e2f0cb 8%, #679733 83%);
    background: -webkit-linear-gradient(-45deg,#e2f0cb 8%, #679733 83%);
    background: linear-gradient(135deg, #e2f0cb 8%, #679733 83%);
    padding: 30px 20px;
  }
  .for_editimage{
    --background: white;
    margin-top: -25px;
    margin-right: 0;
    border: 1px solid #e2f0cb;
  }
  .for_pr{
    margin-bottom: -2px;font-size: 35px;
  }
  .for_social{
    zoom: 1.5;
    background: #76c961;
    border-radius: 25px;
    padding: 4px;
  }
  .for_iteminfo{
    --padding-start:0;font-size: 14px;
    --background: transparent;
  }
  .for_iteminforest{
    --padding-start:0;font-size: 14px;
    margin-top: -10px;
    --background: transparent;
  }
  .for_label{
    margin-bottom: -2px;
  }
  .for_text{
    margin-bottom: -2px;text-align: right;
    margin-right: 0;
  }
.for_pin{
  margin-bottom: -3px;
}

.for_txtoverview{
    font-size: 13px;
    padding-left: 5px;
    margin-top: 5px;
    padding-right: 5px;
    color: #666666;
}
.for_back{
  position: absolute;
  left: 2%;
  top: 5%;
  font-size: 20px;
}
.for_report{
  position: absolute;
    right: 2%;
    top: 5%;
    font-size: 15px;
    color: black;
    margin: 0;
    font-weight: normal;
    text-transform: capitalize;
}
.for_spanstar{
  font-size: 14px;font-weight: normal;
}
.for_staricon{
  font-size: 18px;
  margin-bottom: -4px;
}
  