
<ion-content>
  <ion-card mode="ios" no-margin class="for_card">
    <ion-card-header class="for_cardheader">
      <ion-icon class="for_back" mode="ios" name="arrow-back" (click)="goBack()"></ion-icon>
      <img src="assets/greenthumb-images/tomato.png" class="for_imgfruit">
    </ion-card-header>
  </ion-card>
  <ion-row style="margin-top: -25px;">
    <ion-col text-right>
      <ion-chip mode="ios" (click)="goSellerprof()" style="--background: white; margin-top: -20px;">
        <ion-avatar>
          <img src="assets/greenthumb-images/userpic.png">
        </ion-avatar>
        <ion-label style="font-size: 12px;" >by Ken Telmo</ion-label>
      </ion-chip>&nbsp;
      <ion-icon mode="ios" class="for_social" color="light" name="share-alt"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 10px;padding-bottom: 0;">
    <ion-col text-left size="7">
      <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
      <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
      <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
      <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
      <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium" color="warning"></ion-icon>&nbsp;
      <span class="for_spanstar">(5)</span>
      <ion-label color="dark"><h1 style="margin-bottom: -2px;"><b>Item Name</b></h1></ion-label>
      <ion-label class="for_categname">Category</ion-label>
    </ion-col>
    <ion-col text-right size="5">
      <ion-label color="secondary"><h1 class="for_pr"><b>$678</b></h1></ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -5px;padding-top: 0;padding-bottom: 0;" padding >
    <ion-col size="12" no-padding text-left> 
      <ion-icon class="for_pin" color="primary" name="pin" mode="ios"></ion-icon>
      <ion-label class="for_locname" style="font-size: 13px;text-transform:capitalize;" color="dark">
        Tacloban City Leyte Philipines</ion-label>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 0;padding-bottom: 5px;">
    <ion-col>
      <ion-item mode="ios" class="for_iteminfo">
        <ion-label color="dark" class="for_label"><b>Availability</b></ion-label>
        <ion-label color="medium" slot="end" class="for_text">In Stock</ion-label>
      </ion-item>
      <ion-item mode="ios" class="for_iteminforest">
        <ion-label color="dark" class="for_label"><b>Delivery Type</b></ion-label>
        <ion-label color="medium" slot="end" class="for_text">Local Pickup</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 0;">
    <ion-col no-padding>
      <p text-justify class="for_txtoverview">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
        Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. 
        Duis nec sem at orci commodo viverra id in ipsum. 
      </p>
    </ion-col>
  </ion-row>
  
        <ion-row padding>
          <ion-col size="5" no-padding>
            <ion-button (click)="goEdit()" fill="outline" expand="block" mode="ios">
              <ion-icon name="create" mode="ios"></ion-icon>&nbsp;EDIT ITEM
            </ion-button>
          </ion-col>
          <ion-col size="5" no-padding>
            <ion-button expand="block"mode="ios">
              MARK AS SOLD
            </ion-button>
          </ion-col>
          <ion-col size="2" no-padding>
            <ion-button color="danger" expand="block" mode="ios">
              <ion-icon name="trash" mode="ios"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      

</ion-content>
