
<ion-content text-center>
  <h4 style="font-weight: bold;">Tell us what you think</h4>
  <p class="for_txt">Lorem ipsum dolor sit amet,f consectetur adipiscing elit</p>
  <ionic4-star-rating #rating
      activeIcon = "ios-star"
      defaultIcon = "ios-star-outline"
      activeColor = "#ffce00" 
      defaultColor = "#ffce00"
      readonly="false"
      rating="0"
      fontSize = "40px"
      (ratingChanged)="logRatingChange($event)">
  </ionic4-star-rating>
  <ion-button class="for_button" mode="ios" (click)="submitRate()" expand="block">SUBMIT</ion-button>
</ion-content>

<ion-footer mode="ios">
  <ion-toolbar mode="ios" (click)="close()">
    <ion-title color="secondary"> Not Now</ion-title>
</ion-toolbar>
</ion-footer>
