<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Set your price</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="for_post">
  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col>
      <ion-list class="line-input">
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="price" type="number" class="item_input" placeholder="$0"></ion-input>
         </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
<div class="postitem-overlay" padding>
  <ion-button expand="block" (click)="goSelectlocation()" mode="ios" fill="outline" color="primary">
    NEXT
  </ion-button>
  <div class="postitem_container">
    <ul class="postitem_progressbar">
      <li class="whenfocus active"><span>Photo</span></li>
      <li class="whenfocus active"><span>Details</span></li>
      <li class="whenfocus"><span>Price</span></li>
      <li><span>Delivery</span></li>
      <li><span>Post</span></li>
    </ul>
  </div>
</div>