.for_post{
    --background: none;
    background-image: url('/assets/greenthumb-images/bunny1.png');
    background-repeat: no-repeat;
    background-size: contain;
}
.for_post:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 5%;
    background: rgba(255,255,255,90%);
  }
.line-input {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        height: 59px;
        margin: auto;
        --background: white;
        width: 160px;
        text-align: center !important;
    }
  }
.item_input{
    font-size: 32px;
    color: #679733 !important;
}



