<ion-header mode="ios" >
  <ion-toolbar mode="ios" style="--background: transparent;">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button>
          <ion-icon name="arrow-back"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
      <ion-title style="font-size: 14px;">Payoneer ID</ion-title>

      <ion-buttons slot="primary">
          <ion-button>
              <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>


<ion-content mode="ios" text-center>

  <div class="overlaybackground"><div class="wrapper"></div></div>
      <ion-toolbar mode="ios" style="--background: transparent;padding-top: 3%;">
        <img src="assets/icon/brixylogo.png" style="width: 40%;" mode="ios">
        
        <div class="form_overlay">
          <ion-card mode="ios" style="box-shadow: none;margin-top: 3%;">
            <img mode="ios" src="assets/icon/payoneer.png" style="width: 50%;margin: auto;padding-top: 10%;" />
            <ion-card-content mode="ios" no-padding>
              <ion-list class="line-input">
                <ion-row>
                  <ion-col>
                    <ion-item>
                      <ion-input placeholder="Payoneer ID" [(ngModel)]="payoneerId" mode="ios" type="text" class="item_input" size="small"></ion-input>
                    </ion-item>
                  </ion-col>
                </ion-row>
              </ion-list>
              <ion-list>
                <ion-row>
                  <ion-col>
                    <ion-button (click)="addPaymentId()"  expand="block" mode="ios">SUBMIT/EDIT</ion-button>
                  </ion-col>
                </ion-row>
              </ion-list>
            </ion-card-content> <br>
          </ion-card>
        </div>
      </ion-toolbar>

      <ion-row text-center>
        <ion-col>
          <p text-center style="font-size: 13px;padding-left: 20px;padding-right: 20px;">
            Brixy Live uses Payooner as the payment system for cash out requests. 
            Please enter or double check if the Payooner ID you have entered is correct.
          </p>
        </ion-col>
    </ion-row>
    <ion-row text-center padding style="padding-top: 0;">
      <ion-col>
        <ion-button mode="ios" expand="block" (click)="goPaymentreq()" color="medium">SKIP</ion-button>
      </ion-col>
  </ion-row>
   


</ion-content>
