
  .overlaybackground{
    width: 100%;
      height: 230px;
      position: absolute;
      top: 0px;
      left: 0px;
      background: black;
      background-image: url('/assets/icon/background1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    }
    .wrapper{
      width: 100%;
        height: 230px;
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: #4242428c;
        backdrop-filter: blur(10px);
      }
.form_overlay{
    background: white;background: white;
    width: 95%;
    margin: auto;    --background: var(--ion-item-background,transparent);
    --color: var(--ion-color-step-600,#666);
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    font-size: 14px;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
}
.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 40px;
        margin-top: 4%;
    }
}
.item_input{
    font-size: 14px;
    --padding-top: 0;
    color: #424242!important;
}
.item_label{
    color: #b3aeae !important;
    font-weight: 300;
    font-size: 13px;
}