<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>
      <ion-title color="secondary">Google Pay</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
