<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      
      <!-- <ion-title color="secondary">Post an Item</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons> -->
    </ion-toolbar>
</ion-header>
<ion-content>
  <iframe src="https://www.greenthumbtrade.com/community/" style="height: 100%; width: 100%;"></iframe>

</ion-content>
