
<ion-content padding text-center>
  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col>
      <img style="width: 40%;" src="assets/greenthumb-images/notice_emoticon.png">
      <ion-label color="secondary"><h2 class="message">Greenthumb Notice</h2></ion-label>
      <p style="padding: 0 20px;">
        Greetings! Your account has been temporarily suspended due to not acknowledging and filling up your details in our modal. 
      </p>  
      <p style="padding: 0 20px;">To reactivate your account, please email <b>admin@greenthumbtrade.com</b>.
        And for more details, please go to our User Policy Page.
      </p>
      <p style="padding: 0 20px;">
        <ion-note style="font-weight: bold;" color="secondary">Thank you!</ion-note>
      </p>
      <ion-button style="margin-top: 20px;" mode="ios" expand="block" (click)="goToUserPolicy();">VISIT USER POLICY</ion-button>
      <ion-button style="margin-top: 10px;" mode="ios" expand="block" fill="outline" (click)="goBack()">GO BACK</ion-button>
    </ion-col>
  </ion-row>


</ion-content>
