<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
          Back
      </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Report User</ion-title>

      <ion-buttons slot="primary" >
        <ion-button>
            <img src="assets/greenthumb-images/greenthumblogo.png" style="width: 32px;border-radius: 50%;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <p text-center style="padding-bottom: 15px;">
    You have reported <b style="color: #679733;font-weight: bold;">{{reportedName}}</b>, 
    please choose the reason below why you have chosen this option.
  </p>
  <ion-radio-group allow-empty-selection [(ngModel)]="theReason" name="myReason" mode="ios">
  <ion-item *ngFor="let x of reasonList;" mode="ios" lines="none" class="for_itemspace">
    
        <ion-label style="font-size: 13px" mode="ios">
          {{x.reason}}</ion-label>
        <ion-radio slot="start" value="{{x.reason}}"></ion-radio>
  </ion-item>
</ion-radio-group>


<ion-radio-group allow-empty-selection name="others" mode="ios">
    <ion-item (click)="othersClick()" mode="ios" lines="none" class="for_itemspace">
      <ion-label style="font-size: 13px" mode="ios">
          Others /  Additional</ion-label>
        <ion-radio slot="start" ></ion-radio>
    </ion-item>
  </ion-radio-group>

  <ion-list class="line-input" padding>
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Reason</ion-label>
        <ion-item>
          <ion-textarea [(ngModel)]="otherReason" mode="ios" class="item_input" size="small"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

<ion-row padding>
  <ion-col>
    <ion-button expand="block" (click)="goBack()" mode="ios" color="light">Cancel</ion-button>
  </ion-col>
  <ion-col>
    <ion-button expand="block" (click)="reportThisUser()" mode="ios">Report</ion-button>
  </ion-col>
</ion-row>

</ion-content>
