<ion-header no-border mode="ios">
    <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;" color="dark" (click)="goBack()">
            Back
        </ion-button>
      </ion-buttons>
        <ion-title color="secondary">Messages</ion-title>
        <ion-buttons slot="primary" (click)="goHelp()">
          <ion-button mode="ios" style="font-size: 15px;" (click)="goHelp()">
              Help
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
  <ion-segment-button class="for_segment" mode="ios" value="0">
      <ion-label>Messages 
        <ion-badge *ngIf="notif_message>0" class="for_segmentbadge" mode="ios" color="tertiary">{{notif_message}}
      </ion-badge></ion-label>
  </ion-segment-button>  
  <ion-segment-button  class="for_segment" mode="ios" value="1">
      <ion-label>Notifications 
        <ion-badge *ngIf="notif_notif>0" class="for_segmentbadge" mode="ios" color="tertiary">{{notif_notif}}
      </ion-badge></ion-label>
  </ion-segment-button>
  <ion-segment-button class="for_segment" mode="ios" value="2">
    <ion-label>Announcements 
      <ion-badge *ngIf="notif_announcement>0" class="for_segmentbadge" mode="ios" color="tertiary">{{notif_announcement}}
    </ion-badge></ion-label>
</ion-segment-button>
</ion-segment>
<ion-content>
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
    <!-- For Messages -->
        <ion-slide>

          <ion-grid style="text-align: center;" *ngIf="loader"> 

            <ion-spinner name="crescent"></ion-spinner>
        </ion-grid>

          <ion-grid *ngIf="!loader">
            <ion-row style="padding: 5px;padding-top: 0;">
              <ion-col>
                <ion-searchbar style="padding: 0;text-align: left;margin-bottom: 10px;" placeholder="Search..." id="customsearchbar" mode="ios"></ion-searchbar>
                <ion-list mode="ios">
                  <ion-item mode="ios" *ngFor="let conversation of myConversations;">
                    <ion-avatar slot="start" mode="ios" id="for_sellingavatar">
                      <div *ngIf="!conversation?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="conversation?.profile_photo">
                        <img [src] = "conversation.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label (click)="goMessage(conversation?.id, conversation.item_id)">
                      <h2 style="font-size: 14px;color: #679733;text-transform: capitalize;">{{conversation?.nickname}}</h2>
                      <h3 style="font-size: 13px;text-transform: capitalize;">{{conversation.item_name}}</h3>
                      <p style="font-size: 12px;padding: 0;" [ngClass]="conversation?.user_sent != login_user_id ? (conversation?.status == '0' ? 'unread' : '') : ''">
                        {{conversation.message}}</p>
                    </ion-label>
                    <ion-label slot="end" text-right color="secondary" style="margin-left: -100px;align-self: flex-end;">
                      <h3 style="font-size: 10px;margin-bottom: -2px;" mode="ios">{{conversation?.time}} </h3>
                      <h3 style="font-size: 10px;" mode="ios">{{conversation?.date}} </h3>
                    </ion-label>
                  </ion-item>
                  <!-- <ion-item mode="ios" *ngFor="let conversation of myConversations;">
                    <ion-avatar slot="start" mode="ios">
                      <div *ngIf="!conversation?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="conversation?.profile_photo">
                        <img [src] = "conversation.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label (click)="goMessage(conversation?.id, conversation.item_id)" mode="ios">
                      <h2 style="font-size: 14px;color: #679733;" mode="ios">{{conversation?.nickname}} - {{conversation.item_name}}</h2>
                      <h3 style="font-size: 12px;" mode="ios" [ngClass]="conversation?.user_sent != login_user_id ? (conversation?.status == '0' ? 'unread' : '') : ''">{{conversation.message}}</h3>
                    </ion-label>
                    <ion-label style="flex: 0 0 30px;" text-right mode="ios" slot="end" color="secondary">
                      <h3 style="font-size: 12px;" mode="ios">{{conversation?.date}} {{conversation?.time}}</h3>
                    </ion-label>
                  </ion-item> -->
                  
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <!-- For Notifications -->
        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col>
                <ion-list mode="ios">
                  <ion-item mode="ios" *ngFor="let notif of systemNotif">
                    <ion-avatar slot="start" mode="ios">
                      <div *ngIf="notif.with_rate=='0'">
                        <img style="border-radius: 0;" src="assets/greenthumb-images/like_notif.png">
                      </div> 
                      <div *ngIf="notif.with_rate=='1' || notif.with_rate=='2'">
                        <img src="assets/greenthumb-images/dollar_notif.png">
                      </div> 
                    </ion-avatar>
                    <ion-label mode="ios" text-wrap>
                      <h2 style="font-size: 13px;color: #679733;" mode="ios">
                        <i>{{notif.notification}}</i></h2>
                      <p *ngIf="notif.with_rate!='1'" style="font-size: 12px;padding: 0;color: #989aa2;padding-top: 3px;">
                        {{notif.date}} {{notif.time}}
                      </p>
                    </ion-label>
                    <ion-label style="flex: 0 0 20px;" text-right mode="ios" slot="end">
                      <ion-row id='notif{{notif.id}}' *ngIf="notif.with_rate=='1'">
                        <ion-col no-padding (click)="goRate(notif.rate_user_id, notif.id)">
                          <img src="assets/greenthumb-images/check_notif.png">
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item>
                  <!-- <ion-item mode="ios">
                    <ion-avatar slot="start" mode="ios">
                      <div>
                        <img src="assets/greenthumb-images/like_notif.png">
                      </div> 
                    </ion-avatar>
                    <ion-label mode="ios" text-wrap>
                      <h2 style="font-size: 13px;color: #679733;" mode="ios">
                        <i>Buyer "Michel Fernandez" has just mark your product 
                          "Lorem item name" as purchased and sold. Please verify.</i></h2>
                    </ion-label>
                    <ion-label style="flex: 0 0 30px;" text-right mode="ios" slot="end">
                      <ion-row>
                        <ion-col (click)="goRate()">
                          <img src="assets/greenthumb-images/check_notif.png">
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col style="padding-top: 0;">
                          <img src="assets/greenthumb-images/close_notif.png">
                        </ion-col>
                      </ion-row>
                    </ion-label>
                  </ion-item> -->
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <!-- For Announcements -->
        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col>
                <ion-list mode="ios">
                  <ion-card mode="ios" *ngFor="let announce of announcementAll" no-margin text-left>
                    <ion-card-header mode="ios" class="card_header">
                      <ion-card-title mode="ios" class="card_title">{{announce.title}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content mode="ios" class="card_content">
                      {{announce.announcement}}
                      <br>
                      <div text-right class="card_time">{{announce.date}} {{announce.time}}</div>
                    </ion-card-content>
                  </ion-card>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
    </ion-slides>
</ion-content>


