.unread{
    font-weight: bold;
    color: black;
}
.for_segment{
    padding: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 0;
}
.for_segmentbadge{
    color: #e44545;
    font-size: 10px;
    padding-left: 3px;
    padding-right: 4px;
    display: inline;
    padding-top: 1px;
    padding-bottom: 1px;
}
ion-item {
    --padding-start: 0% !important;
    --inner-padding-end: 0;
    --border-color: #f4f7f8; 
    --padding-bottom: 10px;
}
ion-avatar{
    width: 100% !important;
    height: 100% !important;
    max-width: 45px !important;
    max-height: 45px !important;
}
#for_sellingavatar{
    width: 100% !important;
    height: 100% !important;
    max-width: 55px !important;
    max-height: 55px !important;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 55px !important;
            max-height: 55px !important;
            border-radius: 50%;
        }
}

.card_header{
    padding-bottom: 0;
}
.card_title{
    font-size: 15px;
}
.card_content{
    font-size: 14px;
    padding-top: 8px;
    line-height: 1.1;
}
.card_time{
    padding-top: 3%;
    color:black
}

.unread{
    font-weight: bold;
    color: black;
}
