<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Logout</ion-title>

      <ion-buttons slot="primary" (click)="signOut()">
        <ion-button mode="ios">
          <ion-icon name="log-out" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>

    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="for_card">
  </ion-card>
  <ion-label color="medium"><p text-center>Version V900.3.5</p></ion-label>
  <ion-list class="for_accountitems" padding style="padding-top: 0;padding-bottom: 5px;">
    <ion-list-header class="item_label">Info</ion-list-header>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>About Green Thumb Trade</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>About Telmo Solutions</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem" (click)="signOut()">
      <ion-label>Logout</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
  </ion-list>
  <p text-center style="padding-top: 0px;">
    <a  href="https://telmosolutions.com/"><img src="assets/icon/telmologo.png" style="width: 70%;" mode="ios"></a> 
   </p>
   <p text-center style="margin-top: -8%;" padding>
     Designed & Developed by <a style="text-decoration: none;color: #09055e;font-weight: bold;" href="https://telmosolutions.com/">Telmo Solutions</a>
   </p>
  
</ion-content>

