.for_card{
    box-shadow: none;
    --background: none;
    background-image: url(/assets/greenthumb-images/greenthumblogo.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50%;
    margin-top: 0;
}
.item_label{
    font-weight: bold;
    font-size: 15px;
    padding-left: 0;
    color: #679733;
    margin-bottom: -4%;
  }
  #for_eachitem{
    font-size: 14px;
    --inner-padding-end: 0px !important;
    --border-color: #e2f0cb;
    --padding-start: 0% !important;
  }
  .for_seticon{
    font-size: 15px;
    color: #9da2b3;
  }