<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Describe your item</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <ion-list class="line-inputcateg">
      <ion-row>
        <ion-col no-padding>
          <ion-row (click)="goCategories()">
            <ion-col text-left no-padding>
              <ion-label class="item_label" color="secondary">Select Category</ion-label>
            </ion-col>
            <ion-col text-right no-padding>
              <ion-label class="item_label2">Categories <ion-icon class="item_icon" name="arrow-forward" mode="ios"></ion-icon></ion-label>
            </ion-col>
          </ion-row>
          <ion-item>
            <ion-input mode="ios" type="text" readonly [(ngModel)]="category_name" class="item_input" placeholder="Enter tag here" size="small"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input mode="ios" type="text" readonly [(ngModel)]="custom_category" class="item_input" placeholder="Enter custom category" size="small"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-list class="line-input">
      <ion-label class="item_label" color="secondary">STOCKS AVAILABLE</ion-label>
      <ion-radio-group mode="ios" value="{{stocks_id}}" name="stocks_id">
         <ion-item style="margin-top: -1%;--background:transparent" (click)="changeStock(1)">
          <ion-radio style="zoom: 0.8;" value="1" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 13px;">per piece</ion-label>
         </ion-item>
         <ion-item (click)="changeStock(2)">
          <ion-radio style="zoom: 0.8;" value="2" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 13px;">per pound</ion-label>
         </ion-item>
         <ion-item (click)="changeStock(3)">
          <ion-radio style="zoom: 0.8;" value="3" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 13px;">per ounce</ion-label>
         </ion-item>
         <!-- <ion-item>
          <ion-radio style="zoom: 0.8;" value="4" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 13px;">unit of number</ion-label>
         </ion-item> -->
          <ion-row style="--background: transparent;margin-top: -3%;">
            <ion-col no-padding text-left size="4">
              <ion-item (click)="changeStock(4)" id="item_others">
                <ion-radio style="zoom: 0.8;" value="5" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
                <ion-label style="font-size: 13px;">Others</ion-label>
              </ion-item>
            </ion-col>
            <ion-col no-padding text-left size="8">
              <ion-list class="line-inputcateg" style="margin-top: -5%;">
                <ion-item style="--padding-start: 15px;">
                  <ion-input mode="ios" type="text" class="item_input" [(ngModel)]="otherStock" placeholder="Enter unit" size="small"></ion-input>
                 </ion-item>
              </ion-list>
            </ion-col>
          </ion-row>
      </ion-radio-group>
    </ion-list>
    <ion-list class="line-inputcateg" style="margin-top: -5%;">
      <ion-label class="item_label" color="secondary">QUANTITY</ion-label>
      <ion-item>
        <ion-input mode="ios" type="number" [(ngModel)]="quantity" class="item_input" placeholder="Enter quantity" size="small"></ion-input>
       </ion-item>
    </ion-list>
    <ion-list class="line-inputarea">
      <ion-label class="item_label"  color="secondary">DESCRIPTION</ion-label>
      <ion-item>
        <ion-textarea mode="ios" [(ngModel)]="description" class="item_area"></ion-textarea>
       </ion-item>
    </ion-list>
  
</ion-content>
<div class="postitem-overlay" padding>
  <ion-button expand="block" (click)="goSetprice()" mode="ios" fill="outline" color="primary">
    NEXT
  </ion-button>
  <div class="postitem_container">
    <ul class="postitem_progressbar">
      <li class="whenfocus active"><span>Photo</span></li>
      <li class="whenfocus"><span>Details</span></li>
      <li><span>Price</span></li>
      <li><span>Delivery</span></li>
      <li><span>Post</span></li>
    </ul>
  </div>
</div>