
.line-input {
  margin-bottom: 0!important;
  background: transparent;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      margin-top: -5%;
     --background:transparent;
      --padding-start: 0;
  }
}
.line-inputcateg {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        height: 35px;
        margin-top: 2%;
        --background: #ffffffb5;
    }
  }
  .line-inputarea {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        height: 80px;
        margin-top: 2%;
        --background: #ffffffb5;
    }
  }
  .line-inputothers {
    margin-bottom: 0!important;
    background: transparent;
    margin-top: -2%;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        height: 30px;
        --background: #ffffffb5;
        --padding-start: 15px;
    }
  }
  .item-radio-checked{
      --background: transparent;
  }
.item_input{
  font-size: 13px;
  margin-top: -15px;
  color: #424242!important;
}
.item_area{
    font-size: 13px;
    color: #424242!important;
  }
.item_select{
    font-size: 14px;
    --padding-top: 1%;
    color: #424242!important;
}
.item_label{
  font-weight: bold;
  font-size: 14px;
}
.item_label2{
    font-size: 13px;
  }
.item_icon{
    margin-bottom: -1%;
    font-size: 11px;
}