.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 40px;
        margin-top: 4%;
    }
}
.item_input{
    font-size: 14px;
    --padding-top: 0;
    color: #424242!important;
}
.item_select{
    font-size: 14px;
    --padding-top: 1%;
    color: #424242!important;
}
.item_label{
    color: #b3aeae !important;
    font-weight: 300;
    font-size: 13px;
}
ion-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 120px !important;  //any size
    max-height: 120px !important; //any size 
    }