<ion-header no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" mode="ios">
        <ion-button mode="ios">
            <img src="assets/icon/brixylogo.png" style="width: 34px;" mode="ios">
        </ion-button>
      </ion-buttons>

      <ion-title mode="ios">{{headerTitle}}</ion-title>

      <ion-buttons slot="primary" (click)="toSearch()" mode="ios" style="margin-right: -2%;">
        <ion-button mode="ios">
          <img src="assets/icon/search.png" style="width: 28px !important;">
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="primary" (click)="toAccount()" mode="ios" style="margin-right: -3%;">
        <ion-button mode="ios">
          <img src="assets/icon/usersettings.png" style="width: 30px !important;">
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="primary" (click)="toSystemNotif()" mode="ios">
        <ion-button mode="ios">
          <ion-icon name="alert" size="large" mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
   
</ion-header>