<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>
      <ion-title color="secondary">Promote Plus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col  text-center>
      <img src="assets/greenthumb-images/promoteplus.jpg" class="for_img">
      <ion-label color="secondary"><h2 class="for_title">Get an average of 14x more views each day</h2></ion-label>
      <p style="margin-bottom: 0;">$19.99/mo after 3 day trial period</p>
      <p style="margin-top: 0;">No obligation, cancel anytime</p>
      <ion-label color="secondary"><h2 class="for_learnmore">Learn More</h2></ion-label>
      <ion-row padding>
        <ion-col text-center>
          <ion-button expand="block" mode="ios">START FREE TRIAL</ion-button>
        </ion-col>
      </ion-row>
      <p class="for_info">
        Your Google Play account will be charged $19.99 per month for 
        the Promote Plus Subscription at the end of your 3-day free 
        trial unless you cancel the subscription before the end of
         the trial period. If you do not have a free trial period, 
         your Google Play account will be charged when you complete 
         your purchase. Your subscription will automatically renew 
         each month unless you cancel the subscription in your 
         Google Play account before the end of the current billing 
         period.
      </p>
      <p class="for_info2">
        By purchasing the Promote Plus Subscription, you agree to 
        <a color="#679733">Green Thumb's Terms</a> and
        <a color="#679733">Privacy Policy</a>
      </p>
    </ion-col>
  </ion-row>
</ion-content>
