.for_title{
   font-size: 17px;
   font-weight: bold;
}
.for_img{
    width: 30%;
    padding-bottom: 10px;
}
.for_learnmore{
    font-size: 15px;
    font-weight: bold;
}
.for_info{
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
    margin: 0;
}
.for_info2{
    font-size: 14px;
    margin-top: 20px;
}