.line-input {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        margin-top: -5%;
       --background:transparent;
        --padding-start: 0;
    }
  }
  .line-inputcateg {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #e2e2e2;
        border-radius: 4px;
        height: 35px;
        margin-top: 4%;
        --background: #ffffffb5;
    }
  }
  .item_input{
    font-size: 13px;
    margin-top: -15px;
    color: #424242!important;
  }
  .item_label{
    font-weight: bold;
    font-size: 15px;
  }
  .item_label2{
    font-weight: bold;
    font-size: 14px;
  }
    .for_accountitems{
      margin-top: 8%;
      padding: 0;
    }
    #for_eachitem{
      font-size: 14px;
      --inner-padding-end: 0px !important;
      --border-color: #e2f0cb;
      --padding-start: 0% !important;
    }
    .for_eacheader{
      font-size: 15px;
      padding-left: 0;
      font-weight: bold;
      color: #679733;
    }
    .for_eachimg{
      width: 17px;
    }
    