<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Delivery</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
  <!-- <ion-list mode="ios" style="margin-left: -5%;margin-bottom: 5%;">
    <ion-radio-group value="{{delivery_type_id}}" mode="ios">
      <ion-item (click)="Divshow()" mode="ios" style="--border-color: #e2e2e2">
        <ion-label class="item_label" color="secondary">LOCAL PICKUP</ion-label>
        <ion-radio style="zoom: 0.8;" slot="start" color="primary" value="1"></ion-radio>
      </ion-item>
      <ion-item (click)="Divhide()" mode="ios" style="--border-color: #e2e2e2">
        <ion-label class="item_label" color="secondary">SHIPPING</ion-label>
        <ion-radio style="zoom: 0.8;" slot="start" color="primary" value="2"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list> -->
  <ion-list *ngIf="showDiv" class="line-input">
    <ion-label class="item_label" color="secondary">LOCATION</ion-label>
    <ion-radio-group mode="ios" value="2">
       <ion-item (click)="hide()" style="margin-top: 1%;--background:transparent">
        <ion-radio style="zoom: 0.8;" value="1" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label style="font-size: 14px;">(Default) Location</ion-label>
       </ion-item>
       <ion-item (click)="show()">
        <ion-radio style="zoom: 0.8;" value="2" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
        <ion-label style="font-size: 14px;">Custom Location</ion-label>
       </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list *ngIf="showMe" class="line-inputcateg" style="margin-top: -2%;">
    <ion-label class="item_label2" color="secondary">Enter Custom Location</ion-label>
    <ion-item>
      <ion-input mode="ios" type="text" [(ngModel)]="city" class="item_input" placeholder="City" size="small"></ion-input>
     </ion-item>
     <!-- <ion-item>
      <ion-input mode="ios" type="text" [(ngModel)]="district_area" class="item_input" placeholder="District / Area" size="small"></ion-input>
     </ion-item> -->
     <ion-item>
      <ion-input mode="ios" type="number" [(ngModel)]="zip_code" class="item_input" placeholder="Zip code" size="small"></ion-input>
     </ion-item>
     
  </ion-list>

  <ion-list class="for_accountitems" *ngIf="hideDiv">
    <ion-label class="item_label" color="secondary">DELIVERY METHOD</ion-label>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Tacloban City, Philippines</ion-label>
      <ion-note mode="ios" color="secondary" style="font-size: 13px;">Edit</ion-note>
    </ion-item>
    <ion-item mode="ios" id="for_eachitem">
      <ion-label>Sell & ship nationwide
        <ion-text color="medium">
          <h6 style="font-size: 13px;">12.9% service fee applies</h6>
        </ion-text>
        <ion-text color="secondary">
          <h6 style="font-size: 13px;font-weight: bold;">Shipping Policy</h6>
        </ion-text>
      </ion-label>
      <ion-toggle mode="ios" slot="end"></ion-toggle>
    </ion-item>
    <ion-item mode="ios" id="for_eachitem" lines="none">
      <ion-label>What size of package will you use?
        <ion-text color="secondary">
          <h6 style="font-size: 13px;font-weight: bold;">Help me decide</h6>
        </ion-text>
      </ion-label>
    </ion-item>
    <ion-radio-group mode="ios">
      <ion-item mode="ios" id="for_eachitem">
        <ion-radio slot="start"></ion-radio>
        <ion-label>X-small
          <ion-text color="medium">
            <h6 style="font-size: 13px;">8oz (1/2 lb))</h6>
          </ion-text>
        </ion-label>
        <img src="assets/greenthumb-images/xsmall.PNG">
      </ion-item>
      <ion-item mode="ios" id="for_eachitem">
        <ion-radio slot="start"></ion-radio>
        <ion-label>Small
          <ion-text color="medium">
            <h6 style="font-size: 13px;">Approx: 9" x 6" x 3"</h6>
          </ion-text>
        </ion-label>
        <img src="assets/greenthumb-images/small.PNG">
      </ion-item>
      <ion-item mode="ios" id="for_eachitem">
        <ion-radio slot="start"></ion-radio>
        <ion-label>Medium
          <ion-text color="medium">
            <h6 style="font-size: 13px;">Approx: 12" x 9" x 6"</h6>
          </ion-text>
        </ion-label>
        <img src="assets/greenthumb-images/medium.PNG">
      </ion-item>
      <ion-item mode="ios" id="for_eachitem">
        <ion-radio slot="start"></ion-radio>
        <ion-label>Large
          <ion-text color="medium">
            <h6 style="font-size: 13px;">Approx: 14" x 10" x 6"</h6>
          </ion-text>
        </ion-label>
        <img src="assets/greenthumb-images/large.PNG">
      </ion-item>
    </ion-radio-group>
    <ion-item mode="ios" id="for_eachitem">
      <ion-label>Enable Buy Now
        <ion-text color="medium">
          <h6 style="font-size: 13px;">Auto-accept first full-price shipping offer</h6>
        </ion-text>
      </ion-label>
      <ion-toggle mode="ios" slot="end"></ion-toggle>
    </ion-item>
  </ion-list>
 
</ion-content>
<div class="postitem-overlay" padding>
  <ion-button expand="block" [disabled]="disableButton" (click)="goShareitem()" mode="ios" fill="outline" color="primary">
    NEXT
  </ion-button>
  <div class="postitem_container">
    <ul class="postitem_progressbar">
      <li class="whenfocus active"><span>Photo</span></li>
      <li class="whenfocus active"><span>Details</span></li>
      <li class="whenfocus active"><span>Price</span></li>
      <li class="whenfocus"><span>Delivery</span></li>
      <li><span>Post</span></li>
    </ul>
  </div>
</div>