<ion-header translucent mode="ios">
    <ion-toolbar mode="ios">
        <ion-buttons slot="secondary" (click)="goBack()">
            <ion-button>
              <ion-icon slot="icon-only" name="arrow-back" mode="ios"></ion-icon>
            </ion-button>
          </ion-buttons>

        <ion-title>Brixy Store</ion-title>

        <ion-buttons slot="primary" (click)="toAccount()">
          <ion-button>
              <img src="assets/icon/profilee.png" style="width: 32px;" (click)="toAccount()" mode="ios">
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content mode="ios" padding>
             <ion-row style="padding-bottom: 5px;">
                <ion-col style="color: black" mode="ios" text-left>
                    <ion-label class="lvltext"><b>GOLD BARS:</b>&nbsp;&nbsp;</ion-label> <br>
                    <img class="lvlicon" src="assets/icon/gold.png">
                    <ion-text class="lvlnum">{{gold_bar | number:'1.0':'en-US'}}</ion-text>
                </ion-col>
                <ion-col style="color: black;margin-top: 1.2%;" mode="ios" text-right>
                    <ion-label class="lvltext"><b>COINS:</b>&nbsp;&nbsp;</ion-label><br>
                    <img class="lvlicon2" src="assets/icon/imgcoin.png">
                    <ion-text class="lvlnum">{{user_coins | number:'1.0':'en-US'}}</ion-text>
                </ion-col>
            </ion-row>


            <ion-grid>
                <ion-row  mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
                    <ion-col style="color: white" >
                        <ion-label>PURCHASE COINS&nbsp;&nbsp;</ion-label>
                    </ion-col>

                </ion-row>
                <!-- <ion-row>
                    <ion-col>
                        <ion-list  mode="ios">
                            <ion-item *ngFor="let x of coinsList;" (click)="purchaseCoins(x);">
                                <ion-label style="font-size: 12px">
                                    <ion-icon name="logo-bitcoin" style="zoom: 1.2" color="warning"></ion-icon>{{x.coins}}</ion-label>
                                <ion-note slot="end" color="danger" no-padding style="padding-top: 5px;">
                                    <ion-button  mode="ios" size="small" color="success" fill="outline" style="font-size:11px">
                                            USD {{x.amount}}</ion-button>
                                </ion-note>
                            </ion-item>
                        </ion-list>
                    </ion-col>
                </ion-row> -->

            <ion-row>
                <ion-col>
                    <ion-list  mode="ios">
                        <ion-item *ngFor="let x of coinsList;" (click)="purchaseCoins(x);">
                            <ion-label style="font-size: 12px">
                                <img class="lvlicon2" src="assets/icon/imgcoin.png">{{x.coins}}</ion-label>
                            <ion-note slot="end" color="danger" no-padding style="padding-top: 5px;">
                                <ion-button  mode="ios" size="small" color="success" fill="outline" style="font-size:11px">
                                        USD {{x.amount}}</ion-button>
                            </ion-note>
                        </ion-item>
                     </ion-list>
                </ion-col>
            </ion-row>
            </ion-grid>

    <!-- <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
        <ion-slide>
            <ion-grid>
           
            <ion-row  mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
                    <ion-col style="color: white" >
                        <ion-label>PURCHASE GIFTS&nbsp;&nbsp;</ion-label>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list mode="ios">
                        <ion-item (click)="bronze()">
                            <ion-label style="font-size: 12px">Bronze (Popular Gifts)</ion-label>
                            <ion-note slot="end" color="danger">{{bronzeGiftCount}}</ion-note>
                        </ion-item>
                        <ion-item (click)="silver()">
                            <ion-label style="font-size: 12px">Silver (Hot Gifts)</ion-label>
                            <ion-note slot="end" color="danger">{{silverGiftCount}}</ion-note>
                        </ion-item>
                        <ion-item (click)="gold()">
                            <ion-label style="font-size: 12px">Gold (Exclusive Gifts)</ion-label>
                            <ion-note slot="end" color="danger">{{goldGiftCount}}</ion-note>
                        </ion-item>
                        <ion-item (click)="popular()">
                            <ion-label style="font-size: 12px">Popular Pinoy Gifts</ion-label>
                            <ion-note slot="end" color="danger" >{{popularGiftCount}}</ion-note>
                        </ion-item>
                     </ion-list>
                </ion-col>
            </ion-row>
            <ion-row   mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
                    <ion-col style="color: white" >
                        <ion-label>PURCHASE GOLD&nbsp;&nbsp;</ion-label>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list  mode="ios">
                        <ion-item *ngFor="let x of coinsList;" (click)="purchaseCoins(x);">
                            <ion-label style="font-size: 12px">
                                <ion-icon name="logo-bitcoin" style="zoom: 1.2" color="warning"></ion-icon>{{x.coins}}</ion-label>
                            <ion-note slot="end" color="danger" no-padding style="padding-top: 5px;">
                                <ion-button  mode="ios" size="small" color="success" fill="outline" style="font-size:11px">
                                        USD {{x.amount}}</ion-button>
                            </ion-note>
                        </ion-item>
                        
                     </ion-list>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
            <ion-row  mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
                    <ion-col style="color: white" >
                        <ion-label>GIFTS&nbsp;&nbsp;</ion-label>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list  mode="ios">
                        <ion-item (click)="bronze()">
                            <ion-label style="font-size: 12px">Bronze (Popular Gifts)</ion-label>
                            <ion-note slot="end" color="danger">99</ion-note>
                        </ion-item>
                        <ion-item (click)="silver()">
                            <ion-label style="font-size: 12px">Silver (Hot Gifts)</ion-label>
                            <ion-note slot="end" color="danger">99</ion-note>
                        </ion-item>
                        <ion-item (click)="gold()">
                            <ion-label style="font-size: 12px">Gold (Exclusive Gifts)</ion-label>
                            <ion-note slot="end" color="danger">99</ion-note>
                        </ion-item>
                        <ion-item (click)="popular()">
                            <ion-label style="font-size: 12px">Popular Pinoy Gifts</ion-label>
                            <ion-note slot="end" color="danger" >99</ion-note>
                        </ion-item>
                     </ion-list>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid>
                <ion-row  mode="ios" text-center style="background: #1dc1e6;border-radius: 30px;width: 100%;">
                    <ion-col style="color: white" >
                        <ion-label>PURCHASE GOLD&nbsp;&nbsp;</ion-label>
                    </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-list  mode="ios">
                        <ion-item *ngFor="let x of coinsList;" (click)="purchaseCoins(x);">
                            <ion-label style="font-size: 12px">
                                <ion-icon name="logo-bitcoin" style="zoom: 1.2" color="warning"></ion-icon>{{x.coins}}</ion-label>
                            <ion-note slot="end" color="danger" no-padding style="padding-top: 5px;">
                                <ion-button  mode="ios" size="small" color="success" fill="outline" style="font-size:11px">
                                        USD {{x.amount}}</ion-button>
                            </ion-note>
                        </ion-item>
                     </ion-list>
                </ion-col>
            </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides> -->
</ion-content>
