.justify{
    text-align: justify;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.btn-default{
    --background: #1dc1e6;
}
.item-inner {
    padding-right: 0px!important;
 }
 .lvlicon{
    width: 25px !important; 
    height: 25px; 
    margin: auto;
    margin-bottom: -2%;
    margin-right: 3%;
  }
  .lvlicon2{
    width: 20px !important;
    height: 18px;
    margin: auto;
    margin-bottom: -1%;
    margin-right: 3%;
  }
  .lvltext{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ion-item {
    --padding-start: 0% !important;
    --inner-padding-end: 0px !important;
   
}
