
<ion-tabs mode="ios" appSwipetab (ionTabsDidChange)="ionTabsDidChange($event)" (tabChange)="onTabChange($event)" #myTabs>  

  <ion-fab mode="ios" vertical="bottom" horizontal="center" translucent="true">
    <ion-fab-button mode="ios" (click)="goTab3()">
      <ion-icon mode="ios" name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
  <ion-tab-bar mode="ios" slot="bottom" class="ion-no-border">
    <!-- home icon -->
    <ion-tab-button mode="ios" tab="tab1">
      <ion-icon></ion-icon>
    </ion-tab-button>

     <!-- message icon -->
    <ion-tab-button mode="ios" tab="tab5">
      <ion-icon></ion-icon>
      <ion-badge *ngIf="notif_count>0" mode="ios" style="font-weight: normal;--background: #e44545;font-size: 10px;">
        {{notif_count}}</ion-badge>
    </ion-tab-button>

     <!-- camera icon -->
    <svg mode="ios" height="50" viewBox="0 0 100 50" width="100" xmlns="http://www.w3.org/2000/svg"><path d="M100 0v50H0V0c.543 27.153 22.72 49 50 49S99.457 27.153 99.99 0h.01z" fill="red" fill-rule="evenodd"></path></svg>

     <!-- categories icon -->
    <ion-tab-button mode="ios" tab="categories" class="categories">
      <ion-icon></ion-icon>
    </ion-tab-button>

     <!-- profile icon -->
    <ion-tab-button mode="ios" tab="myaccount" class="profile">
      <ion-icon></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
<!-- 
<ion-tabs mode="ios">
  <ion-tab-bar slot="bottom" mode="ios">
    <ion-tab-button tab="tab1" mode="ios">
      <ion-label mode="ios">Home</ion-label>
      <ion-icon name="home" mode="ios"></ion-icon>
    </ion-tab-button>
    <ion-tab-button (click)="goTab3()" mode="ios">
      <ion-label mode="ios">Post</ion-label>
      <ion-icon name="camera" mode="ios"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="tab5" mode="ios">
      <ion-label mode="ios">Messages</ion-label>
      <ion-icon name="mail" mode="ios"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="myaccount" mode="ios">
      <ion-label mode="ios">Profile</ion-label>
      <ion-icon name="contact" mode="ios"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs> -->