<ion-header mode="ios">
  <ion-toolbar mode="ios" no-padding>
  </ion-toolbar>
</ion-header>
<ion-content mode="ios" text-center style="padding-bottom: 0;">
   <p style="font-size: 20px;" mode="ios" no-padding><b>Gold Bars {{paychart.gold_bars}}</b></p> 
 <p mode="ios" style="line-height: 0;"> <ion-icon name="logo-bitcoin" color="warning" mode="ios"></ion-icon>USD {{paychart.usd_amount}}</p> 
 <p>Request Cash out ? </p>
</ion-content>
<ion-footer mode="ios">
    <ion-toolbar mode="ios" style="padding-left: 10px;padding-right: 10px">
        <ion-button slot="start" mode="ios" color="danger" size="small" (click)="closeModal()">
          Cancel
        </ion-button>
         <ion-button slot="end" (click)="confirmPaymentRequest()" mode="ios" color="secondary" size="small">
          Proceed
        </ion-button>
      </ion-toolbar>
</ion-footer>