<ion-header mode="ios" no-border style="padding-top: 3%;">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Saved items </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row *ngFor="let item of itemList">
    <ion-col>
      <ion-card mode="ios" class="for_items" >
        <ion-card-content no-padding>
          <ion-row>
            <ion-col text-left size="5">
              <ion-item lines="none" class="for_itemms" (click)="goProductview(item.id)">
                <ion-avatar slot="start">
                  <div *ngIf="!item?.profile_photo">
                    <img src="assets/greenthumb-images/userpic.png">
                  </div>
                  <div *ngIf="item?.profile_photo">
                    <img [src] = "item.profile_photo" >
                  </div> 
                </ion-avatar>
                <ion-label class="for_name">username{{item.username}}</ion-label>
              </ion-item>
              <img (click)="goProductview(item.id)" class="for_itemmimg" [src] = "item.item_cover_photo">
            </ion-col>
            <ion-col text-left size="7">
              <ion-row (click)="goProductview(item.id)">
                <ion-col no-padding text-left>
                  <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                    <div class="for_unitqty">{{item.quantity}} 
                      <label *ngIf="item.stocks_id=='1'">
                        <label *ngIf="item.quantity>1">pieces</label>
                        <label *ngIf="item.quantity==1">piece</label>
                      </label>
                      <label *ngIf="item.stocks_id=='2'">
                        <label *ngIf="item.quantity>1">pounds</label>
                        <label *ngIf="item.quantity==1">pound</label>
                      </label>
                      <label *ngIf="item.stocks_id=='3'">
                        <label *ngIf="item.quantity>1">ounces</label>
                        <label *ngIf="item.quantity==1">ounce</label>
                      </label>
                      <label *ngIf="item.stocks_id=='4'">
                        {{item.others_stock}}
                      </label>
                    </div>
                  </h2></ion-label>
                  <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                </ion-col>
                <ion-col no-padding text-right>
                  <div class="for_category">{{item.category}}</div>
                  <div style="margin-top: 5px;">
                      <ionic4-star-rating #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#ffce00" 
                          defaultColor = "#ffce00"
                          readonly="false"
                          rating="{{item.user_rating}}"
                          fontSize = "15px">
                        </ionic4-star-rating>
                  </div>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                <ion-col no-padding text-left>
                  <ion-label color="dark">
                    <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                </ion-col>
              </ion-row>
              <ion-label ><h2 class="for_itemmlocation">
                <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp; {{item.location}}
              </h2></ion-label>
              <ion-row>
                <ion-col no-padding text-left size="9" class="for_borderitem" (click)="goProductview(item.id)">
                  <ion-row>
                    <ion-col text-left no-padding>
                      <ion-label color="secondary"><h2 class="for_itemmbtn">
                          &nbsp;{{item.date}}
                        </h2></ion-label>
                    </ion-col>
                    <ion-col text-left no-padding>
                      <ion-label color="secondary"><h2 class="for_itemmbtn">
                          &nbsp;{{item.time}}
                        </h2></ion-label>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col no-padding text-center size="3" (click)="saveThis(item.id)">
                  <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios"
                  id="class{{item.id}}" [class]="(item.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <!-- <ion-row justify-content-center align-items-center style='height: 80%'>
    <ion-col text-center>
      <ion-label color="secondary"><h2 class="message">No items archived</h2></ion-label>
      <p style="margin-top: 0;">When you archive an item, you'll see it here</p>
    </ion-col>
  </ion-row> -->
</ion-content>
