<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col text-center>
        <ion-avatar style="margin: auto;">
          <img src="assets/greenthumb-images/userpicdark.png">
          <ion-icon mode="ios" (click)="update_photo()" class="upload_photo" name="camera"></ion-icon>
        </ion-avatar>
        <ion-label>
          <h2 class="for_selname"><b>{{username}}</b></h2>
          <h3 class="for_location">Tacloban City, Philippines</h3>
          <ion-row>
            <ion-col text-center no-padding>
              <!-- <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium" color="warning"></ion-icon>&nbsp; -->
              <ionic4-star-rating #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#ffce00" 
                          defaultColor = "#ffce00"
                          readonly="false"
                          rating="{{user_rating}}"
                          fontSize = "15px">
                        </ionic4-star-rating>
              <!-- <span style="font-size: 15px;">({{user_rating}})</span> -->
            </ion-col>
          </ion-row>
        </ion-label>
    </ion-col>
  </ion-row>
  <ion-row padding class="for_sortfeed">
    <ion-col size="6">
      <ion-item mode="ios" lines="none" style="--padding-start: 0;">
        <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Okay" cancelText="Dismiss">
          <ion-label>Sort feed</ion-label>
          <ion-select-option value="Sort feed" selected>Sort feed</ion-select-option>
          <ion-select-option value="Latest">Latest</ion-select-option>
          <ion-select-option value="Local Pickup">Local Pickup</ion-select-option>
          <ion-select-option value="Shipping">Shipping</ion-select-option>
          <ion-select-option value="Sellers I follow">Sellers I follow</ion-select-option>
          <ion-select-option value="Closest Location">Closest Location</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="6" text-right>
      <ion-item text-right mode="ios" lines="none" style="--padding-start: 0;position: absolute;right: 0;">
        <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Okay" cancelText="Dismiss">
          <ion-label>Price</ion-label>
          <ion-select-option value="Any" selected>Price: Any</ion-select-option>
          <ion-select-option value="Lowest to Highest">Lowest to Highest</ion-select-option>
          <ion-select-option value="Highest to Lowest">Highest to Lowest</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

      
    <!-- List of items -->


    <ion-row *ngFor="let item of itemList" >
      <ion-col>
        <ion-card mode="ios" class="for_items" >
          <ion-card-content no-padding>
            <ion-row>
              <ion-col text-left size="5">
                <ion-item lines="none" class="for_itemms" (click)="goSellerprof(item.user_id)">
                  <ion-avatar slot="start">
                    <img src="assets/greenthumb-images/userpic.png">
                  </ion-avatar>
                  <ion-label class="for_name">{{item.username}}</ion-label>
                </ion-item>
                <img (click)="goProductview(item.id)" class="for_itemmimg" src="assets/greenthumb-images/banana.png">
              </ion-col>
              <ion-col text-left size="7">
                <ion-row (click)="goProductview(item.id)">
                  <ion-col no-padding text-left>
                    <div class="for_unitqty">3000 pieces</div>
                    <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                  </ion-col>
                  <ion-col no-padding text-right>
                    <div class="for_category">{{item.category}}</div>
                    <div style="margin-top: 5px;">
                      <ionic4-star-rating #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#ffce00" 
                          defaultColor = "#ffce00"
                          readonly="false"
                          rating="{{item.user_rating}}"
                          fontSize = "15px">
                        </ionic4-star-rating>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                  <ion-col no-padding text-left>
                    <ion-label color="dark">
                      <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                  </ion-col>
                </ion-row>
                
                <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item.location}}
                </h2></ion-label>
                <ion-row>
                  <ion-col no-padding text-left size="12" class="for_borderitem" (click)="goProductview(item.id)">
                    <ion-row>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item.date}}
                          </h2></ion-label>
                      </ion-col>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item.time}}
                          </h2></ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
        <ion-card mode="ios" class="for_items" (click)="goProductview()">
          <ion-card-content no-padding>
            <ion-row style="margin-left: -2%;">
              <ion-col text-left size="5" style="padding-right: 0;">
                <ion-chip class="ion-margin-start for_chip">
                  <ion-avatar>
                    <img src="assets/greenthumb-images/userpic.png">
                  </ion-avatar>
                  <ion-label style="font-size: 12px;" color="secondary">by Seller Name</ion-label>
                </ion-chip><br>
                  <img class="for_itemimg" src="assets/greenthumb-images/banana.png">
              </ion-col>
              <ion-col text-left size="7">
                <ion-label color="secondary"><h1 class="for_price">$600.99</h1></ion-label>
                <ion-label color="dark"><h2 class="for_itemname">Lorem Item Name</h2></ion-label>
                <ion-label color="secondary"><h6 class="for_itemcateg">Category Name</h6></ion-label>
                <ion-label color="dark"><h2 class="for_itemlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;New York, New York City
                </h2></ion-label>
                <ion-row>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="danger" name="heart"></ion-icon>&nbsp;Follow
                      </h2></ion-label>
                    </a>
                  </ion-col>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="primary" name="heart"></ion-icon>&nbsp;Save
                      </h2></ion-label>
                    </a>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card mode="ios" class="for_items" (click)="goProductview()">
          <ion-card-content no-padding>
            <ion-row style="margin-left: -2%;">
              <ion-col text-left size="5" style="padding-right: 0;">
                <ion-chip class="ion-margin-start for_chip">
                  <ion-avatar>
                    <img src="assets/greenthumb-images/userpic.png">
                  </ion-avatar>
                  <ion-label style="font-size: 12px;" color="secondary">by Seller Name</ion-label>
                </ion-chip><br>
                  <img class="for_itemimg" src="assets/greenthumb-images/apple.png">
              </ion-col>
              <ion-col text-left size="7">
                <ion-label color="secondary"><h1 class="for_price">$600.99</h1></ion-label>
                <ion-label color="dark"><h2 class="for_itemname">Lorem Item Name</h2></ion-label>
                <ion-label color="secondary"><h6 class="for_itemcateg">Category Name</h6></ion-label>
                <ion-label color="dark"><h2 class="for_itemlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;New York, New York City
                </h2></ion-label>
                <ion-row>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="danger" name="heart"></ion-icon>&nbsp;Follow
                      </h2></ion-label>
                    </a>
                  </ion-col>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="primary" name="heart"></ion-icon>&nbsp;Save
                      </h2></ion-label>
                    </a>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card mode="ios" class="for_items" (click)="goProductview()">
          <ion-card-content no-padding>
            <ion-row style="margin-left: -2%;">
              <ion-col text-left size="5" style="padding-right: 0;">
                <ion-chip class="ion-margin-start for_chip">
                  <ion-avatar>
                    <img src="assets/greenthumb-images/userpic.png">
                  </ion-avatar>
                  <ion-label style="font-size: 12px;" color="secondary">by Seller Name</ion-label>
                </ion-chip><br>
                  <img class="for_itemimg" src="assets/greenthumb-images/orange.png">
              </ion-col>
              <ion-col text-left size="7">
                <ion-label color="secondary"><h1 class="for_price">$600.99</h1></ion-label>
                <ion-label color="dark"><h2 class="for_itemname">Lorem Item Name</h2></ion-label>
                <ion-label color="secondary"><h6 class="for_itemcateg">Category Name</h6></ion-label>
                <ion-label color="dark"><h2 class="for_itemlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;New York, New York City
                </h2></ion-label>
                <ion-row>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="danger" name="heart"></ion-icon>&nbsp;Follow
                      </h2></ion-label>
                    </a>
                  </ion-col>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="primary" name="heart"></ion-icon>&nbsp;Save
                      </h2></ion-label>
                    </a>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card mode="ios" class="for_items" (click)="goProductview()">
          <ion-card-content no-padding>
            <ion-row style="margin-left: -2%;">
              <ion-col text-left size="5" style="padding-right: 0;">
                <ion-chip class="ion-margin-start for_chip">
                  <ion-avatar>
                    <img src="assets/greenthumb-images/userpic.png">
                  </ion-avatar>
                  <ion-label style="font-size: 12px;" color="secondary">by Seller Name</ion-label>
                </ion-chip><br>
                  <img class="for_itemimg" src="assets/greenthumb-images/tomato.png">
              </ion-col>
              <ion-col text-left size="7">
                <ion-label color="secondary"><h1 class="for_price">$600.99</h1></ion-label>
                <ion-label color="dark"><h2 class="for_itemname">Lorem Item Name</h2></ion-label>
                <ion-label color="secondary"><h6 class="for_itemcateg">Category Name</h6></ion-label>
                <ion-label color="dark"><h2 class="for_itemlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;New York, New York City
                </h2></ion-label>
                <ion-row>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="danger" name="heart"></ion-icon>&nbsp;Follow
                      </h2></ion-label>
                    </a>
                  </ion-col>
                  <ion-col text-left>
                    <a href="#" style="text-decoration: none;">
                      <ion-label color="secondary"><h2 class="for_itembtn">
                        <ion-icon class="for_itembtnicon" mode="ios" color="primary" name="heart"></ion-icon>&nbsp;Save
                      </h2></ion-label>
                    </a>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row> -->

</ion-content>
