
.my-overlay {
  position: fixed;
  width: 100%;
  height: 20%;
  background:  white;
  box-shadow: 5px 5px black;
  z-index: 200000000000000000000000;
  bottom: 0%;
  left: 0;
  border-top: 1px solid #e2e2e2;
}

// .greenthumb_links{
//   color: #76c961; 
//   text-decoration: none;
// }