<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-title color="secondary">Terms of Service</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios">
  <iframe src="https://greenthumbtrade.com/terms-of-service" style="height: 80vh; width: 100%;"></iframe>
<!-- <p style="margin-top: 0;margin-bottom: 50px;padding-top: 2%;" padding mode="ios" text-justify>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Nunc dapibus pulvinar auctor. Duis nec sem at orci commodo viverra id in ipsum. Fusce tellus nisl, vestibulum sed rhoncus at, pretium non libero. Cras vel lacus ut ipsum vehicula aliquam at quis urna.
    <br><br>Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce convallis pellentesque metus id lacinia. Cras vel lacus ut ipsum vehicula aliquam at quis urna. Nunc ac ornare ante. Fusce lobortis neque in diam vulputate quis semper sem elementum.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fu
  </p> -->
  <br> <br> <br> <br> <br> <br> 
  <div class="my-overlay" padding>
    
    <ion-item lines="none" style="--padding-start:0" mode="ios">
      <ion-checkbox mode="ios" (click)="agreeTermedChecked()" style="font-size: 10px;margin: 0;margin-top: -10px;" color="primary" slot="start"></ion-checkbox>
      <h6 mode="ios" text-center style="font-size: 13px;font-weight: 500;color: #a5a5a5;margin-bottom: 5%;margin-top: 2%;">
        By proceeding you also agree to the 
        <ion-text color="secondary" (click)="terms_of_service()">Terms of Service, </ion-text> 
        <ion-text color="secondary" (click)="user_policy()">User Policy,</ion-text> 
         and <ion-text color="secondary" (click)="privacy_policy()"> Privacy Policy.</ion-text> </h6>
    </ion-item>
    <ion-button [disabled]="!checked" (click)="agreeTermed()" expand="block" mode="ios" style="margin-bottom: 7%;" color="primary">
      I AGREE
    </ion-button>
</div>
</ion-content>