
<ion-content>
  <ion-card mode="ios" no-margin class="for_card" style="box-shadow:none">
    <ion-card-header class="for_cardheader">
      <ion-card-subtitle class="for_back" mode="ios" (click)="goBack()">Back</ion-card-subtitle>
      <!-- <ion-icon class="for_back" mode="ios" name="arrow-back" (click)="goBack()">Back</ion-icon> -->
      <ion-card-subtitle *ngIf="!ownProfile" class="for_report" mode="ios" (click)="goHelp()">Help</ion-card-subtitle>
      <img *ngIf="!ImageArray" src="assets/greenthumb-images/tomato.png" class="for_imgfruit"> 

      <ion-slides *ngIf="ImageArray" [options]="slideOptsOne" pager="true" mode="ios" id="slide_forpromo">
        <ion-slide *ngFor="let slide of ImageArray" mode="ios">
          <div class="slide" mode="ios">
            <ion-card mode="ios" class="promocard">
              <ion-card-header mode="ios" class="promoheader" style="padding: 7px;">
                <ion-row>
                 
                  <ion-col no-padding text-right>
                    <img src="{{slide.picture_filename}}" class="for_imgfruit">
                  </ion-col>
    
                </ion-row>
              </ion-card-header>
            </ion-card>
          </div>
        </ion-slide>
      </ion-slides>

    </ion-card-header>
  </ion-card> 
  
  <ion-row style="margin-top: -25px;">
    <ion-col text-left>
      <ion-chip mode="ios" (click)="goSellerprof()" style="--background: white; margin-left: 20px;">
        <ion-avatar>
          <div *ngIf="!picture">
            <img src="assets/greenthumb-images/userpicdark.png">
          </div>
          <div *ngIf="picture">
            <img [src] = "complete_pic">
          </div>
        </ion-avatar>
        <ion-label style="font-size: 12px;" >by {{item_seller}}</ion-label>
      </ion-chip>
    </ion-col>
    <ion-col text-right>
      <ion-icon *ngIf="!ownProfile" mode="ios" class="for_social" (click)="saveItem()" [color]="statusSave ? 'danger' : 'light'" name="heart"></ion-icon>&nbsp;
      <!-- <ion-icon mode="ios" class="for_social" color="light" name="heart"></ion-icon>&nbsp; -->
      <ion-icon mode="ios" class="for_social" color="light" name="share-alt"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 10px;padding-bottom: 0;">
    <ion-col text-left size="7">
      <ionic4-star-rating #rating
        activeIcon = "ios-star"
        defaultIcon = "ios-star-outline"
        activeColor = "#ffce00" 
        defaultColor = "#ffce00"
        readonly="false"
        rating="{{user_rating}}"
        fontSize = "15px">
      </ionic4-star-rating>&nbsp;
      <!-- <span class="for_spanstar">({{user_rating}})</span> -->
      <ion-label color="dark"><h1 style="margin-bottom: -2px;"><b>{{item_name}}</b></h1></ion-label>
      <ion-label class="for_categname">{{item_category}}</ion-label>
    </ion-col>
    <ion-col text-right size="5">
      <ion-label color="secondary"><h1 class="for_pr"><b>${{item_price}}</b></h1></ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -5px;padding-top: 0;padding-bottom: 0;" padding >
    <ion-col size="12" no-padding text-left> 
      <ion-icon class="for_pin" color="primary" name="pin" mode="ios"></ion-icon>
      <ion-label class="for_locname" style="font-size: 13px;text-transform:capitalize;" color="dark">
        {{item_location}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 0;padding-bottom: 5px;">
    <ion-col>
      <ion-item mode="ios" class="for_iteminfo">
        <ion-label color="dark" class="for_label"><b>Quantity and Unit</b></ion-label>
        <ion-label color="medium" slot="end" class="for_text">{{item_quantity}} 
          <label *ngIf="item_stock_id=='1'">
            <label *ngIf="item_quantity>1">pieces</label>
            <label *ngIf="item_quantity<=1">piece</label>
          </label>
          <label *ngIf="item_stock_id=='2'">
            <label *ngIf="item_quantity>1">pounds</label>
            <label *ngIf="item_quantity<=1">pound</label>
          </label>
          <label *ngIf="item_stock_id=='3'">
            <label *ngIf="item_quantity>1">ounces</label>
            <label *ngIf="item_quantity<=1">ounce</label>
          </label>
          <label *ngIf="item_stock_id=='4'">
            {{item_other_stock}}
          </label>
        </ion-label>
      </ion-item>
      <ion-item mode="ios" class="for_iteminforest">
        <ion-label color="dark" class="for_label"><b>Availability</b></ion-label>
        <ion-label color="medium" slot="end" class="for_text">In Stock</ion-label>
      </ion-item>
      <ion-item mode="ios" class="for_iteminforest">
        <ion-label color="dark" class="for_label"><b>Delivery Type</b></ion-label>
        <ion-label color="medium" slot="end" class="for_text">Local Pickup</ion-label>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row padding style="padding-top: 0;">
    <ion-col text-left no-padding size="4">
      <ion-label style="font-size: 14px;margin-left: 5px;" color="dark" class="for_label"><b>Description</b></ion-label>
    </ion-col>
    <ion-col no-padding size="8" text-right>
      <p class="for_txtoverview">
        {{item_description}}
      </p>
    </ion-col>
  </ion-row>
</ion-content>
<div id="overlay" padding>
  <ion-row *ngIf="!ownProfile">
    <ion-col size="2" no-padding>
      <ion-button color="danger" expand="block" mode="ios" (click)="goReport()">
        <ion-icon name="warning" mode="ios"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" no-padding>
      <ion-button fill="outline" expand="block"  (click)="goMessage()" mode="ios">
        MESSAGE
      </ion-button>
    </ion-col>
    <ion-col size="6" no-padding>
      <ion-button *ngIf="!pending_purchase" expand="block" (click)="purchaseProduct()" mode="ios">
        PURCHASE ITEM
      </ion-button>
      <ion-button  *ngIf="pending_purchase" expand="block" (click)="cancelPurchase()" mode="ios">
        CANCEL PURCHASE
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="ownProfile">
    <ion-col size="2" no-padding>
      <ion-button id="for_btn" fill="outline" expand="block" mode="ios" (click)="goOffers()">
        <ion-icon name="basket" mode="md"></ion-icon>
      </ion-button>
    </ion-col>
    <ion-col size="4" no-padding>
      <ion-button id="for_btn" (click)="deleteItem(item_id)" color="danger" expand="block"  mode="ios">
        DELETE
      </ion-button>
    </ion-col>
    <ion-col size="6" no-padding>
      <ion-button expand="block" (click)="goEdit(item_id)" mode="ios" >
        <ion-icon mode="md" name="create"></ion-icon>&nbsp;&nbsp;UPDATE ITEM
      </ion-button>
    </ion-col>
  </ion-row>
</div>
