<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Categories</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>


  <ion-grid class="grid-categories">
    <ion-row *ngFor="let category of categoryList; let i = index" style="padding: 5px;" >
      <ion-col (click)="selected(category.id, category.category)" *ngIf="i % 2 == 0">
        <ion-card mode="ios" class="for_card" text-center>
          <div *ngIf="!category.category_photo">
            <img src="assets/greenthumb-images/greenthumblogo.png">
          </div>
          <div *ngIf="category.category_photo">
            <img [src] = "category.category_photo">
          </div>
          <ion-card-content class="for_cardcontent">
            {{category.category}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-categories">
    <ion-row *ngFor="let category of categoryList; let i = index" style="padding: 5px;">
      <ion-col (click)="selected(category.id, category.category)" *ngIf="i % 2 != 0">
        <ion-card mode="ios" class="for_card" text-center>
          <div *ngIf="!category.category_photo">
            <img src="assets/greenthumb-images/greenthumblogo.png">
          </div>
          <div *ngIf="category.category_photo">
            <img [src] = "category.category_photo">
          </div>
          <ion-card-content class="for_cardcontent">
            {{category.category}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


<!-- <ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
  <ion-segment-button style="padding: 3px" mode="ios" value="0">
      <ion-label>Vegetables</ion-label>
  </ion-segment-button>  
  <ion-segment-button style="padding: 3px" mode="ios" value="1">
      <ion-label>Fruits</ion-label>
  </ion-segment-button>
  <ion-segment-button style="padding: 3px" mode="ios" value="2">
    <ion-label>Produces</ion-label>
</ion-segment-button>
</ion-segment>

  <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
    
        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col size="6" (click)="selected(2,'Apple')">
                <ion-card mode="ios" class="for_card">
                  <div class="div_card">
                    <ion-icon color="dark" class="for_divicon" name="search" mode="ios"></ion-icon>
                  </div>
                  <ion-card-content class="for_cardcontent">
                    Apple
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6" (click)="selected(3,'Orange')">
                <ion-card mode="ios" class="for_card">
                  <div class="div_card">
                    <ion-icon color="dark" class="for_divicon" name="pin" mode="ios"></ion-icon>
                  </div>
                  <ion-card-content class="for_cardcontent">
                    Orange
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
            <ion-row style="padding: 5px;">
              <ion-col size="6" (click)="selected(4,'Grapes')">
                <ion-card mode="ios" class="for_card">
                  <div class="div_card">
                    <ion-icon color="dark" class="for_divicon" name="people" mode="ios"></ion-icon>
                  </div>
                  <ion-card-content class="for_cardcontent">
                    Grapes
                  </ion-card-content>
                </ion-card>
              </ion-col>
              <ion-col size="6" (click)="selected(5,'Bananas')">
                <ion-card mode="ios" class="for_card">
                  <div class="div_card">
                    <ion-icon color="dark" class="for_divicon" name="search" mode="ios"></ion-icon>
                  </div>
                  <ion-card-content class="for_cardcontent">
                    Bananas
                  </ion-card-content>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
       
        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col>
                <p>empty</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col>
                <p>empty</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>

    </ion-slides> -->
</ion-content>
