.for_card{
    margin:0;
    border-radius: 5px;
}
.div_card{
    background: #e2f0cb;
}
.for_divicon{
    zoom: 8;
}
.for_cardcontent{
    font-size: 14px;
    color: #679733;
    padding: 7px;
    text-align: center;
    background: #e2f0cb38;
    border-top: 1px solid #e2f0cb;
}
.grid-categories {
    width: 50%;
    float: left;
    padding: 0;
}