.justify{
    text-align: justify;
}
.img-responsive{
    width: 100%;
    height: auto;
}
.btn-default{
    --background: #1dc1e6;
}
.my-overlay {
    position: fixed;
    width: 100%;
    height: 20%;
    background:  white;
    box-shadow: 5px 5px black;
    z-index: 20;
    bottom: 0%;
    left: 0;
    border-top: 1px solid #ebf1f0;
  }
