<ion-header no-border mode="ios">
  <ion-toolbar mode="ios">
    
      
      <ion-item id="customsearchbartab1" style="--padding-start:0;--inline-padding-end:0;--background:transparent" lines="none">
        <ion-input (keyup.enter)="searchItem()" placeholder="Search for items" [(ngModel)]="searchQuery" mode="ios">
        </ion-input>
        <ion-icon name="search" slot="start" mode="ios"></ion-icon>
      </ion-item>

      <ion-buttons  slot="primary" mode="ios" class="btnheader" (click)="goLocation()"> 
        <ion-button mode="ios" style="margin-right: -5px;">
          <ion-icon src="assets/greenthumb-images/location_pin.svg" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-buttons slot="primary" mode="ios" class="btnheader" (click)="goOffers()"> 
        <ion-button mode="ios" style="margin-right: 0;">
          <ion-icon name="basket" mode="md" size="large"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-row *ngIf="hideMe">
    <ion-col>
      <ion-card mode="ios" no-margin text-left style="box-shadow: none;">
        <ion-card-header mode="ios" class="card_header">
          <ion-row>
            <ion-col text-left no-padding>
              <ion-card-title mode="ios" color="secondary" class="card_title">What's New ?</ion-card-title>
            </ion-col>
            <ion-col text-right no-padding>
              <div class="card_hide" (click)="hide()">Hide</div>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content *ngFor="let announce of announcement"  mode="ios" class="card_content">
          {{announce.title}}
          <br>
          <div class="card_txt">{{announce.announcement}}</div>
          <div style="font-weight: bold;padding-top: 8px;" class="card_hide gotoAnnounce" 
          (click)="allAnnouncements()">Go Archive</div>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="forpad_ifhide" style="padding-top: 10px">
    <ion-slides [options]="slideOptsOne" pager="true" mode="ios" id="slide_forpromoss">
      <ion-slide *ngFor="let slide of ImageArray" mode="ios">
        <div class="slide" mode="ios">
          <ion-card mode="ios" class="promocard">
            <ion-card-header mode="ios" class="promoheader">
              <ion-row>
                <ion-col text-left size="5" no-padding class="ion-align-self-center" style="padding-bottom: 15px;">
                  <ion-card-subtitle class="promo_smalltxt">{{slide.text}}</ion-card-subtitle>
                  <ion-card-title class="promo_largetxt">Organic</ion-card-title>
                  <ion-card-subtitle style="margin-top: -3%;" class="promo_smalltxt">Way of Life</ion-card-subtitle>
                  <ion-button mode="ios" size="small" class="btnshop">SHOP NOW</ion-button>
                </ion-col>
                <ion-col no-padding size="7" text-right>
                  <img src="{{slide.image}}" style="margin: auto;">
                </ion-col>
              </ion-row>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-slide>
    </ion-slides>
    <ion-row padding class="for_sortfeed">
      <ion-col size="6">
        <ion-item mode="ios" lines="none" style="--padding-start: 0;">
          <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Sort" cancelText="Dismiss">
            <ion-label>Sort feed</ion-label>
            <ion-select-option value="Sort feed" selected>Sort feed</ion-select-option>
            <ion-select-option value="Latest">Latest</ion-select-option>
            <ion-select-option value="Local Pickup">Local Pickup</ion-select-option>
            <ion-select-option value="Shipping">Shipping</ion-select-option>
            <ion-select-option value="Sellers I follow">Sellers I follow</ion-select-option>
            <ion-select-option value="Closest Location">Closest Location</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
      <ion-col size="6" text-right>
        <ion-item text-right mode="ios" lines="none" style="--padding-start: 0;position: absolute;right: 0;">
          <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Sort" cancelText="Dismiss">
            <ion-label>Price</ion-label>
            <ion-select-option value="Any" selected>Price: Any</ion-select-option>
            <ion-select-option value="Lowest to Highest">Lowest to Highest</ion-select-option>
            <ion-select-option value="Highest to Lowest">Highest to Lowest</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <!-- List of items -->

    <ion-grid style="text-align: center;" *ngIf="loader"> 

        <ion-spinner name="crescent"></ion-spinner>
    </ion-grid>

    <ion-grid *ngIf="!searchedTurn">

      <!-- for promoted Items-->
      
      <ion-row *ngFor="let item of itemListPromoted" >
        <ion-col>
          <ion-card mode="ios" class="for_items" >
            <ion-card-content no-padding>
              <ion-row>
                <ion-col text-left size="5">
                  <ion-item lines="none" class="for_itemms" (click)="goSellerprof(item.user_id)">
                    <ion-avatar slot="start">
                     
                      <div *ngIf="!item?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="item?.profile_photo">
                        <img [src] = "item.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label class="for_name">{{item.username}}</ion-label>
                  </ion-item>
                  <img (click)="goProductview(item.id)" class="for_itemmimg" [src] = "item.item_cover_photo">
                </ion-col>
                <ion-col text-left size="7">
                  <ion-row (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label color="danger">Promoted</ion-label>
                      <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                    
                        <div class="for_unitqty">{{item.quantity}} 
                          <label *ngIf="item.stocks_id=='1'">
                            <label *ngIf="item.quantity>1">pieces</label>
                            <label *ngIf="item.quantity<=1">piece</label>
                          </label>
                          <label *ngIf="item.stocks_id=='2'">
                            <label *ngIf="item.quantity>1">pounds</label>
                            <label *ngIf="item.quantity<=1">pound</label>
                          </label>
                          <label *ngIf="item.stocks_id=='3'">
                            <label *ngIf="item.quantity>1">ounces</label>
                            <label *ngIf="item.quantity<=1">ounce</label>
                          </label>
                          <label *ngIf="item.stocks_id=='4'">
                            {{item.others_stock}}
                          </label>
                        </div>
                          </h2></ion-label>
                      <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                    </ion-col>
                    <ion-col no-padding text-right>
                      <div class="for_category">{{item.category}}</div>
                      <div style="margin-top: 5px;">
                          <ionic4-star-rating #rating
                            activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#ffce00" 
                            defaultColor = "#ffce00"
                            readonly="false"
                            rating="{{item.user_rating}}"
                            fontSize = "15px">
                          </ionic4-star-rating>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label color="dark">
                        <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-label ><h2 class="for_itemmlocation">
                    <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item.location}}
                  </h2></ion-label>
                  <ion-row>
                    <ion-col no-padding text-left size="9" class="for_borderitem" (click)="goProductview(item.id)">
                      <ion-row>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.date}}
                            </h2></ion-label>
                        </ion-col>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.time}}
                            </h2></ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col no-padding text-center size="3" (click)="saveThis(item.id)">
                      <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios"
                      id="class{{item.id}}" [class]="(item.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

      <!---->

      <ion-row *ngFor="let item of itemList" >
        <ion-col>
          <ion-card mode="ios" class="for_items" >
            <ion-card-content no-padding>
              <ion-row>
                <ion-col text-left size="5">
                  <ion-item lines="none" class="for_itemms" (click)="goSellerprof(item.user_id)">
                    <ion-avatar slot="start">
                     
                      <div *ngIf="!item?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="item?.profile_photo">
                        <img [src] = "item.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label class="for_name">{{item.username}}</ion-label>
                  </ion-item>
                  <img (click)="goProductview(item.id)" class="for_itemmimg" [src] = "item.item_cover_photo">
                </ion-col>
                <ion-col text-left size="7">
                  <ion-row (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                    
                        <div class="for_unitqty">{{item.quantity}} 
                          <label *ngIf="item.stocks_id=='1'">
                            <label *ngIf="item.quantity>1">pieces</label>
                            <label *ngIf="item.quantity<=1">piece</label>
                          </label>
                          <label *ngIf="item.stocks_id=='2'">
                            <label *ngIf="item.quantity>1">pounds</label>
                            <label *ngIf="item.quantity<=1">pound</label>
                          </label>
                          <label *ngIf="item.stocks_id=='3'">
                            <label *ngIf="item.quantity>1">ounces</label>
                            <label *ngIf="item.quantity<=1">ounce</label>
                          </label>
                          <label *ngIf="item.stocks_id=='4'">
                            {{item.others_stock}}
                          </label>
                        </div>
                          </h2></ion-label>
                      <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                    </ion-col>
                    <ion-col no-padding text-right>
                      <div class="for_category">{{item.category}}</div>
                      <div style="margin-top: 5px;">
                          <ionic4-star-rating #rating
                            activeIcon = "ios-star"
                            defaultIcon = "ios-star-outline"
                            activeColor = "#ffce00" 
                            defaultColor = "#ffce00"
                            readonly="false"
                            rating="{{item.user_rating}}"
                            fontSize = "15px">
                          </ionic4-star-rating>
                      </div>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label color="dark">
                        <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-label ><h2 class="for_itemmlocation">
                    <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item.location}}
                  </h2></ion-label>
                  <ion-row>
                    <ion-col no-padding text-left size="9" class="for_borderitem" (click)="goProductview(item.id)">
                      <ion-row>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.date}}
                            </h2></ion-label>
                        </ion-col>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.time}}
                            </h2></ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col no-padding text-center size="3" (click)="saveThis(item.id)">
                      <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios"
                      id="class{{item.id}}" [class]="(item.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

    <!-- List of searched items -->
    <ion-grid *ngIf="searchedTurn">

      <p *ngIf="noResultsFound" style="text-align: center;">No results found</p>

      <ion-row *ngFor="let item of itemListSearched" >
        <ion-col>
          <ion-card mode="ios" class="for_items" >
            <ion-card-content no-padding>
              <ion-row>
                <ion-col text-left size="5">
                  <ion-item lines="none" class="for_itemms" (click)="goSellerprof(item.user_id)">
                    <ion-avatar slot="start">
                      <div *ngIf="!item?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="item?.profile_photo">
                        <img [src] = "item.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label class="for_name">{{item.username}}</ion-label>
                  </ion-item>
                  <img (click)="goProductview(item.id)" class="for_itemmimg" [src] = "item.item_cover_photo">
                </ion-col>
                <ion-col text-left size="7">
                  <ion-row (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                  
                        <div class="for_unitqty">{{item.quantity}} 
                          <label *ngIf="item.stocks_id=='1'">
                            <label *ngIf="item.quantity>1">pieces</label>
                            <label *ngIf="item.quantity<=1">piece</label>
                          </label>
                          <label *ngIf="item.stocks_id=='2'">
                            <label *ngIf="item.quantity>1">pounds</label>
                            <label *ngIf="item.quantity<=1">pound</label>
                          </label>
                          <label *ngIf="item.stocks_id=='3'">
                            <label *ngIf="item.quantity>1">ounces</label>
                            <label *ngIf="item.quantity<=1">ounce</label>
                          </label>
                          <label *ngIf="item.stocks_id=='4'">
                            {{item.others_stock}}
                          </label>
                        </div>
                      </h2></ion-label>
                      <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                    </ion-col>
                    <ion-col no-padding text-right>
                      <div class="for_category">{{item.category}}</div>
                      <div style="margin-top: 5px;">
                        <ionic4-star-rating #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#ffce00" 
                          defaultColor = "#ffce00"
                          readonly="false"
                          rating="{{item.user_rating}}"
                          fontSize = "15px">
                        </ionic4-star-rating>
                    </div>
                    </ion-col>
                  </ion-row>
                  <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                    <ion-col no-padding text-left>
                      <ion-label color="dark">
                        <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-label ><h2 class="for_itemmlocation">
                    <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item.location}}
                  </h2></ion-label>
                  <ion-row>
                    <ion-col no-padding text-left size="9" class="for_borderitem" (click)="goProductview(item.id)">
                      <ion-row>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.date}}
                            </h2></ion-label>
                        </ion-col>
                        <ion-col text-left no-padding>
                          <ion-label color="secondary"><h2 class="for_itemmbtn">
                              &nbsp;{{item.time}}
                            </h2></ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-col>
                    <ion-col no-padding text-center size="3" (click)="saveThis(item.id)">
                      <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios"
                      id="class{{item.id}}" [class]="(item.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>

    </ion-grid>

    

  <br></div>
</ion-content>