<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goTabs()">
        <ion-button mode="ios" style="font-size: 15px;">
            Cancel
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Post an Item</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="for_post">

  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col no-padding size="12">
      <ion-row>
        <ion-col text-center>
          <ion-button mode="ios" (click)="takePhoto()" class="post_btnpic">
              <img src="assets/greenthumb-images/post_uploadpic.png">
          </ion-button>
          <ion-label><h5 class="post_label">Take a photo</h5></ion-label>
        </ion-col>
        <ion-col text-center>
          <ion-button mode="ios" class="post_btnpic" (click)="getImage()">
              <img src="assets/greenthumb-images/post_uploadpics.png">
          </ion-button>
          <ion-label><h5 class="post_label" >Select a photo</h5></ion-label>
        </ion-col>
      </ion-row>
      <br>
      <ion-row>
        <ion-grid>
          <ion-row *ngFor="let photo of photos; let i = index">
            <ion-col *ngIf="i % 2 == 0">
              <ion-card class="block" mode="ios">
                <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(i)"></ion-icon>
                <img [src]="photo" *ngIf="photo" />
              </ion-card>
             </ion-col>
          </ion-row>
        </ion-grid>
        
        <ion-grid>
          <ion-row *ngFor="let photo of photos; let i = index">
            <ion-col *ngIf="i % 2 != 0">
              <ion-card class="block" mode="ios">
                <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(i)"></ion-icon>
                <img [src]="photo" *ngIf="photo" />
              </ion-card>
             </ion-col>
          </ion-row>
        </ion-grid>
        

      </ion-row>
      <ion-row>
        <ion-col>
          <br><br>
          <ion-list class="line-input">
            <ion-row>
              <ion-col>
                <ion-label class="item_label">Product Name</ion-label>
                <ion-item>
                  <ion-input mode="ios" type="text" [(ngModel)]="greenthumb_title" class="item_input" placeholder="Name, brand, model, etc."></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-list>
          <br>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>

 
  
</ion-content>

<div class="postitem-overlay" padding>
  <ion-button expand="block" (click)="goDescribe()" mode="ios" fill="outline" color="primary">
    NEXT
  </ion-button>
  <div class="postitem_container">
    <ul class="postitem_progressbar">
      <li class="whenfocus"><span>Photo</span></li>
      <li><span>Details</span></li>
      <li><span>Price</span></li>
      <li><span>Delivery</span></li>
      <li><span>Post</span></li>
    </ul>
  </div>
</div>