.for_post{
    --background: none;
    background-image: url('/assets/greenthumb-images/bunny2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.for_post:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(255,255,255,90%);
  }
.post_btnpic{
    height: 82px;
    --background: white;
    border: 1px solid #e2e2e2;
    border-radius: 10px;
    width: 58%;
}
.post_label{
    font-size: 14px;
    padding-top: 2%;
}
.line-input {
  margin-bottom: 0!important;
  background: transparent;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #e2e2e2;
      border-radius: 4px;
      height: 40px;
      margin-top: 3%;
      --background: #ffffffb5;
  }
}
.item_input{
  font-size: 14px;
  --padding-top: 0;
  color: #424242!important;
}
.item_label{
  color: black !important;
  font-weight: bold;
  font-size: 15px;
}

.block {
  position: relative;
  box-shadow: none;
  margin: 0;
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    right: 5%;
    top: 3%;
    font-size: 20px;
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }
  }
