<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button mode="ios" style="font-size: 15px;">
          Back
      </ion-button>
    </ion-buttons>

      <ion-title color="secondary">Upload Profile Picture</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-row>
    <ion-col>
      <ion-button fill="outline" expand="block"  (click)="getImage()" mode="ios">Choose a Photo</ion-button>
      <ion-avatar *ngIf="image">
        <img [src]="image" />
      </ion-avatar>
      <ion-button *ngIf="image" expand="block" mode="ios"  (click)="uploadphoto()">UPLOAD PHOTO</ion-button>
    </ion-col>
  </ion-row>
 
</ion-content>
