ion-avatar  {     
    width: 100% !important;
    height: 100% !important;
    max-width: 250px !important;
    max-height: 250px !important;
    margin: auto;
    margin-top: 20%;
    margin-bottom: 10%;
    img{
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100% !important;
        height: 100% !important;
        max-width: 250px !important;
        max-height: 250px !important;
        border-radius: 50%;
    }
}