<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-buttons *ngIf="!ownProfile" slot="primary" (click)="reportUser()">
        <ion-button mode="ios" style="font-size: 15px;">
            Report
        </ion-button>
      </ion-buttons>

      <ion-buttons *ngIf="ownProfile" slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row>
    <ion-col text-center>
        <ion-avatar id="for_selleravatar">
          <!-- <img src="assets/greenthumb-images/userpicdark.png"> -->
          <div *ngIf="!picture">
            <img src="assets/greenthumb-images/userpicdark.png">
          </div>
          <div *ngIf="picture">
            <img [src] = "complete_pic">
          </div>
        </ion-avatar> 
        <ion-label>
          <h2 class="for_selname"><b>{{seller_name}}</b></h2>
          <ion-row>
            <ion-col text-center no-padding>
              <ionic4-star-rating #rating
                activeIcon = "ios-star"
                defaultIcon = "ios-star-outline"
                activeColor = "#ffce00" 
                defaultColor = "#ffce00"
                readonly="false"
                rating="{{user_rating}}"
                fontSize = "15px">
              </ionic4-star-rating>
              <!-- <span style="font-size: 15px;">({{user_rating}})</span> -->
            </ion-col>
          </ion-row>
          <p class="for_location">{{seller_location}}</p>
          <ion-row>
            <ion-col>
              <ion-item *ngIf="login_type== 2 || login_type ==4 " mode="ios" id="for_eachitem">
                  <ion-icon name="mail" slot="start" color="primary" mode="ios"></ion-icon>
                  <ion-label>Email Verified</ion-label>
                  <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
              </ion-item>
              <ion-item *ngIf="picture" mode="ios" id="for_eachitem">
                <ion-icon name="camera" slot="start" color="primary" mode="ios"></ion-icon>
                <ion-label>Image Added</ion-label>
                  <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
              </ion-item>
              <ion-item *ngIf="login_type== 3 " mode="ios" id="for_eachitem">
                <ion-icon name="call" slot="start" color="primary" mode="ios"></ion-icon>
                <ion-label>Verify Phone</ion-label>
                <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
              </ion-item>
              <ion-item *ngIf="login_type== 1 " mode="ios" id="for_eachitem">
                <ion-icon name="logo-" slot="start" color="primary" mode="ios"></ion-icon>
                <ion-label> Connected</ion-label>
                <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row *ngIf="!ownProfile">
            <ion-col size="3" text-center></ion-col>
            <ion-col size="6" text-center>
              <ion-button (click)="follow()" shape="round" expand="block" fill="outline" mode="ios" style="height: 31px;font-size: 14px;">
                <ion-label *ngIf="statusFollow">Following</ion-label> 
                <ion-label *ngIf="!statusFollow">Follow</ion-label> 
              </ion-button>
            </ion-col>
            <ion-col size="3" text-center></ion-col>
          </ion-row>
        </ion-label>
    </ion-col>
  </ion-row>
  <ion-row style="padding-bottom: 8px;">
    <ion-col text-center size="4">
      <ion-label color="secondary" style="font-size: 16px;"><b>{{totalItems | number:'1.0':'en-US'}}</b></ion-label>
      <h2 class="for_follabel">Products</h2>
    </ion-col>
    <ion-col text-center size="4">
      <ion-label color="secondary" style="font-size: 16px;"><b>{{totalFollower | number:'1.0':'en-US'}}</b></ion-label>
      <h2 class="for_follabel">Followers</h2>
    </ion-col>
    <ion-col text-center size="4">
      <ion-label color="secondary" style="font-size: 16px;"><b>{{totalFollowing | number:'1.0':'en-US'}}</b></ion-label>
      <h2 class="for_follabel">Following</h2>
    </ion-col>
  </ion-row>
  <ion-row padding class="for_sortfeed">
    <ion-col size="6">
      <ion-item mode="ios" lines="none" style="--padding-start: 0;">
        <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Okay" cancelText="Dismiss">
          <ion-label>Sort feed</ion-label>
          <ion-select-option value="Sort feed" selected>Sort feed</ion-select-option>
          <ion-select-option value="Latest">Latest</ion-select-option>
          <ion-select-option value="Local Pickup">Local Pickup</ion-select-option>
          <ion-select-option value="Shipping">Shipping</ion-select-option>
          <ion-select-option value="Sellers I follow">Sellers I follow</ion-select-option>
          <ion-select-option value="Closest Location">Closest Location</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
    <ion-col size="6" text-right>
      <ion-item text-right mode="ios" lines="none" style="--padding-start: 0;position: absolute;right: 0;">
        <ion-select text-right expand="block" style="max-width: 100%;"  mode="ios" okText="Okay" cancelText="Dismiss">
          <ion-label>Price</ion-label>
          <ion-select-option value="Any" selected>Price: Any</ion-select-option>
          <ion-select-option value="Lowest to Highest">Lowest to Highest</ion-select-option>
          <ion-select-option value="Highest to Lowest">Highest to Lowest</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-col>
  </ion-row>

      
    <!-- List of items -->

    <ion-grid style="text-align: center;" *ngIf="loader"> 

        <ion-spinner name="crescent"></ion-spinner>
    </ion-grid>


    <ion-row *ngFor="let item of itemList" >
      <ion-col>
        <ion-card mode="ios" class="for_items" >
          <ion-card-content no-padding>
            <ion-row>
              <ion-col text-left size="5">
                <ion-item lines="none" class="for_itemms" (click)="goSellerprof(item.user_id)">
                  <ion-avatar slot="start">
                    <div *ngIf="!item?.profile_photo">
                      <img src="assets/greenthumb-images/userpic.png">
                    </div>
                    <div *ngIf="item?.profile_photo">
                      <img [src] = "item.profile_photo" >
                    </div> 
                  </ion-avatar>
                  <ion-label class="for_name">{{item.username}}</ion-label>
                </ion-item>
                <img (click)="goProductview(item.id)" class="for_itemmimg" [src] = "item.item_cover_photo">
              </ion-col>
              <ion-col text-left size="7">
                <ion-row (click)="goProductview(item.id)">
                  <ion-col no-padding text-left>
                    <ion-label (click)="goProductview(item.id)" color="dark"><h2 style="padding-bottom: 2.5%;" class="for_itemmlocation">
                      <div class="for_unitqty">{{item.quantity}} 
                        <label *ngIf="item.stocks_id=='1'">
                          <label *ngIf="item.quantity>1">pieces</label>
                          <label *ngIf="item.quantity==1">piece</label>
                        </label>
                        <label *ngIf="item.stocks_id=='2'">
                          <label *ngIf="item.quantity>1">pounds</label>
                          <label *ngIf="item.quantity==1">pound</label>
                        </label>
                        <label *ngIf="item.stocks_id=='3'">
                          <label *ngIf="item.quantity>1">ounces</label>
                          <label *ngIf="item.quantity==1">ounce</label>
                        </label>
                        <label *ngIf="item.stocks_id=='4'">
                          {{item.others_stock}}
                        </label>
                      </div>
                    </h2></ion-label>
                    <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                  </ion-col>
                  <ion-col no-padding text-right>
                    <div class="for_category">{{item.category}}</div>
                    <div style="margin-top: 5px;">
                        <ionic4-star-rating #rating
                          activeIcon = "ios-star"
                          defaultIcon = "ios-star-outline"
                          activeColor = "#ffce00" 
                          defaultColor = "#ffce00"
                          readonly="false"
                          rating="{{item.user_rating}}"
                          fontSize = "15px">
                        </ionic4-star-rating>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: -2px;" (click)="goProductview(item.id)">
                  <ion-col no-padding text-left>
                    <ion-label color="dark">
                      <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                  </ion-col>
                </ion-row>
                <ion-label ><h2 class="for_itemmlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item.location}}
                </h2></ion-label>
                <ion-row>
                  <ion-col no-padding text-left size="9" class="for_borderitem" (click)="goProductview(item.id)">
                    <ion-row>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item.date}}
                          </h2></ion-label>
                      </ion-col>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item.time}}
                          </h2></ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col no-padding text-center size="3" (click)="saveThis(item.id)">
                    <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios"
                    id="class{{item.id}}" [ngClass]="(item.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

</ion-content>
