.for_selname{
    font-size: 17px;
    color: #679733;
    margin-top: 7px;
}
.for_location{
    font-size: 14px;
    margin-top: -2px;
}
.for_staricon{
    font-size: 24px;
    margin-bottom: -2%;
  }
  ion-select{
    font-size: 13px;
}
  .for_sortfeed{
    padding-left: 0;
    border-top: 1px solid #e2f0cb;
    padding-bottom: 0;
    margin-bottom: 0px;
    padding-top: 5px;
}

.for_items{
    margin-top: 0%;
    box-shadow: 0 1px 10px #e2f0cb;
    border-radius: 10px;
    border: 1px solid #e2f0cb;
    margin-bottom: 0;
}
.for_chip{
    --background: transparent;
    margin: 0;
    padding-right: 0;
    padding-left: 15px;
}
.for_itemimg{
    padding-left: 5px;
    margin: auto;
    width: 90%;
    height: 70%;
}
.for_price{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
}
.for_itemname{
    font-size: 15px;
    font-weight: bolder;
}
.for_itemcateg{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
}
.for_itemlocation{
    font-size: 13px;
    font-weight: lighter;
}
.for_pin{
    font-size: 15px;
    margin-bottom: -1%;
    margin-left: -1%;
}
.for_itembtn{
    font-size: 11px;;
}
.for_itembtnicon{
    font-size: 20px;
    margin-bottom: -7%;
    margin-right: 2%;
}
.for_follabel{
    font-size: 15px;
    margin: 0;
    margin-top: 5px;
}

.myHeartUnSave{
    color: #d3dbc9;
}
.myHeartSave{
    color:#679733;
}

#for_selleravatar{    
        width: 100% !important;
        height: 100% !important;
        max-width: 150px !important;
        max-height: 150px !important;
        margin: auto;
        margin-bottom: 15px;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 150px !important;
            max-height: 150px !important;
            border-radius: 50%;
        }
   
  }

.for_itemms{
    --padding-start: 0;
    margin-top: -8px;
    --inner-padding-end: 0;
    --background: transparent;
    ion-avatar  {     
        width: 100% !important;
        height: 100% !important;
        max-width: 25px !important;
        max-height: 25px !important;
        margin-right: 5px;margin-top: 0;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 25px !important;
            max-height: 25px !important;
            margin-right: 5px;margin-top: 0;
            border-radius: 50%;
        }
    }
  }
  
.for_name{
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 0;
    color: black;
}
.for_itemmimg{
    margin: auto;
    width: 90%;
    margin-top: -10px;
    padding-bottom: 5px;
}
.for_pprice{
    font-size: 23px;
    font-weight: bolder;
}
.for_category{
    background: #76c961;
    padding: 3px;
    border-top-right-radius: 10px;
    margin-top: -5px;
    margin-right: -5px;
    border-bottom-left-radius: 10px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.for_itemmname{
    font-size: 15px;
    font-weight: bolder;
}
.for_itemmlocation{
    font-size: 12.5px;
    font-weight: lighter;
    color: #989aa2;
    padding-right: 5px;
    padding-bottom: 2.5%;
}
.for_borderitem{
    border-top: 1px solid #e2f0cb;
    padding-top: 2.5%;
}
.for_itemmbtn{
    font-size: 11px;
    color: #679733;
}
.for_unitqty{
    font-size: 11px;
    text-align: left;
    color: #989aa2;
}