

  #map {
      width: 100%;
      height: 300px;
      border: 1px solid red;
      background-color: transparent;
    }


.item_label{
    font-size: 13px;
    font-weight: bold;
  }
  .item_label2{
    font-size: 16px;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
  }
    .for_accountitems{
      padding: 0;
      margin-top: 5%;
    }
    #for_eachitem{
      font-size: 14px;
      --inner-padding-end: 0px !important;
      --border-color: #e2f0cb;
      --padding-start: 0% !important;
    }
    .range-labels {
        margin: 0;
        padding: 0;
        list-style: none;
        
        li {
            width: 19.3%;
            text-align: center;
            color: #959aad;
            font-size: 12px;
            display: inline-block;
        }
    }