<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Location</ion-title>

      <ion-buttons slot="primary">
        <ion-button mode="ios" (click)="resetLocation();" style="font-size: 15px;">
            Reset
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list class="for_accountitems">
    <ion-label class="item_label" color="secondary">LOCATION</ion-label>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>{{myCurrentLocation}}</ion-label>
     
      <ion-note mode="ios" (click)="getGeoLocation()" color="secondary" style="font-size: 13px;">My Location</ion-note>
    </ion-item>
  </ion-list>

  <div #map id="map"></div>

  <ion-list class="for_accountitems">
    <ion-label class="item_label" color="secondary">DISTANCE</ion-label>
    <ion-label color="secondary" text-center>
      <p class="item_label2">30 MILES</p>
    </ion-label>
    <ul class="range-labels">
      <li>5 mi</li>
      <li>10 mi</li>
      <li>20 mi</li>
      <li>30 mi</li>
      <li>Max</li>
    </ul>
      <ion-item mode="ios" lines="none" style="--padding-start: 0">
        <ion-range mode="ios" min="1000" max="2000" step="250" snaps="true" color="secondary" no-padding>
        <ion-icon mode="ios" slot="start" size="large" color="primary" name="pin"></ion-icon>
        <ion-icon mode="ios" slot="end" color="primary" name="car" size="large"></ion-icon>
      </ion-range>
    </ion-item>
  </ion-list>
  <ion-list style="margin-top: 20%;">
    <ion-button expand="block" mode="ios">APPLY</ion-button>
  </ion-list>
</ion-content>
