<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Posted!</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row padding style="padding-bottom: 0;">
    <ion-col text-center>
      <ion-button style="height: 40px;" mode="ios" (click)="goSellfaster()">
        <ion-icon name="trending-up" mode="ios"></ion-icon>&nbsp;&nbsp;SELL FASTER</ion-button>
      <p style="padding: 0;font-size: 13px;">Soon thousands of local buyers will see this item! 
        Get an average of 14 times more views each day.</p>
        
    </ion-col>
  </ion-row>
  <ion-card mode="ios" >
    <ion-card mode="ios" no-margin class="for_card" style="box-shadow:none">
      <ion-card-header class="for_cardheader">
        <img *ngIf="!ImageArray" src="assets/greenthumb-images/tomato.png" class="for_imgfruit"> 

        <ion-slides *ngIf="ImageArray" [options]="slideOptsOne" pager="true" mode="ios" id="slide_forpromo">
          <ion-slide *ngFor="let slide of ImageArray" mode="ios">
            <div class="slide" mode="ios">
              <ion-card mode="ios" class="promocard">
                <ion-card-header mode="ios" class="promoheader" style="padding: 7px;">
                  <ion-row>
                  
                    <ion-col no-padding text-right>
                      <img src="{{slide.picture_filename}}" class="for_imgfruit">
                    </ion-col>
      
                  </ion-row>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>
      </ion-card-header>
    </ion-card>
    <ion-row>
      <ion-col text-right>
        <ion-chip mode="ios" (click)="goSellerprof()" style="--background: white; margin-top: -35px;">
          <ion-avatar>
            <div *ngIf="!picture">
              <img src="assets/greenthumb-images/userpic.png">
            </div>
            <div *ngIf="picture">
              <img [src] = "complete_pic">
            </div>
          </ion-avatar>
          <ion-label style="font-size: 12px;" >by {{username}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 10px;padding-bottom: 0;">
      <ion-col text-left size="7">
        <ion-label color="dark"><h1 style="margin-bottom: -2px;"><b>{{title}}</b></h1></ion-label>
        <ion-label class="for_categname">{{category_name}}</ion-label>
      </ion-col>
      <ion-col text-right size="5">
        <ion-label color="secondary"><h1 class="for_pr"><b>${{price}}</b></h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -5px;padding-top: 0;padding-bottom: 0;" padding >
      <ion-col size="12" no-padding text-left> 
        <ion-icon class="for_pin" color="primary" name="pin" mode="ios"></ion-icon>
        <ion-label class="for_locname" style="font-size: 13px;text-transform:capitalize;" color="dark">
          {{location}} {{district_area}} {{zip_code}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 0;padding-bottom: 5px;">
      <ion-col>
        <ion-item mode="ios" class="for_iteminfo">
          <ion-label color="dark" class="for_label"><b>Quantity</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">{{quantity}}</ion-label>
        </ion-item>
        <ion-item mode="ios" class="for_iteminforest">
          <ion-label color="dark" class="for_label"><b>Unit</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">{{stocks_name}}</ion-label>
        </ion-item>
        <ion-item mode="ios" class="for_iteminforest">
          <ion-label color="dark" class="for_label"><b>Delivery Type</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">{{delivery_type}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 0;">
      <ion-col no-padding>
        <p text-justify class="for_txtoverview">
          {{description}}
        </p>
      </ion-col>
    </ion-row>
  </ion-card>

</ion-content>
<div id="overlay" padding>
  <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="goHome()" mode="ios" color="primary">
        DONE
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px;">
    <ion-col>
      <ion-button expand="block" (click)="goPostagain()" mode="ios" fill="outline" color="primary">
        POST ANOTHER ITEM
      </ion-button>
    </ion-col>
  </ion-row>
</div>
