
<ion-content text-center>
    <ion-card mode="ios" no-margin class="for_card" style="box-shadow:none">
      <ion-card-header class="for_cardheader">
        <ion-icon class="for_back" mode="ios" name="arrow-back" (click)="goBack()"></ion-icon>
        <img *ngIf="!ImageArray" src="assets/greenthumb-images/tomato.png" class="for_imgfruit"> 

        <ion-slides *ngIf="ImageArray" [options]="slideOptsOne" pager="true" mode="ios" id="slide_forpromo">
          <ion-slide *ngFor="let slide of ImageArray" mode="ios">
            <div class="slide" mode="ios">
              <ion-card mode="ios" class="promocard">
                <ion-card-header mode="ios" class="promoheader" style="padding: 7px;">
                  <ion-row>
                  
                    <ion-col no-padding text-right>
                      <img src="{{slide.picture_filename}}" class="for_imgfruit">
                    </ion-col>
      
                  </ion-row>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>

      </ion-card-header>
    </ion-card>
    <ion-row style="margin-top: -25px;">
      <ion-col text-left>
        <ion-chip mode="ios" (click)="goSellerprof()" style="--background: white;margin-left: 20px;">
          <ion-avatar>
            <div *ngIf="!picture">
              <img src="assets/greenthumb-images/userpic.png">
            </div>
            <div *ngIf="picture">
              <img [src] = "complete_pic">
            </div>
          </ion-avatar>
          <ion-label style="font-size: 12px;" >by {{username}}</ion-label>
        </ion-chip>
      </ion-col>
      <ion-col text-right>
        <ion-icon mode="ios" class="for_social" color="light" name="logo-facebook"></ion-icon>&nbsp;
        <ion-icon mode="ios" class="for_social" color="light" name="logo-instagram"></ion-icon>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 10px;padding-bottom: 0;">
      <ion-col text-left size="7">
        <ion-label color="dark"><h1 style="margin-bottom: -2px;"><b>{{title}}</b></h1></ion-label>
        <ion-label class="for_categname">{{category_name}}</ion-label>
      </ion-col>
      <ion-col text-right size="5">
        <ion-label color="secondary"><h1 class="for_pr"><b>${{price}}</b></h1></ion-label>
      </ion-col>
    </ion-row>
    <ion-row style="margin-top: -5px;padding-top: 0;padding-bottom: 0;" padding >
      <ion-col size="12" no-padding text-left> 
        <ion-icon class="for_pin" color="primary" name="pin" mode="ios"></ion-icon>
        <ion-label class="for_locname" style="font-size: 13px;text-transform:capitalize;" color="dark">
          {{location}} {{district_area}} {{zip_code}}</ion-label>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 0;padding-bottom: 5px;">
      <ion-col>
        <ion-item mode="ios" class="for_iteminfo">
          <ion-label color="dark" class="for_label"><b>Quantity and Unit</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">{{quantity}} {{stocks_name}}</ion-label>
        </ion-item>
        <ion-item mode="ios" class="for_iteminforest">
          <ion-label color="dark" class="for_label"><b>Availability</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">In Stock</ion-label>
        </ion-item>
        <ion-item mode="ios" class="for_iteminforest">
          <ion-label color="dark" class="for_label"><b>Delivery Type</b></ion-label>
          <ion-label color="medium" slot="end" class="for_text">{{delivery_type}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row padding style="padding-top: 0;">
      <ion-col text-left no-padding size="4">
        <ion-label style="font-size: 14px;margin-left: 5px;" color="dark" class="for_label"><b>Description</b></ion-label>
      </ion-col>
      <ion-col no-padding size="8" text-right>
        <p class="for_txtoverview">
          {{description}}
        </p>
      </ion-col>
    </ion-row>
</ion-content>
<div class="postitem-overlay" padding>
  <ion-button expand="block" (click)="goItemposted()" mode="ios" fill="outline" color="primary">
    POST
  </ion-button>
  <div class="postitem_container">
    <ul class="postitem_progressbar">
      <li class="whenfocus active"><span>Photo</span></li>
      <li class="whenfocus active"><span>Details</span></li>
      <li class="whenfocus active"><span>Price</span></li>
      <li class="whenfocus active"><span>Delivery</span></li>
      <li class="whenfocus"><span>Post</span></li>
    </ul>
  </div>
</div>
