.for_div{
  position: fixed;
  width: 100%;
  z-index: 20;
  bottom: 0%;
  left: 0;
  background: white;
  padding: 15px;
  padding-top: 0;
}
.for_card1{
  height: 50%;}
.for_card2{
  height: 50%;}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
  .for_card1{ height: 57%; }
  .for_card2{ height: 43%; }
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
  .for_card1{ height: 38%; }
  .for_card2{ height: 62%; }
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
  .for_card1{ height: 41%; }
  .for_card2{ height: 57%; }
}
@media only screen
and (device-width : 411px)
and (device-height : 731px)
and (orientation : portrait) {
  .for_card1{ height: 48%; }
  .for_card2{ height: 51%; }
}
@media only screen
and (min-device-width : 414px)
and (min-device-height : 736px)
and (orientation : portrait) {
  .for_card1{ height: 48%; }
  .for_card2{ height: 51%; }
}
@media only screen
and (device-width : 411px)
and (device-height : 823px)
and (orientation : portrait) {
  .for_card1{ height: 52%; }
  .for_card2{ height: 47%; }
}
@media only screen
and (device-width : 375px)
and (device-height : 812px)
and (orientation : portrait) {
  .for_card1{ height: 52%; }
  .for_card2{ height: 47%; }
}

  
.line-inputemail {
    margin-bottom: 0!important;
    padding-bottom: 0;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 40px;
    }
}
.line-inputpass {
  margin-bottom: 0!important;
  padding-top: 0;
  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      border-radius: 4px;
      height: 40px;
  }
}
.item_input{
  --padding-top: 0;
  color: #424242 !important;
  --padding-bottom: 10px;
  font-size: 14px;
}
.item_icon{
  margin-top: 0%;
  margin-bottom: 5%;
}
.forgot-pass{
    color: #989aa2;
    font-size: 13px;
    position: fixed;
    right: 5%;
}
// .for_div{
//   position: fixed;
//   width: 100%;
//   height: 415px;
//   z-index: 20;
//   bottom: 0%;
//   left: 0;
//   background: white;
//   padding: 15px;
//   padding-top: 0;
// }