<ion-content class="choose-bg" padding text-center fullscreen style="--overflow: hidden;--padding-bottom: 10px;--padding-top: 10px;--padding-start: 10px;--padding-end: 10px;">
  <ion-card class="for_card1" style="border-radius: 0;margin: 0;box-shadow: none;--background: none;background-image: url(assets/greenthumb-images/greenthumblogo.png);background-position: center center;background-repeat: no-repeat;background-size: cover;">
  </ion-card>
  <div class="for_card2" style="display: flex; align-items: center; justify-content: center;margin-left: -2px;
  margin-right: -2px;">
    <ion-card style="margin: 0;box-shadow: none;width: 100%;">
      <ion-list class="line-inputemail">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input mode="ios" class="item_input" type="email" [(ngModel)]="login_email" placeholder="Email Address"></ion-input>
              <ion-icon mode="ios" class="item_icon" name="mail" slot="end" align-self-end></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="line-inputpass">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input mode="ios" class="item_input" type="password" [(ngModel)]="login_pass" placeholder="Password"></ion-input>
              <ion-icon mode="ios" class="item_icon" name="lock" slot="end" align-self-end></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <p class="forgot-pass" (click)="forgotpass()" style="text-align: right;margin: 0;padding: 0;">
        Forgot Password?
      </p><br>
    <ion-button expand="block" mode="ios" (click)="bypassAuth()" style="margin-bottom: 7%;margin-top: 4%;font-size: 14px;">
        SIGN UP/SIGN IN
    </ion-button> 
    <ion-text mode="ios" color="medium" text-center>
        <h6 mode="ios" style="margin-bottom: 2.5%;margin-top: -15px;">OR</h6>
    </ion-text> 
    <ion-button expand="block" mode="ios" (click)="bypassAuth()" style="margin-bottom: 3%;font-size: 14px;">
        <ion-icon slot="start" name="logo-google" mode="ios"></ion-icon>   &nbsp;
        SIGN UP WITH GOOGLE
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="bypassAuth()" style="margin-bottom: 3%;font-size: 14px;">
        <ion-icon slot="start" name="logo-facebook" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH FACEBOOK
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="bypassAuth()" style="margin-bottom: 3%;font-size: 14px;">
        <ion-icon slot="start" name="mail" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH SMS
    </ion-button> 
    </ion-card>
  </div>
  
  
  <!-- <div>
    <img src="assets/greenthumb-images/greenthumblogo.png">
    <ion-list class="line-inputemail">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input mode="ios" class="item_input" type="email" [(ngModel)]="login_email" placeholder="Email Address"></ion-input>
              <ion-icon mode="ios" class="item_icon" name="mail" slot="end" align-self-end></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
      <ion-list class="line-inputpass">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input mode="ios" class="item_input" type="password" [(ngModel)]="login_pass" placeholder="Password"></ion-input>
              <ion-icon mode="ios" class="item_icon" name="lock" slot="end" align-self-end></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    <ion-text text-right color="medium" class="forgot-pass" (click)="forgotpass()">Forgot Password?</ion-text> <br>
    <ion-button expand="block" mode="ios" (click)="signUp()" style="margin-bottom: 7%;margin-top: 4%;">
        SIGN UP/SIGN IN
    </ion-button> 
    <ion-text mode="ios" color="medium" text-center>
        <h6 mode="ios" style="margin-bottom: 2.5%;margin-top: -15px;">OR</h6>
    </ion-text> 
    <ion-button expand="block" mode="ios" (click)="google()" style="margin-bottom: 3%;">
        <ion-icon slot="start" name="logo-google" mode="ios"></ion-icon>   &nbsp;
        SIGN UP WITH GOOGLE
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="facebook()" style="margin-bottom: 3%;">
        <ion-icon slot="start" name="logo-facebook" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH FACEBOOK
    </ion-button> 
    <ion-button expand="block" mode="ios" (click)="mobile()" style="margin-bottom: 3%;">
        <ion-icon slot="start" name="mail" mode="ios"></ion-icon> &nbsp;
        SIGN UP WITH SMS
    </ion-button> 
  </div> -->
</ion-content>
