<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <!-- <ion-title color="secondary">Profile</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" style="box-shadow: none;">
          <img class="for_itemimg" src="assets/greenthumb-images/sampleproduct.jpg" />
          <ion-card-header text-center>
            <ion-card-title class="for_title" color="black">Organic Green</ion-card-title>
            <ion-card-subtitle class="for_titlecateg" color="secondary">category</ion-card-subtitle>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <ion-card-subtitle class="for_titleprice" color="secondary">$214.22</ion-card-subtitle>
          </ion-card-header>
        </ion-card>  
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" style="box-shadow: none;">
          <img class="for_itemimg" src="assets/greenthumb-images/sampleproduct.jpg" />
          <ion-card-header text-center>
            <ion-card-title class="for_title" color="black">Organic Green</ion-card-title>
            <ion-card-subtitle class="for_titlecateg" color="secondary">category</ion-card-subtitle>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <ion-card-subtitle class="for_titleprice" color="secondary">$214.22</ion-card-subtitle>
          </ion-card-header>
        </ion-card>  
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" style="box-shadow: none;">
          <img class="for_itemimg" src="assets/greenthumb-images/sampleproduct.jpg" />
          <ion-card-header text-center>
            <ion-card-title class="for_title" color="black">Organic Green</ion-card-title>
            <ion-card-subtitle class="for_titlecateg" color="secondary">category</ion-card-subtitle>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <ion-card-subtitle class="for_titleprice" color="secondary">$214.22</ion-card-subtitle>
          </ion-card-header>
        </ion-card>  
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" style="box-shadow: none;">
          <img class="for_itemimg" src="assets/greenthumb-images/sampleproduct.jpg" />
          <ion-card-header text-center>
            <ion-card-title class="for_title" color="black">Organic Green</ion-card-title>
            <ion-card-subtitle class="for_titlecateg" color="secondary">category</ion-card-subtitle>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <ion-card-subtitle class="for_titleprice" color="secondary">$214.22</ion-card-subtitle>
          </ion-card-header>
        </ion-card>  
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
