.for_title{
    font-size: 17px;
    margin-top: 3px;
    font-weight: 400;
    display: block;
    text-transform: capitalize;
    color: black;
}
.for_itemimg{
    background: #f6f7f2;
}
.for_staricon{
    color: #ffc107 !important;
}
.for_titleprice{
    line-height: 100%;
    display: inline-block;
    font-weight: bold;
    font-size: 16px;
}
.for_categitem{
    text-align: center !important;
    color: #fff;
    background: red;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 500;
    font-family: Satisfy,cursive;
    display: block;
    line-height: 35px;
    position: absolute;
    letter-spacing: 1px;
    top: 13px;
    z-index: 1;
    padding: 0 15px;
    left: 10px;
    border-radius: 55px/35px;
}
.for_titlecateg{
    margin-top: 2px;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 10px;
}
