.my-overlay {
    position: fixed;
    width: 100%;
    z-index: 20;
  }
  .overlay_message {
    height: 300px;
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-end;
    overflow-y: auto;
    padding-left: 55px;
    padding-right: 2px;
    z-index: 99;
    p{
      padding: 8px;
      background: rgba(0, 0, 0, 0.4);
      border-radius: 50px;
    }
  }


  // for message
  .commanderClass {
    
      border: 3px solid rgba(245, 5, 5, 0.4);
      color:  rgba(245, 5, 5, 0.4);
    
  }

  .generalClass {
    
    border: 3px solid rgba(18, 4, 212, 0.4);
    color:  rgba(18, 4, 212, 0.4);
  }
  .captainClass {
    
    border: 3px solid rgba(238, 234, 13, 0.4);
    color:   rgba(238, 234, 13, 0.4);
  }

  // for thumbnail

  .commanderClassThumbnail {
    border: 1px solid rgba(245, 5, 5, 0.4);
  }

  .generalClassThumbnail {
    border: 1px solid rgba(18, 4, 212, 0.4);
  }
  .captainClassThumbnail {
    border: 1px solid rgba(238, 234, 13, 0.4);
  }

  // for avatar
  .commanderAvatar {
    
    border: 3px solid rgba(245, 5, 5, 0.4);
    color:  rgba(245, 5, 5, 0.4);
  
  }

  .generalAvatar {
    
    border: 3px solid rgba(18, 4, 212, 0.4);
    color:  rgba(18, 4, 212, 0.4);
  }
  .captainAvatar {
    
    border: 3px solid rgba(238, 234, 13, 0.4);
    color:   rgba(238, 234, 13, 0.4);
  }

.item_profile{
  --background: rgba(0, 0, 0, 0.3);
  border: 1px solid#1dc1e6;
  border-radius: 30px;
}
.close_icon{
  zoom: 3.0;
  color: white;
  position: fixed;
  right: 2%;
  top: 8.5%;
}
  .thumnails{
    overflow-x: scroll;
    overflow-y: hidden;
    margin-top: 5%;
    .list-thumbnail{
      height: 100%;
      white-space: nowrap;
      .img-thumb img{
        display: inline-block;
        border-radius: 50%;
        padding: 3px;
        width: 40px;
        height: 40px;
        margin:0 2px 0 0; 
        line-height: 60px;
      }
    }
  }
  ::-webkit-scrollbar { 
    display: none; 
  }
  .myHeartFollow{
    width: 23% !important;
    height: auto;
    content:url("/assets/icon/followed.png");
  }
  .myHeartUnfollow{
    width: 23% !important;
    height: auto;
    content:url("/assets/icon/follow.png");
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  ion-item {
    --padding-start: 0% !important;
}
.brixy-icon{
  width: 23% !important;
  height: auto;
}

