.btn_follow{
    height: 25px;
    width: 125px;
}
.for_eachitem{
    --padding-start: 0;
    --inner-padding-end: 0;
}
.for_username{
    font-size: 13px;
    color:black;
}
.for_name{
    font-size: 12px;
}
.for_pin{
    margin-left: -1%;
    font-size: 13px;
    margin-bottom: -1%;
}
.for_segment{
    padding: 3px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 0;
}
.for_segmentbadge{
    color: #e44545;
    font-size: 11px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 5px;
}
ion-avatar{
    width: 100% !important;
    height: 100% !important;
    max-width: 45px !important;
    max-height: 45px !important;
}
ion-item {
    --padding-start: 0% !important;
    --inner-padding-end: 0;
    --padding-bottom: 10px;
}
#for_avatar{
    width: 100% !important;
    height: 100% !important;
    max-width: 45px !important;
    max-height: 45px !important;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 45px !important;
            max-height: 45px !important;
            border-radius: 50%;
        }
}