<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Seller Interaction</ion-title>

      <ion-buttons slot="primary" (click)="goHelp()">
        <ion-button mode="ios" style="font-size: 15px;">
            Help
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
  <ion-segment-button class="for_segment" mode="ios" value="0">
      <ion-label>Followers 
        <ion-badge class="for_segmentbadge" mode="ios" color="tertiary">
          {{totalFollower | number:'1.0':'en-US'}} 
      </ion-badge></ion-label>
  </ion-segment-button>  
  <ion-segment-button class="for_segment" mode="ios" value="1">
      <ion-label>Following 
        <ion-badge class="for_segmentbadge" mode="ios" color="tertiary">
          {{totalFollowing | number:'1.0':'en-US'}} 
      </ion-badge></ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content>
  <!-- <ion-searchbar style="padding-right: 12px;margin-top: 3%;" placeholder="Search..." id="customsearchbar" mode="ios"></ion-searchbar> -->
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
    <!-- For followers -->
        <ion-slide>
          <ion-grid>
            <ion-row style="padding: 5px;">
              <ion-col>
                <ion-list mode="ios">
                  <ion-item *ngFor="let follower of myFollowers"  mode="ios" class="for_eachitem" lines="none" (click)="goSellerprofile(follower.id)">
                    <ion-avatar slot="start" mode="ios" id="for_avatar">
                      <div *ngIf="!follower?.profile_photo">
                        <img src="assets/greenthumb-images/userpic.png">
                      </div>
                      <div *ngIf="follower?.profile_photo">
                        <img [src] = "follower.profile_photo" >
                      </div> 
                    </ion-avatar>
                    <ion-label mode="ios" color="secondary">
                      <h2 class="for_username" mode="ios">{{follower.username}}</h2>
                      <!-- <h3 class="for_name" mode="ios">{{follower.fname}} {{follower.lname}}</h3> -->
                    </ion-label>
                    <ion-button mode="ios" size="small" expand="block" class="btn_follow">Following</ion-button>
                  </ion-item>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
<!-- For following -->
<ion-slide>
  <ion-grid>
    <ion-row style="padding: 5px;">
      <ion-col>
        <ion-list mode="ios">
          <ion-item *ngFor="let ifollow of iFollowed" mode="ios" class="for_eachitem" lines="none" (click)="goSellerprofile(ifollow.id)">
            <ion-avatar slot="start" mode="ios" id="for_avatar">
              <div *ngIf="!ifollow?.profile_photo">
                <img src="assets/greenthumb-images/userpic.png">
              </div>
              <div *ngIf="ifollow?.profile_photo">
                <img [src] = "ifollow.profile_photo" >
              </div> 
            </ion-avatar>
            <ion-label mode="ios" color="secondary">
              <h2 class="for_username" mode="ios">{{ifollow.username}}</h2>
              <!-- <h3 class="for_name" mode="ios">{{ifollow.fname}} {{ifollow.lname}}</h3> -->
            </ion-label>
            <ion-button mode="ios" size="small" slot="end" fill="outline" class="btn_follow">Following</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-slide>
  </ion-slides>
</ion-content>
