.my-overlay {
    position: fixed;
    width: 98%;
    z-index: 20;
    color: black;
    top: 1%;
    left: 1%;
    right: 1%;
    text-align: center;
}
.for_rowpadding{
  padding-left: 5px;
  padding-right: 5px;
}
.for_rowitem{
  --padding-start:0;
  --backround:transparent;
  --inner-padding-end: 0;
}
#for_yourspic  {     
  width: 100% !important;
  height: 100% !important;
  max-width: 30px !important;
  max-height: 30px !important;
  margin-right: 5px;
  align-self: flex-end;
  img{
      border: 1px solid rgba(0, 0, 0, 0.12);
      width: 100% !important;
      height: 100% !important;
      max-width: 30px !important;
      max-height: 30px !important;
      border-radius: 50%;
  }
}
.for_minetime{
  font-size: 11px;
  padding: 0;
  margin: 0;
  text-align: right;
  margin-top: 10px;
  color: rgba(255, 255, 255, 0.7);
}
.for_yourstime{
  font-size: 11px;
  padding: 0;
  margin: 0;
  text-align: right;
  margin-top: 10px;
  color: #a5a5a5;
}

.messages {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.message {
  border-radius: 15px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.yours {
  align-items: flex-start;
}

.yours .message {
  background-color: #eee;
  position: relative;
  margin-right: 60px;
}

.mine {
  align-items: flex-end;
}

.mine .message {
  color: white;
  background: #76c961e8;
  background-attachment: fixed;
  position: relative;
  margin-left: 60px;
}

.yours .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}
.yours .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

.mine .message.last:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  right: -8px;
  height: 20px;
  width: 20px;
  background: #76c961e8;
  background-attachment: fixed;
  border-bottom-left-radius: 15px;
}

.mine .message.last:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-left-radius: 10px;
}

// .message {
//     padding: 10px;
//     border-radius: 10px;
//     margin-bottom: 4px;
//     white-space: pre-wrap;
//   }
   
//   .my-message {
//     background: var(--ion-color-tertiary);
//     color: #fff;
//   }
   
//   .other-message {
//     background: var(--ion-color-secondary);
//     color: #fff;
//   }
   
//   .time {
//     color: #dfdfdf;
//     float: right;
//     font-size: small;
//   }
   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }



.myHeartUnSave{
    color: #d3dbc9;
}
.myHeartSave{
    color: red;
}
  .for_items{
    // margin-top: 0%;
    // box-shadow: 0 1px 10px #e2f0cb;
    // border-radius: 10px;
    //border: 1px solid #e2f0cb;
    // margin-bottom: 0;
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #e2f0cb6e;
    border-bottom: 1px solid #e2f0cb6e;
    border-top: 1px solid #e2f0cb;
    margin: 0;
    margin-left: -3%;
    margin-right: -3%;
}
  .for_itemms{
    --padding-start: 0;
    margin-top: -8px;
    --inner-padding-end: 0;
    --background: transparent;
    ion-avatar  {     
        width: 100% !important;
        height: 100% !important;
        max-width: 25px !important;
        max-height: 25px !important;
        margin-right: 5px;margin-top: 0;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 25px !important;
            max-height: 25px !important;
            margin-right: 5px;margin-top: 0;
            border-radius: 50%;
        }
    }
  }
  
.for_name{
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 0;
    color: black;
}
.for_itemmimg{
    margin: auto;
    width: 90%;
    margin-top: -10px;
    padding-bottom: 5px;
}
.for_pprice{
  font-size: 23px;
  font-weight: bolder;
}
.for_category{
  background: #76c961;
  padding: 3px;
  border-top-right-radius: 10px;
  margin-top: -5px;
  margin-right: -5px;
  border-bottom-left-radius: 10px;
  text-transform: capitalize;
  font-size: 12px;
  font-weight: lighter;
  color: white;
  text-align: center;
}
.for_itemmname{
  font-size: 15px;
  font-weight: bolder;
}
.for_itemmlocation{
  font-size: 12.5px;
  font-weight: lighter;
  color: #989aa2;
  padding-right: 5px;
  padding-bottom: 2.5%;
}
.for_borderitem{
    border-top: 1px solid #e2f0cb;
    padding-top: 2.5%;
}
.for_itemmbtn{
    font-size: 11px;
    color: #679733;
}
.for_unitqty{
    font-size: 11px;
    text-align: left;
    color: #989aa2;
}