<ion-header  mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary">
        <ion-button mode="ios" style="font-size: 15px;" color="dark" (click)="goTab5()">
          Back
      </ion-button>
      </ion-buttons>
      
      <ion-title color="secondary">{{nickname}}</ion-title>

      <ion-buttons slot="primary" >
        <ion-button>
            <img src="assets/greenthumb-images/greenthumblogo.png" style="width: 32px;border-radius: 50%;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-grid>
    <!-- <ion-text color="medium" text-center>
      <p>You joined the chat as {{ currentUser }}</p>
    </ion-text> -->
    <!-- <ion-row *ngFor="let messageFDB of messagesFromDB">
 
      <ion-col size="9" *ngIf="messageFDB?.messaged_user_id !== user_id" class="message other-message">
        <span>{{ messageFDB?.message }}</span>
        <div class="time" text-right><br>{{ messageFDB?.date }} {{ messageFDB?.time }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="messageFDB?.messaged_user_id === user_id" class="message my-message">
        <span>{{ messageFDB?.message }}</span>
        <div class="time" text-right><br>{{ messageFDB?.date}} {{ messageFDB?.time }}</div>
      </ion-col>
 
    </ion-row> -->
    <ion-row>
      <ion-col style="padding-top: 0;">
        <ion-card mode="ios" class="for_items">
          <ion-card-content no-padding>
            <ion-row>
              <ion-col text-left size="5">
                <ion-item lines="none" class="for_itemms">
                  <ion-avatar slot="start">
                    <div *ngIf="!picture">
                      <img src="assets/greenthumb-images/userpic.png">
                    </div>
                    <div *ngIf="picture">
                      <img [src] = "complete_pic">
                    </div>
                  </ion-avatar>
                  <ion-label class="for_name">{{item_seller}}</ion-label>
                </ion-item>
                <img  class="for_itemmimg" [src] = "item_cover_photo">
              </ion-col>
              <ion-col text-left size="7">
                <ion-row >
                  <ion-col no-padding text-left>
                    <div class="for_unitqty">{{item_quantity}} 
                      <label *ngIf="stocks_id=='1'">
                        <label *ngIf="item_quantity>1">pieces</label>
                        <label *ngIf="item_quantity<=1">piece</label>
                      </label>
                      <label *ngIf="stocks_id=='2'">
                        <label *ngIf="item_quantity>1">pounds</label>
                        <label *ngIf="item_quantity<=1">pound</label>
                      </label>
                      <label *ngIf="stocks_id=='3'">
                        <label *ngIf="item_quantity>1">ounces</label>
                        <label *ngIf="item_quantity<=1">ounce</label>
                      </label>
                      <label *ngIf="stocks_id=='4'">
                        {{item_other_stock}}
                      </label>
                    </div>
                    <ion-label color="secondary"><h1 class="for_pprice">${{item_price}}</h1></ion-label>
                  </ion-col>
                  <ion-col no-padding text-right>
                    <div class="for_category">{{item_category}}</div>
                    <div style="margin-top: 5px;">
                      <ionic4-star-rating #rating
                        activeIcon = "ios-star"
                        defaultIcon = "ios-star-outline"
                        activeColor = "#ffce00" 
                        defaultColor = "#ffce00"
                        readonly="false"
                        rating="{{user_rating}}"
                        fontSize = "15px">
                      </ionic4-star-rating>
                    </div>
                  </ion-col>
                </ion-row>
                <ion-row style="margin-top: -2px;">
                  <ion-col no-padding text-left>
                    <ion-label color="dark">
                      <h2 class="for_itemmname">{{item_name}}</h2></ion-label>
                  </ion-col>
                </ion-row>
                <ion-label><h2 class="for_itemmlocation">
                  <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;{{item_location}}
                </h2></ion-label>
                <ion-row>
                  <ion-col no-padding text-left size="9" class="for_borderitem">
                    <ion-row>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item_date}}
                          </h2></ion-label>
                      </ion-col>
                      <ion-col text-left no-padding>
                        <ion-label color="secondary"><h2 class="for_itemmbtn">
                            &nbsp;{{item_time}}
                          </h2></ion-label>
                      </ion-col>
                    </ion-row>
                  </ion-col>
                  <ion-col no-padding text-center size="3">
                    <ion-icon style="zoom: 2;margin-top: -5px;" name="heart" mode="ios" class="myHeartUnSave"></ion-icon>
                  </ion-col>
                </ion-row>

                <ion-row *ngIf="withPurchasedPending">
                  <ion-col no-padding text-left>
                    <ion-label color="dark">
                      <h2 class="for_itemmname">Added to cart : {{quantity_purchased}}</h2>
                      <h2 class="for_itemmname"> $ {{total_amount}}</h2>
                    </ion-label>
                  </ion-col>
                  <ion-col size="6" no-padding *ngIf="ownProfile">
                    <ion-button expand="block" *ngIf="!alreadySold" mode="ios" (click)="confirmMarkSold()" >
                      &nbsp;&nbsp;Mark Sold
                    </ion-button>
                    <ion-button expand="block" *ngIf="alreadySold" mode="ios" >
                      &nbsp;&nbsp;Sold
                    </ion-button>
                  </ion-col>
                </ion-row>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <div class="for_rowpadding" *ngFor="let messageFDB of messagesFromDB">
      <div *ngIf="messageFDB?.message!=''">
        <div class="yours messages" *ngIf="messageFDB?.messaged_user_id !== user_id">
          <ion-item lines="none" class="for_rowitem">
            <ion-avatar *ngIf="!conv_image" id="for_yourspic" slot="start">
              <img src="assets/greenthumb-images/userpicdark.png">
            </ion-avatar>
            <ion-avatar *ngIf="conv_image" id="for_yourspic" slot="start">
              <img [src]="conv_image">
            </ion-avatar>
            <div class="message last">
              {{ messageFDB?.message }}<br>
              <ion-label class="for_yourstime">{{ messageFDB?.date }} {{ messageFDB?.time }}</ion-label>
            </div>
          </ion-item>
        </div>
        <div class="mine messages" *ngIf="messageFDB?.messaged_user_id === user_id">
          <ion-item lines="none" class="for_rowitem">
            <div class="message last">
              {{ messageFDB?.message }} <br>
              <ion-label class="for_minetime">{{ messageFDB?.date}} {{ messageFDB?.time }}</ion-label>
            </div>
          </ion-item>
        </div>
      </div>
      
    </div>

    <!-- for new messages -->
    
    <!-- <ion-row *ngFor="let message of messages">
 
      <ion-col size="9" *ngIf="message.user_id !== user_id" class="message other-message">
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
      <ion-col offset="3" size="9" *ngIf="message.user_id === user_id" class="message my-message">
        <span>{{ message.msg }}</span>
        <div class="time" text-right><br>{{ message.createdAt | date:'short' }}</div>
      </ion-col>
 
    </ion-row> -->
    <div class="for_rowpadding" *ngFor="let message of messages">
      <div class="yours messages" *ngIf="message.user_id !== user_id">
        <ion-item lines="none" class="for_rowitem">
          <ion-avatar id="for_yourspic" slot="start">
            <img src="assets/greenthumb-images/userpicdark.png">
          </ion-avatar>
          <div class="message last">
            {{ message.msg }} <br>
            <ion-label class="for_yourstime">{{ message.createdAt | date:'short' }}</ion-label>
          </div>
        </ion-item>
      </div>
      <div class="mine messages" *ngIf="message.user_id === user_id">
        <ion-item lines="none" class="for_rowitem">
          <div class="message last">
            {{ message.msg }} <br>
            <ion-label class="for_minetime">{{ message.createdAt | date:'short' }}</ion-label>
          </div>
        </ion-item>
      </div>
    </div>
    
  </ion-grid>
  <ion-grid style="text-align: center;" *ngIf="loader"> 

    <ion-spinner name="crescent"></ion-spinner>
</ion-grid>
</ion-content>
 
<ion-footer>
  
  <ion-toolbar color="light">
    <ion-row align-items-center>
      <ion-col size="10">
        <ion-textarea auto-grow class="message-input" rows="1" [(ngModel)]="message"></ion-textarea>
      </ion-col>
      <ion-col size="2">
        <ion-button expand="block" fill="clear" color="primary" [disabled]="message === ''" class="msg-btn"
          (click)="sendMessage()">
          <ion-icon name="ios-send" slot="icon-only"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>








<!-- <ion-header mode="ios">
  <ion-row>
    <ion-col size="9"  mode="ios">
        <ion-item lines="none">
            <ion-avatar slot="start" style="min-width: 3rem;min-height: 3rem;">
                <img src="assets/icon/profilee.png"  mode="ios">
              </ion-avatar>
          <ion-label>
            <h2>Lalisa Manuban</h2>
            <p style="font-size: 15px;text-align: right;">
                <ion-icon name="eye" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;8k
                    <ion-icon name="heart" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;8k
                    <ion-icon name="trophy" style="font-size: 17px" mode="ios"></ion-icon>&nbsp;26
                   </p>
          </ion-label>
        </ion-item>
    </ion-col>
    <ion-col  mode="ios" text-right padding style="padding-top: 5%;">
       <ion-icon name="heart" style="color: #98989d;font-size:40px;"  mode="ios"></ion-icon>  
    </ion-col>
  </ion-row>
</ion-header>

<ion-content mode="ios">
  <img src="assets/icon/girl.gif" style="height: 100%;">
  <div style="background: white;bottom: 0; position: fixed;width: 100%;height: 10%;box-shadow: 5px 2px 8px black;" padding-bottom>
  
      <ion-item no-lines>
          <ion-icon slot="start" mode="ios" (click)="goTab5()" style="color: #98989d;font-size: 30px;vertical-align: middle;" name="arrow-back"></ion-icon>
          <ion-input mode="ios" placeholder="Write message" style="border: 1xp solid black;width: 100%;"></ion-input>
          <ion-icon slot="end" mode="ios" name="send" color="secondary" style="font-size: 40px;vertical-align: middle;" ></ion-icon>
      </ion-item>
      
  </div>
</ion-content> -->
