
ion-item {
    --padding-start: 0% !important;
  }
  .lvlnum{
    font-size: 11px;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: inline-block;
  }
  .lvlnum2{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .lvlicon{
    width: 20px !important; 
    height: 20px; 
    margin: auto;
    margin-bottom: -2%;
    margin-right: 3%;
  }
  .lvlicon2{
    width: 25px !important; 
    height: 25px; 
    margin: auto;
    // margin-bottom: -2%;
    margin-right: 3%;
  }