<ion-header mode="ios" no-border class="for_header">
  <ion-toolbar mode="ios" class="for_background">
      <ion-buttons slot="secondary" (click)="goBack()" >
        <ion-button mode="ios" style="font-size: 15px;">
          Back
      </ion-button>
      </ion-buttons>
      <ion-buttons slot="primary" mode="ios">
        <ion-button mode="ios" (click)="goInvite()">
          <img src="assets/greenthumb-images/group_add.png" style="width: 30px !important;">
        </ion-button>
        <ion-button mode="ios" (click)="goViewprofile()">
          <img src="assets/greenthumb-images/user_circle.png" style="width: 21px !important;">
        </ion-button>
        <ion-button mode="ios" (click)="goHelp()">
          <img src="assets/greenthumb-images/helpicon.png" style="width: 21px !important;">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" class="for_background" style="--overflow: hidden">
  <div class="for_div">
    <div class="for_scroll">
    <ion-row class="for_userborder">
      <ion-col size="1"></ion-col>
      <ion-col size="10" text-center>
        <ion-item id="for_thumbnails" class="for_item" mode="ios" lines="none">
          <ion-thumbnail slot="start">
            <!-- <img src="assets/greenthumb-images/userpicdark.png"> -->
            <div *ngIf="!picture">
              <img src="assets/greenthumb-images/userpicdark.png">
            </div>
            <div *ngIf="picture">
              <img [src] = "complete_pic">
            </div>
            <ion-icon mode="ios" (click)="update_photo()" class="upload_photo" name="camera"></ion-icon>
          </ion-thumbnail>
          <ion-label>
            <h2 style="font-size: 17px;"><b>{{username}}</b></h2>
            <h3 style="font-size: 14px;">{{city}}</h3>
            <ion-row style="padding-top: 2%;">
              <ion-col text-left>
                <!-- <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
                <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
                <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
                <ion-icon class="for_staricon" name="star" mode="ios" size="medium" color="warning"></ion-icon>
                <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium" color="warning"></ion-icon>&nbsp;
                <span style="font-size: 15px;">(5)</span> -->
                <ionic4-star-rating #rating
                activeIcon = "ios-star"
                defaultIcon = "ios-star-outline"
                activeColor = "#ffce00" 
                defaultColor = "#ffce00"
                readonly="false"
                rating="{{user_rating}}"
                fontSize = "15px">
              </ionic4-star-rating>
              </ion-col>
            </ion-row>
          </ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="1"></ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <p class="for_verify"><b>VERIFY YOUR ACCOUNT TO BUILD REPUTATION</b></p>
        <ion-list  class="for_accountitems">
          <ion-item *ngIf="login_type== 4 || login_type==2 " mode="ios" id="for_eachitem">
            <ion-icon name="mail" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Email Verified</ion-label>
           
            <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
            
            
          </ion-item>
          <ion-item mode="ios" id="for_eachitem">
            <ion-icon name="camera" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Image Added</ion-label>
            
              <ion-icon  *ngIf="!picture" name="checkmark" slot="end" color="tertiary" mode="ios" size="large"></ion-icon>
           
              <ion-icon *ngIf="picture" name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
            
            
          </ion-item>
          <ion-item *ngIf="login_type== 3 " mode="ios" id="for_eachitem">
            <ion-icon name="call" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Verify Phone</ion-label>
           
            <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
            
            
          </ion-item>
          <ion-item mode="ios" id="for_eachitem">
            <ion-icon name="add-circle" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Join Truyou</ion-label>
            <ion-icon name="checkmark" slot="end" color="tertiary" mode="ios" size="large"></ion-icon>
          </ion-item>
          <ion-item *ngIf="login_type== 1 " mode="ios" id="for_eachitem">
            <ion-icon name="logo-facebook" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Facebook Connected</ion-label>
           
            <ion-icon  name="checkmark" slot="end" color="primary" mode="ios" size="large"></ion-icon>
            
            
          </ion-item>
        </ion-list>
        <ion-label color="secondary">
          <p class="for_verify">Learn how reputation improves your profile</p>
        </ion-label>
        <ion-list class="for_accountitems">
          <ion-item mode="ios" id="for_eachitem" (click)="goWallet()">
            <ion-icon name="wallet" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label style="font-weight: bold;font-size: 15px;">CASH POINTS</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">OFFERS</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goOffers()">
            <img src="assets/greenthumb-images/shop_bag.png" class="for_eachimg">
            <ion-label>Selling</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="goOffers()">
            <ion-icon name="cart" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Buying</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">PAYMENT METHOD</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goApple()">
            <img src="assets/greenthumb-images/applepay.png" class="for_eachimg2">
            <ion-label>Apple Pay</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="goGoogle()">
            <img src="assets/greenthumb-images/googlepay.png" class="for_eachimg2">
            <ion-label>Google Pay</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">SUBSCRIPTION</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goSubscribe()">
            <img src="assets/greenthumb-images/subscribe.png" class="for_eachimg">
            <ion-label>Subscribe</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem">
            <img src="assets/greenthumb-images/history.png" class="for_eachimg">
            <ion-label>History</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem">
            <ion-icon name="settings" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Settings</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">SELLER INTERACTIONS</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goArchive()">
            <ion-icon name="heart" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Saved items</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="goFollow()">
            <ion-icon name="people" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Followers/Following</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">ACCOUNT</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goViewprofile()">
            <ion-icon name="person" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>View profile</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="openRegistermodal()">
            <ion-icon name="settings" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Account settings</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="goLogout()">
            <ion-icon name="log-out" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Logout</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_accountitems">
          <ion-list-header class="for_eacheader">HELP CENTER</ion-list-header>
          <ion-item mode="ios" id="for_eachitem" (click)="goHelp()">
            <ion-icon name="help-circle" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Help</ion-label>
          </ion-item>
          <ion-item mode="ios" id="for_eachitem" (click)="goCommunityForum()">
            <ion-icon name="chatboxes" slot="start" color="primary" mode="ios"></ion-icon>
            <ion-label>Community forums</ion-label>
          </ion-item>
        </ion-list>
        <ion-list class="for_invite">
          <ion-item mode="ios" id="for_eachitem" lines="none" style="--background: transparent;" (click)="goInvite()">
            <img src="assets/greenthumb-images/group_add2.png" class="for_eachimg2">
            <ion-label color="light" class="for_invitetext">Invite friends</ion-label>
            <ion-icon color="light" name="arrow-forward" slot="end" mode="ios"></ion-icon>
          </ion-item>
        </ion-list>
       
      </ion-col>
    </ion-row>
    
  </div>
  </div>
</ion-content>
