.for_header{
  background: var(--ion-color-tertiary);
  padding-bottom: 3%;
}
.for_background{
  --background: var(--ion-color-tertiary);
}
#for_thumbnails 
  {
    ion-thumbnail {
    width: 100% !important;
    height: 100% !important;
    max-width: 5rem !important;
    max-height: 5rem !important;
      img{
        border: 1px solid rgba(0, 0, 0, 0.12);
        width: 100% !important;
        height: 100% !important;
        max-width: 5rem !important;
        max-height: 5rem !important;
        border-radius: 50%;
    }
  }
}
.for_div{
  background: white;
  padding-bottom: 5px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding-top: 5%; 
  overflow-y: auto;
   height:100%;
}
.for_scroll{
  overflow-y: auto;
   height:100%;
}
ion-item {
  --padding-start: 0% !important;
}
.for_item{
  --background: transparent;
}
.for_staricon{
  font-size: 24px;
  margin-bottom: -3%;
}
.for_userborder{
  border-bottom: 1px solid #ebf1f0;
}
.for_verify{
  font-size: 13px;
  padding: 0;
}
.for_accountitems{
  box-shadow: 0 1px 8px #e2f0cb;
  border-radius: 10px;
  border: 1px solid #e2f0cb;
  margin: 10px;
  margin-top: 15px;
  padding: 0;
  padding-left: 15px;
  padding-right: 3px;
  margin-bottom: 15px;
}
.for_invite{
  background: #76c961;
  border-radius: 0;
  box-shadow: none;
  border: none;
  margin: 10px;
  margin-top: 15px;
  padding: 0;
  padding-left: 15px;
  padding-right: 3px;
  margin-bottom: 15px;
}
#for_eachitem{
  font-size: 14px;
  --inner-padding-end: 0px !important;
  --border-color: #e2f0cb;
}
.for_eacheader{
  font-size: 15px;
  padding-left: 0;
  font-weight: bold;
  border-bottom: 1px solid #ebf1f0;
}
.for_eachimg{
  width: 17px;
  margin-right: 16px;
  margin-top: 7px;
  margin-left: 2px;
}
.for_eachimg2{
  width: 25px;
  margin-top: 2px;
  margin-right: 12px;
  margin-left: 2px;
}
.for_invitetext{
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}
.upload_photo{
  background: #76c961;
    color: white;
    padding: 3px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 52px;
}