.item_label{
    font-weight: bold;
    font-size: 15px;
    padding-left: 0;
    color: #679733;
    margin-bottom: -4%;
  }
  #for_eachitem{
    font-size: 14px;
    --inner-padding-end: 0px !important;
    --border-color: #e2f0cb;
    --padding-start: 0% !important;
  }
  .for_seticon{
    font-size: 15px;
    color: #9da2b3;
  }
  .for_btnout{
    font-size: 15px;height: 36;font-weight: bold;
  }
  .upload_photo{
    background: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 57%;
}
.profile_card{
    color: white;
    --background: black;
    background-image: url('/assets/greenthumb-images/greenthumblogo.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    // background-color: rgba(255, 255, 255, .15);
    background-color: #e2f0cb80;
    backdrop-filter: blur(10px);
}
ion-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 120px !important;  //any size
    max-height: 120px !important; //any size 
    }