<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Settings</ion-title>

    </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center class="profile_card">
    <div class="wrapper">
      <br><br>
      <ion-avatar style="margin: auto;">
        <img src="assets/greenthumb-images/userpicdark.png">
      </ion-avatar>
      <ion-icon mode="ios" (click)="upload_photo()" class="upload_photo" name="camera"></ion-icon>
      <br><br>
    </div>
  </div>
  <ion-list class="for_accountitems" padding>
    <ion-list-header class="item_label">Account</ion-list-header>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Lorem Name</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Phone</ion-label>
      <ion-note mode="ios" color="secondary" style="font-size: 13px;">Add&nbsp;</ion-note>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>lorem@gmail.com</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>TruYou</ion-label>
      <ion-note mode="ios" color="secondary" style="font-size: 13px;">Add&nbsp;</ion-note>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Facebook Connected</ion-label>
      <ion-note mode="ios" color="secondary" style="font-size: 13px;">Facebook Name here&nbsp;</ion-note>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Password</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Tacloban City Philippines</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-list-header class="item_label">Notifications</ion-list-header>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Email</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
    <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
      <ion-label>Push</ion-label>
      <ion-icon name="arrow-forward" slot="end" mode="ios" class="for_seticon"></ion-icon>
    </ion-item>
  </ion-list>
  
  
</ion-content>
