.for_card{
    margin:0;
    box-shadow: 1px 1px 3px #e2f0cb;
    border-radius: 5px;
}
.div_card{
    background: #e2f0cb;
}
.for_itemimg{
    margin: auto;
    width: 90%;
    padding: 7px;
    height: 110px;
}
.for_divicon{
    zoom: 8;
}
.for_cardcontent{
    font-size: 14px;
    color: #679733;
    padding: 7px;
    text-align: center;
    background: #e2f0cb38;
    border-top: 1px solid #e2f0cb;
}
.grid-categories {
    width: 50%;
    float: left;
    padding: 0;
}