<!-- <ion-header mode="ios">
  <ion-toolbar mode="ios" no-padding>
      <ion-item slot="start" style="font-size: 11px;" lines="none">
          <ion-label mode="ios"><b>XP:</b>&nbsp;&nbsp;</ion-label>
          <ion-icon name="star" color="warning" mode="ios"></ion-icon>
          <ion-text mode="ios">{{user_experience | number:'1.0':'en-US'}}</ion-text>
      </ion-item>
      <ion-item slot="end" style="font-size: 11px;" lines="none">
          <ion-label mode="ios"><b>COINS:</b>&nbsp;&nbsp;</ion-label>
          <ion-icon name="logo-bitcoin" color="warning" mode="ios"></ion-icon>
          <ion-text mode="ios">{{user_coins | number:'1.0':'en-US'}}</ion-text>
      </ion-item>
  </ion-toolbar>
</ion-header> -->
<ion-content mode="ios" text-center style="padding-bottom: 0;">
  <ion-row style="padding: 10px;">
    <ion-col style="color: black" mode="ios" text-left>
      <ion-label class="lvltext"><b>COINS:</b>&nbsp;&nbsp;</ion-label><br>
      <img class="lvlicon2" src="assets/icon/dollar.png">
      <ion-text class="lvlnum">{{user_coins | number:'1.0':'en-US'}}</ion-text>
    </ion-col>
    <ion-col style="color: black;" mode="ios" text-right>
      <ion-label class="lvltext"><b>XP:</b>&nbsp;&nbsp;</ion-label> <br>
      <img class="lvlicon" src="assets/icon/star.png">
      <ion-text class="lvlnum">{{user_experience | number:'1.0':'en-US'}}</ion-text>
    </ion-col>
</ion-row>
  <p mode="ios" no-padding><b>{{silver.name}}</b></p>
 <ion-img [src]="silver.imagegif" style="width: 80%;margin: 0 auto" mode="ios"></ion-img>
 <ion-row style="padding: 10px;">
    <ion-col style="color: black" mode="ios" text-center>
      <img class="lvlicon" src="assets/icon/dollar.png">
      <ion-text class="lvlnum">{{silver.price}}</ion-text>
    </ion-col>
  </ion-row>
 <!-- <p mode="ios" style="line-height: 0;"> 
  <ion-icon name="logo-bitcoin" color="warning" mode="ios"></ion-icon> {{silver.price}}</p>  -->
</ion-content>
<ion-footer mode="ios">
    <ion-toolbar mode="ios" style="padding-left: 10px;padding-right: 10px">
        <ion-button slot="start" mode="ios" color="light" size="small" (click)="closeModal()">
          Cancel
        </ion-button>
          <ion-item>
            <ion-select value="1" interface="popover" [(ngModel)]="giftQuantity">
              <ion-select-option value="1">1</ion-select-option>
              <ion-select-option value="10">10</ion-select-option>
              <ion-select-option value="50">50</ion-select-option>
              <ion-select-option value="100">100</ion-select-option>
            </ion-select>
          </ion-item>
         <ion-button slot="end" mode="ios" size="small" (click)="sendGift()">
          Send gift
        </ion-button>
      </ion-toolbar>
</ion-footer>