.lvlicon{
    width: 25px !important; 
    height: 25px; 
    margin: auto;
    margin-bottom: -2%;
    margin-right: 3%;
  }
  .lvlicon2{
    width: 20px !important;
    height: 20px;
    margin: auto;
    margin-bottom: -2%;
    margin-right: 3%;
  }
  .lvltext{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }