.for_itemmessage{
    display: block;
    font-weight: normal;
    color: black;
    font-size: 14px;
    margin-top: 3px;
}
.message{
    font-size: 18px;
    font-weight: bold;
}
.for_inviteworks{
    font-weight: normal;
    font-size: 14px;
}
.line-input {
    margin-bottom: 0!important;
    padding: 0;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 45px;
    }
}
.item_input{
    font-size: 17px;
    --padding-top: 4px;
    color: #6870898a !important;
    text-align: center;
}