<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>
      <ion-title color="secondary">Invite friends</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row justify-content-center align-items-center style='height: 100%'>
    <ion-col  text-center>
      <img src="assets/greenthumb-images/invite.PNG">
      <ion-label color="secondary"><h2 class="message">Give $5, Get $5</h2></ion-label>
      <p>You'll get $5 towards shipping when your friend buys their first item. Terms apply</p>
      <ion-label color="secondary"><h2 class="for_inviteworks">How invites work</h2></ion-label>
    </ion-col>
  </ion-row>

</ion-content>
<div class="posteditem-overlay" padding>
  <ion-row>
    <ion-col>
      <ion-list class="line-input">
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-input mode="ios" type="text" class="item_input" value="https://greenthumb.co/475hdf"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top: -8px;">
    <ion-col>
      <ion-button expand="block" mode="ios" >
        SHARE YOUR LINK
      </ion-button>
    </ion-col>
  </ion-row>
</div>
