
  .for_post{
    --background: none;
    background-image: url('/assets/greenthumb-images/bunny2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.for_post:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    background: rgba(255,255,255,90%);
  }
.line-input {
    margin-bottom: 0!important;
    background: transparent;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 35px;
    }
    #item_area{
        --padding-start: 0;
        height: 70px;
        padding: 10px;
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0;

        ion-textarea{
            font-size: 14px;
            font-weight: bold;
            color: #679733;
        }   
    }
}
.item_input{
    font-size: 14px;
    font-weight: bold;
    color: #679733;
    --padding-top: 0;
    margin-top: -5px;
}
.edit_txt{
  margin-top: -7px;
  font-size: 12px;
}
.edit_icon{
  font-size: 12px;
  margin-top: 0px;
  margin-left: 2px;
}
.item_select{
    font-size: 14px;
    --padding-top: 1%;
    color: #424242!important;
    margin-top: -5px;
}
.item_label{
    font-weight: 300;
    padding: 0;
    margin-top: 8px;
    font-size: 13px;
}
.for_selavailability{
    max-width: 100%;
    font-size: 14px;
    font-weight: bold;
    color: #679733;
    margin-top: -11px;
}
.block {
  position: relative;
  box-shadow: none;
  margin: 0;
  .deleteIcon {
    position: absolute !important;
    color: #ffffff !important;
    right: 5%;
    top: 3%;
    font-size: 20px;
  }
  .deleteIcon:before {
    font-size: 30px !important;
  }
  }

  