<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Edit Item</ion-title>

      <ion-buttons slot="primary">
        <ion-button mode="ios" (click)="selectImage()">
          <ion-icon size="large" name="camera" mode="ios" color="secondary"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding class="for_post">
  <ion-button style="height: 40px;" mode="ios" (click)="goSellfaster()">
    <ion-icon name="trending-up" mode="ios"></ion-icon>&nbsp;&nbsp;SELL FASTER</ion-button>
  <ion-row>
    
    

    <ion-grid>

      <ion-row *ngFor="let photo of ImageArray; let i = index">
        <ion-col *ngIf="i % 2 == 0">
          <ion-card class="block" mode="ios">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(photo.picture_filename, i)"></ion-icon>
            <img [src]="photo.picture_filename" *ngIf="photo.picture_filename" />
          </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row *ngFor="let photo of ImageArray; let i = index">
        <ion-col *ngIf="i % 2 != 0">
          <ion-card class="block" mode="ios">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(i)"></ion-icon>
            <img [src]="photo.picture_filename" *ngIf="photo.picture_filename" />
          </ion-card>
         </ion-col>
      </ion-row>
    </ion-grid>
  </ion-row>
  <br>  
  <ion-list class="line-input">
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">Item Price</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="item_price" type="text" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">Item Name</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="item_name" type="text" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">Category</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="item_category" type="text" class="item_input" size="small"></ion-input>
          <ion-note (click)="goCategories()" color="secondary" mode="ios" slot="end" class="edit_txt">Edit</ion-note>
           <ion-icon (click)="goCategories()" name="arrow-forward" mode="ios" slot="end" color="secondary" class="edit_icon"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">Availability</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item mode="ios" lines="none" style="--padding-start: 0;">
          <ion-select text-right expand="block" class="for_selavailability"  mode="ios" okText="Okay" cancelText="Dismiss">
            <ion-label>Availability</ion-label>
            <ion-select-option selected>In Stock</ion-select-option>
            <ion-select-option>Out of Stock</ion-select-option>
            <ion-select-option>Unavailable</ion-select-option>
            <ion-select-option>Unsold</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">City</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="item_location" type="text" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="3" text-left no-padding>
        <p class="item_label">Zip Code</p>
      </ion-col>
      <ion-col size="9" text-left no-padding>
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="item_zipcode" type="text" class="item_input" size="small"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" text-left no-padding>
        <p class="item_label">Description</p>
      </ion-col>
      <ion-col size="12" text-left no-padding>
        <ion-item mode="ios" lines="none" id="item_area">
          <ion-textarea [(ngModel)]="item_description" mode="ios"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>

</ion-content>
<div class="edititem-overlay" padding>
  <ion-row>
    <ion-col size="5" no-padding>
      <ion-button color="danger" expand="block" mode="ios">
        DELETE
      </ion-button>
    </ion-col>
    <ion-col size="7" no-padding>
      <ion-button (click)="saveEdit()" expand="block" mode="ios">
        UPDATE
      </ion-button>
    </ion-col>
  </ion-row>
</div>
