<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Subscribe</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios">

  <ion-card mode="ios" no-padding style="box-shadow: none;"> 
    <ion-card-header text-left mode="ios" no-padding>
      <ion-card-subtitle color="medium" style="padding-bottom: 0.5%;"><b>Go Premium</b></ion-card-subtitle>
      <ion-card-title style="font-weight: bolder;">Choose a Greenthumb Package</ion-card-title>
    </ion-card-header><br>
    <ion-card-content mode="ios" no-padding>
      <ion-row>
        <ion-col no-padding>
          <ion-list mode="ios">
            <ion-item mode="ios" lines="none" style="font-size: 13px;">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_package" mode="ios">LOREM</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Sed ut perspiciatis</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Sed ut perspiciatis</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Sed ut perspiciatis</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Sed ut perspiciatis</ion-label>
            </ion-item>
            <ion-item mode="ios" lines="none" class="item_sec">
              <ion-icon class="item_icon" name="checkmark" color="primary" slot="start" mode="ios"></ion-icon>
              <ion-label class="item_label" mode="ios">Sed ut perspiciatis</ion-label>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col no-padding></ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

      <ion-row padding  text-center style="padding-bottom: 0;">
          <ion-col>
              <ion-button *ngIf="!withPackage" (click)="verificationSubscription()" expand="block" mode="ios">SUBSCRIBE</ion-button>
              <ion-button *ngIf="withPackage" (click)="verifyCancel()" color="danger" expand="block" mode="ios">CANCEL SUBSCRIPTION</ion-button>
              
            </ion-col>
      </ion-row>

      <ion-row padding text-center style="padding-top: 0;">
        <ion-col>
          <h5 style="font-weight: bold;">Lorem Title here</h5>
          <p text-center style="color: #737373;font-size: 13px;padding-left: 20px;padding-right: 20px;">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum 
            deleniti atque corrupti
          </p>
        </ion-col>
    </ion-row>
  

</ion-content>
