.lvlicon{
    width: 20px !important;
    height: 20px;
    margin: auto;
    margin-bottom: -2%;
    margin-right: 3%;
    // display: inline-block;
  }  
    .lvlnum{
      margin: 0;
      margin-top: 4%;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      // display: inline-block;
      font-size: 18px;
      
    }
    ion-item {
      --padding-start: 0% !important;
      --inner-padding-end: 0;
      
    }
    #radio_uncheck{
      --background: white;
      width: 100%;
      margin: auto;    --background: var(--ion-item-background,transparent);
      border-radius: 8px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      transition: transform .5s cubic-bezier(.12,.72,.29,1);
      transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      font-size: 14px;
      -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
      box-shadow: 0 4px 16px rgba(0,0,0,.12);
      color: black;
    }
    .item-radio-checked{
      --background: linear-gradient(to top left, #1dc1e6 0%, #1dc1e696 95%) !important;
      width: 100%;
      margin: auto;    --background: var(--ion-item-background,transparent);
      border-radius: 8px;
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      transition: transform .5s cubic-bezier(.12,.72,.29,1);
      transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
      font-size: 14px;
      -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
      box-shadow: 0 4px 16px rgba(0,0,0,.12);
      color: white !important;
    }
  
  .item_icon{
    margin-bottom: 0;
    margin-right: 5px;
  }
  .item_package{
    margin-bottom: 0;
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 16px;
  }
  .item_label{
    margin-bottom: 0;
    text-transform: capitalize;
  }
  .item_sec{
    font-size: 13px;
    margin-top: -8%;
    --background: transparent;
  }
  .bk_treasure{
    --background: none;
      background-image: url('/assets/icon/treasure.png');
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
  }
  .item-block{
    --background:linear-gradient(to top left, #1dc1e6 0%, #1dc1e696 95%) !important;
    width: 100%;
    margin: auto;    --background: var(--ion-item-background,transparent);
    border-radius: 8px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: -webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1);
    transition: transform .5s cubic-bezier(.12,.72,.29,1),-webkit-transform .5s cubic-bezier(.12,.72,.29,1);
    font-size: 14px;
    -webkit-box-shadow: 0 4px 16px rgba(0,0,0,.12);
    box-shadow: 0 4px 16px rgba(0,0,0,.12);
    color: green;
  }
  .prename{
    margin-top: 8%;
    font-size: 12px;
    font-weight: lighter !important;
    text-transform: uppercase;
  }
  .pretext{
    font-size: 12px;
    margin-top: 1%;
    font-weight: lighter !important;
  }
  .item_radio{
    float: right;
    margin-top: -5%;
  }
  