.upload_photo{
    background: white;
    color: black;
    padding: 5px;
    border-radius: 50%;
    font-size: 20px;
    position: absolute;
    top: 65%;
    left: 57%;
}
.profile_card{
    color: white;
    --background: black;
    background-image: url('/assets/icon/background1.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper{
    // background-color: rgba(255, 255, 255, .15);
    background-color: #4242428c;
    backdrop-filter: blur(10px);
}
ion-avatar  {     
    width:100% !important;  
    height : 100% !important;  
    max-width: 120px !important;  //any size
    max-height: 120px !important; //any size 
    }
.line-inputname {
    background: transparent !important;
    // margin: 5% !important;
    // margin-top: 0 !important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border-bottom: 1px solid #ffffff;
        --background: transparent !important;
        // border-radius: 4px;
        // height: 40px;
        // margin-top: 4%;
        ion-input{
            font-size: 14px;
            // --padding-top: 0;
            color: white!important;
            // --padding-bottom: 0;
        }
    }
}
.line-input {
    margin-bottom: 0!important;
    ion-item {
        --border-color: transparent!important;
        --highlight-height: 0;
        border: 1px solid #dedede;
        border-radius: 4px;
        height: 40px;
        margin-top: 4%;

        // &.item-has-focus {
        //     border: 1px solid var(--ion-color-primary);
        // }

        // ion-label {
        //     color: #807e7e!important;
        //     font-weight: 300;
        //     font-size: 1rem!important;
        // }
    }
}
.item_input{
    font-size: 14px;
    --padding-top: 0;
    color: #424242!important;
}
.item_select{
    font-size: 14px;
    --padding-top: 1%;
    color: #424242!important;
}
.item_label{
    color: #b3aeae !important;
    font-weight: 300;
    font-size: 13px;
}