<!-- <ion-header translucent mode="ios">
  
</ion-header> -->

<ion-content mode="ios">
  
  <div text-center *ngIf="!picture" class="profile_card">
    <div class="wrapper">
      <ion-toolbar mode="ios" style="--background: transparent;padding-top: 3%;">
        <ion-title style="font-size: 14px;" color="light" mode="ios">EDIT PROFILE</ion-title>
      </ion-toolbar>
      <br>
      <ion-avatar style="margin: auto;">
        <img src="assets/icon/profilee.png">
      </ion-avatar>
      <ion-icon mode="ios" (click)="upload_photo()" class="upload_photo" name="camera"></ion-icon>
      <br><br>
    </div>
  </div>

  <ion-card style="color: white;" *ngIf="picture" text-center [style.backgroundImage]="'url('+ complete_pic +')'">
    <div class="wrapper">
      <ion-toolbar mode="ios" style="--background: transparent;padding-top: 3%;">
        <ion-title style="font-size: 14px;" color="light" mode="ios">EDIT PROFILE</ion-title>
      </ion-toolbar>
      <br>
      <ion-avatar style="margin: auto;">
        <img [src] = "complete_pic">
      </ion-avatar>
      <ion-icon mode="ios" (click)="upload_photo()" class="upload_photo" name="camera"></ion-icon>
      <br><br>
    </div>
  </ion-card>

  <ion-list class="line-input" padding>
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Email</ion-label>
        <ion-item>
          <ion-input mode="ios" type="email" class="item_input" size="small" maxlength="50" minlength="7" [(ngModel)]="inpt_email" value="{{ email }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col style="padding-right: 5%">
        <ion-label class="item_label">First Name</ion-label>
        <ion-item style=" margin-top: 9%;">
          <ion-input mode="ios" type="text" class="item_input" size="small" maxlength="50" minlength="2" [(ngModel)]="inpt_fname" value="{{ fname }}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="padding-left: 5%">
        <ion-label class="item_label">Last Name</ion-label>
        <ion-item style=" margin-top: 9%;"> 
          <ion-input mode="ios" type="text" class="item_input" size="small" maxlength="50" minlength="2" [(ngModel)]="inpt_lname" value="{{ lname }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Nickname</ion-label>
        <ion-item>
          <ion-input mode="ios" type="text" class="item_input" size="small" maxlength="50" minlength="2" [(ngModel)]="inpt_nickname"  value="{{ nickname }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Gender</ion-label>
        <ion-item>
          <ion-label  class="item_label" style="margin-top: 0;">Select One</ion-label>
          <ion-select interface="popover"  class="item_select" mode="ios" value="{{ gender }}" [(ngModel)]="inpt_gender">
            <ion-select-option value="f">Female</ion-select-option>
            <ion-select-option value="m">Male</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Birthdate</ion-label>
        <ion-item>
          <ion-input mode="ios" type="date" class="item_input" size="small" displayFormat="MM/DD/YYYY" [(ngModel)]="inpt_birthdate" value="{{ birthdate }}" min="1945-01-01" max="2012-12-31"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding mode="ios">
    <ion-row>
      <ion-col style="padding-right: 5%">
        <ion-label class="item_label">Town/City</ion-label>
        <ion-item style=" margin-top: 9%;">
          <ion-input mode="ios" type="text" class="item_input" size="small" maxlength="50" minlength="2" [(ngModel)]="inpt_city"  value="{{ city }}"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col style="padding-left: 5%">
        <ion-label class="item_label">Zip Code</ion-label>
        <ion-item style=" margin-top: 9%;">
          <ion-input mode="ios" type="number" class="item_input" size="small" maxlength="7" minlength="2" [(ngModel)]="inpt_zip_code"  value="{{ zip_code }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Country</ion-label>
        <ion-item>
          <ion-input mode="ios" type="text" class="item_input" size="small" maxlength="50" minlength="2" [(ngModel)]="inpt_country" value="{{ country }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list class="line-input" padding style="padding-top: 0;">
    <ion-row>
      <ion-col>
        <ion-label class="item_label">Contact Number</ion-label>
        <ion-item>
          <ion-input mode="ios" type="number" class="item_input" size="small" maxlength="12" minlength="11" [(ngModel)]="inpt_mobile_num" value="{{ mobile_num }}"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list padding>
    <ion-row>
      <ion-col>
        <ion-button color="light" expand="block" mode="ios" (click)="goBack()">CANCEL</ion-button>
      </ion-col>
      <ion-col>
        <ion-button expand="block" mode="ios" (click)="save_profile()">SAVE</ion-button>
      </ion-col>
    </ion-row>
  </ion-list>

  
  
  
 
 
<!-- <ion-button text-right size="small" mode="ios" color="light" (click)="upload_photo()"><ion-icon mode="ios" name="image"></ion-icon>
  &nbsp;Update Profile Picture</ion-button><br>
<div *ngIf="!picture">
<img src="assets/icon/profilee.png" style="width: 25%;">
</div>
<div *ngIf="picture">
<img [src] = "complete_pic" style="width: 25%;">
</div> -->
<!-- <ion-list mode="ios">
  <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label position="floating" style="color: #cecece;">First Name</ion-label>
          <ion-input type="text" mode="ios" maxlength="50" minlength="2" [(ngModel)]="inpt_fname" value="{{ fname }}"></ion-input>
        </ion-col>
        <ion-col  size="6">
          <ion-label position="floating" style="color: #cecece;">Last Name</ion-label>
          <ion-input type="text" mode="ios" maxlength="50" minlength="2" [(ngModel)]="inpt_lname" value="{{ lname }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon mode="ios" name="person" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Nickname</ion-label>
    <ion-input type="text" mode="ios" maxlength="50" minlength="2" [(ngModel)]="inpt_nickname"  value="{{ nickname }}"></ion-input>
    <ion-icon mode="ios" name="person" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Birthdate</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" [(ngModel)]="inpt_birthdate" value="{{ birthdate }}" min="1945-01-01" max="2012-12-31"></ion-datetime>
    <ion-icon mode="ios" name="ios-calendar" slot="start"></ion-icon>
    
  </ion-item>

  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Gender</ion-label>
    <ion-select interface="popover" mode="ios" value="{{ gender }}" [(ngModel)]="inpt_gender">
      <ion-select-option value="Male">Male</ion-select-option>
      <ion-select-option value="Female">Female</ion-select-option>
    </ion-select>
    <ion-icon mode="ios" name="man" slot="start"></ion-icon>
  </ion-item>
  <ion-item>        
    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-label position="floating" style="color: #cecece;">Town/City</ion-label>
          <ion-input type="text" mode="ios" maxlength="50" minlength="2" [(ngModel)]="inpt_city"  value="{{ city }}"></ion-input>
        </ion-col>
        <ion-col  size="6">
          <ion-label position="floating" style="color: #cecece;">Zip Code</ion-label>
          <ion-input type="number" mode="ios" maxlength="7" minlength="2" [(ngModel)]="inpt_zip_code"  value="{{ zip_code }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-icon mode="ios" name="pin" slot="start"></ion-icon>
  </ion-item>       
  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Country</ion-label>
    <ion-input type="text" mode="ios" maxlength="50" minlength="2" [(ngModel)]="inpt_country" value="{{ country }}"></ion-input>
    <ion-icon mode="ios" name="pin" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Email</ion-label>
    <ion-input type="email" mode="ios" maxlength="50" minlength="7" [(ngModel)]="inpt_email" value="{{ email }}"></ion-input>
    <ion-icon mode="ios" name="mail" slot="start"></ion-icon>
  </ion-item>
  <ion-item>
    <ion-label position="floating" style="color: #cecece;">Contact Number</ion-label>
    <ion-input type="number" mode="ios" maxlength="12" minlength="11" [(ngModel)]="inpt_mobile_num" value="{{ mobile_num }}"></ion-input>
    <ion-icon mode="ios" name="call" slot="start"></ion-icon>
  </ion-item>
    <br><br>
  <ion-button expand="block" mode="ios" (click)="save_profile()" color="secondary">SAVE</ion-button>
</ion-list> -->
</ion-content>
