<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
    </ion-buttons>

      <ion-title color="secondary">Points</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content mode="ios" padding>
    <ion-card mode="ios" class="for_card">
        <ion-row>
            <ion-col padding>
                <br>
                <ion-label color="secondary" class="for_bal">Current Points Earned</ion-label>
                <ion-label><h1 class="for_numbal">$600</h1></ion-label>
            </ion-col>
            <ion-col text-center>
                <img src="assets/greenthumb-images/bank.png" style="width: 90%;">
            </ion-col>
        </ion-row>
    </ion-card>
    <!-- <ion-list class="line-input" padding>
        <ion-row>
          <ion-col>
            <ion-label class="item_label">RELOAD</ion-label>
            <ion-item>
              <ion-input placeholder="Enter Amount" mode="ios" type="text" class="item_input" size="small">
              </ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list> -->
      <ion-list mode="ios" style="margin-top: 20px;">
        <ion-list-header mode="ios" style="padding-left: 0;">
            TRANSACTION HISTORY
          </ion-list-header>
        <ion-item mode="ios">
            <ion-avatar slot="start">
                <img src="assets/greenthumb-images/money-bag.png"> 
            </ion-avatar>
            <ion-label mode="ios">
                <h3><b>Lorem ipsum</b></h3>
                <p class="for_datetime" mode="ios">12/12/2020 4:05 PM</p>
            </ion-label>
            <ion-label mode="ios" slot="end" text-right color="secondary" class="for_labelend">
                <h1><b>$800</b></h1>
            </ion-label>
        </ion-item> 
        <ion-item mode="ios">
            <ion-avatar slot="start">
                <img src="assets/greenthumb-images/money-bag.png"> 
            </ion-avatar>
            <ion-label mode="ios">
                <h3><b>Lorem ipsum</b></h3>
                <p class="for_datetime" mode="ios">12/12/2020 4:05 PM</p>
            </ion-label>
            <ion-label mode="ios" slot="end" text-right color="secondary" class="for_labelend">
                <h1><b>$800</b></h1>
            </ion-label>
        </ion-item> 
        <ion-item mode="ios">
            <ion-avatar slot="start">
                <img src="assets/greenthumb-images/money-bag.png"> 
            </ion-avatar>
            <ion-label mode="ios">
                <h3><b>Lorem ipsum</b></h3>
                <p class="for_datetime" mode="ios">12/12/2020 4:05 PM</p>
            </ion-label>
            <ion-label mode="ios" slot="end" text-right color="secondary" class="for_labelend">
                <h1><b>$800</b></h1>
            </ion-label>
        </ion-item> 
     </ion-list>
</ion-content>
