.for_bank{
  --background: none;
    background-image: url('/assets/greenthumb-images/bank.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.line-input {
  margin-bottom: 0!important;
  padding-left: 0;
    padding-right: 0;

  ion-item {
      --border-color: transparent!important;
      --highlight-height: 0;
      border: 1px solid #dedede;
      border-radius: 4px;
      height: 40px;
      margin-top: 4%;
  }
}
.item_input{
  font-size: 14px;
    --padding-top: 0;
    color: #424242 !important;
    --padding-start: 10px !important;
}
.item_label{
  color: #679733 !important;
  font-size: 14px;
  font-weight: bold;
}
.for_card{
  margin: 0;
  background: #e2f0cb;
  height: 140px;
}
.for_bal{
  font-size:14px;
  font-weight: bold;
}
.for_numbal{
  font-weight: bold;
  font-size: 40px;
  color: black;
}
.for_datetime{
  padding: 0;
  font-size: 12px;
  color: #00000066
}
.for_labelend{
  margin-left: -100px;
  align-self: flex-end;
}
ion-avatar{
  width: 100% !important;
  height: 100% !important;
  max-width: 40px !important;
  max-height: 40px !important;
      img{
          width: 100% !important;
          height: 100% !important;
          max-width: 40px !important;
          max-height: 40px !important;
      }
}
  ion-item {
    --padding-start: 0% !important;
}