.my-overlay-right {
    position: fixed;
    // text-shadow: 3px 3px 5px black;
    z-index: 20;
    top: 2%;
    right: 2%;
  }
  .my-overlay-left {
    position: fixed;
    // text-shadow: 3px 3px 5px black;
    z-index: 20;
    top: 2%;
    left: 2%;
  }
#btn_custom{
  border-radius: 6px;
    padding-top: 0;
    padding-bottom: 0;
    height: 2.1em;
    width: 10em;
    font-size: 13px;
    text-transform: uppercase;
}
  .myHeartFollow{
    color: #1dc1e6;
    border: 1px solid #1dc1e6;
    background: white;
  }
  .myHeartFollow span {
    display: none;
  }
  .myHeartFollow:after {
    content: 'follow';
  }

  .myHeartUnfollow{
    color: white;
    border: 1px solid #1dc1e6;
    background: #1dc1e6;
  }
  .myHeartUnfollow span {
    display: none;
  }
  .myHeartUnfollow:after {
    content: 'following';
  }

  .lvlicon{
    width: 30px !important; 
    height: auto; 
    margin: auto;
  }
  .lvlicon2{
    width: 60px !important; 
    height: auto; 
    margin: auto;
  }
  .lvltext{
    text-transform: capitalize;
    font-size: 12px;
    font-family: arial;
  }
  // .lvlcol{
  //   border: 1px solid #eff1f8;
  // }
  .lvlcol2{
    --background: none;
    background-image: url('/assets/icon/knight2.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-right: 0;border-bottom: 0;
  }
  .lvlnum{
    margin: 0;
    margin-top: 4%;
    font-weight: bolder;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  .lvlname{
    font-size: 14px;
      text-transform: uppercase;
      font-weight: bolder;
      color: white;
      background: #1dc1e6;
      padding: 10px;
      border-radius: 25px;
      padding-top: 8px;
      padding-bottom: 8px;
      margin-top: 2%;
  }
  
  
      .progress-outer {
          width: 96%;
          margin: 10px 2%;
          padding: 3px;
          text-align: center;
          background-color: #f4f4f4;
          border: 1px solid #dcdcdc;
          color: #fff;
          border-radius: 20px;
      }
  
      .progress-inner {
          min-width: 15%;
          white-space: nowrap;
          overflow: hidden;
          padding: 5px;
          border-radius: 20px;
          background-color: #1dc1e6;
      }
      
  