<ion-header no-border mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()" >
        <ion-button  mode="ios">
            <ion-icon name="arrow-back"  mode="ios"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title  mode="ios">
        <img src="assets/icon/imggolive2.gif" style="width: 80px;padding-top: 6px;" mode="ios">
      </ion-title>
      <ion-buttons slot="primary"  mode="ios"> 
        <ion-button  mode="ios">
            <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios" padding>
  <ion-text mode="ios" text-center>
      <p mode="ios" style="font-size: 17px;font-weight: bold;">Ready to broadcast your moment?</p>
  </ion-text>
  <ion-grid padding style="padding-bottom: 25px!important">
    <ion-row>
      <ion-col text-center>
        <img src="assets/icon/imgmakeup.png" mode="ios" style="padding:10px;width: 90%">
        <ion-label style="font-size: 14px;">Makeup</ion-label>  
      </ion-col>
      <ion-col  text-center>
        <img src="assets/icon/imgcontent.png" mode="ios" style="padding:10px;width: 90%">
         <ion-label style="font-size: 14px;">Content</ion-label>
      </ion-col>
    </ion-row> <br>
     <ion-row>
      <ion-col text-center>
        <img src="assets/icon/imgbackground.png" mode="ios" style="padding:10px;width: 90%">
        <ion-label style="font-size: 14px;">Background</ion-label>  
      </ion-col>
      <ion-col  text-center>
        <img src="assets/icon/imglighting.png" mode="ios" style="padding:10px;width: 90%">
         <ion-label style="font-size: 14px;">Lighting</ion-label>
      </ion-col>
    </ion-row>
  </ion-grid> 
  <br>
  <ion-radio-group [(ngModel)]="myBroadcast" name="broadcastType" mode="ios">
  <ion-row>
    <ion-col size="1"></ion-col>

    
      <ion-col size="5">
        <ion-item text-left lines="none">
          <ion-radio  style="font-size: 10px;" value="1" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 14px;font-weight: 500;" ><b> PUBLIC</b></ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="5">
        <ion-item text-left lines="none">
          <ion-radio style="font-size: 10px;" value="2" ></ion-radio>&nbsp;&nbsp;&nbsp;&nbsp;
          <ion-label style="font-size: 14px;font-weight: 500;" ><b> PRIVATE</b></ion-label>
        </ion-item>
      </ion-col>  
     
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-radio-group>
  <ion-row>
    <ion-col text-center>
      <button (click)="goLive()" class="round-button">Go Live</button>
    </ion-col>
  </ion-row>
  
</ion-content>
