<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Choose Category</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>



  <ion-grid class="grid-categories">
    <ion-row *ngFor="let category of categoryList; let i = index" style="padding: 5px;" >
      <ion-col (click)="selected(category.id, category.category)" *ngIf="i % 2 == 0">
        <ion-card mode="ios" class="for_card">
          <div *ngIf="!category.category_photo">
            <img src="assets/greenthumb-images/greenthumblogo.png">
          </div>
          <div *ngIf="category.category_photo">
            <img [src] = "category.category_photo">
          </div>
          <ion-card-content class="for_cardcontent">
            {{category.category}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="grid-categories">
    <ion-row *ngFor="let category of categoryList; let i = index" style="padding: 5px;">
      <ion-col (click)="selected(category.id, category.category)" *ngIf="i % 2 != 0">
        <ion-card mode="ios" class="for_card">
          <div *ngIf="!category.category_photo">
            <img src="assets/greenthumb-images/greenthumblogo.png">
          </div>
          <div *ngIf="category.category_photo">
            <img [src] = "category.category_photo">
          </div>
          <ion-card-content class="for_cardcontent">
            {{category.category}}
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
