/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import '~firebaseui/dist/firebaseui.css';

.foo .alert-message {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  max-width: 420px;
  text-align: justify;
}
// bottom: 40px;
//     left: 35px;

.swiper-pagination-bullet {
  background: #e3e6e8;
  opacity: 5;
}

.swiper-pagination-bullet-active {
 opacity: 1;
 background: #76c961;
}

#slide_forhome{
  position: unset;
  .swiper-pagination-bullet {
   width: 13px;
   height: 13px;
  }

 .swiper-pagination-bullet-active {
   width: 13px;
   height: 13px;
 }
}
#slide_forpromoss{
  .swiper-pagination-bullet {
    background: white;
    opacity: 5;
  }
  .swiper-pagination-bullet-active {
   opacity: 1;
   background: #76c961;
  }
  .swiper-pagination-bullets{
    bottom: 23%;
    left: 40px;
    text-align: left;
  }
}


#slide_forpromo{
  .swiper-pagination-bullet {
    background: white;
    opacity: 5;
  }
  .swiper-pagination-bullet-active {
   opacity: 1;
   background: #76c961;
  }
  .swiper-pagination-bullets{
    position: inherit;
    // bottom: 23%;
    // left: 40px;
    // text-align: left;
  }
}

.registermodalstyle .modal-wrapper {
  height: 98%;
  width: 98%;
  bottom: 1%;
  border-radius: 2%;
    border: 1px solid white;
}
.ratingmodalstyle .modal-wrapper {
  height: 260px;
  width: 80%;
  bottom: 1%;
  border-radius: 2%;
  border: 1px solid white;
}

 
  //  ion-tab-button[aria-selected=true]{
  //   --background:  #76c961 !important;
  //   --color-selected:white!important;
  // }
  // ion-tab-button{
  //   --color:#a5a5a5;
  // }
  ion-popover{
    ion-backdrop{
    opacity: 0.5 !important;
    }
    .popover-wrapper{
    .popover-content{
    width:95vw;
    max-width:500px;
    }
    }
    }

// .choose-bg{
//     --background: none;
//     background-image: url('assets/icon/background1.jpg');
//     background-position: center center;
//     background-repeat: no-repeat;
//     background-size: cover;
//     --overflow: hidden;
// }

.bottomOverlay{
  width: 100%;
  height: 150px;
  position: absolute;
  z-index: 99;
  bottom: 0px;
  background: linear-gradient(to bottom, rgb(0 0 0 / 1%), rgba(0, 0, 0, 67%));
  color: white;
  // text-shadow: 0 1px 5px #989aa2;
  text-shadow: 0 1px 5px rgb(0 0 0 / 38%);
  padding: 5px;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
}
.topOverlay{
  width: 100%;
  height: 55px;
  position: absolute;
  z-index: 99;
  top: 0px;
  left: 0px;
  background:linear-gradient(
    to top,
    rgba(0, 0, 0, 0.0),
    rgba(0, 0, 0, 0.452)
  );
  color: white;
  text-shadow: 0 1px 5px #989aa2;
  padding: 5px;
  font-size:12px;
  font-weight: 700;
  text-align: left;
  padding-left: 3%;
}

// temporary css
.firebaseui-idp-facebook{
  top: 11px;
  left: -45px;
  width: 50px;
  height: 50px;
}
.firebaseui-idp-google{
  top: 11px;
  left: -50px;
  width: 50px;
  height: 50px;
}
.firebaseui-idp-phone{
  top: 11px;
  left: -55px;
  width: 50px;
  height: 50px;
  z-index: 9999;
}
.firebaseui-idp-anonymous{
  top: -45px;
  left: 90px;
  width: 50px;
  height: 50px;
  z-index: 9999;
  // background: #45619d !important;
}

.firebaseui-tospp-full-message{
  color: #ffffff
}


p {
  padding: 0 40px;
  font-size: 14px;
  line-height: 1.5;
  // color: var(--ion-color-step-600, #60646b);
}

ion-header{
  padding-top: 2%;
}
.badge_knight{
  width: 22px !important;
  display: inline-block !important;
  margin-bottom: -2%;
}
.badge_knight2{
  width: 18px !important;
  display: inline-block !important;
  margin-bottom: -2%;
}
.badge_knight3{
  width: 13px !important;
  display: inline-block !important;
  margin-bottom: -2%;
}
.colored_tabicon{
  width: 25px !important;
}
.colored_pin{
  width: 18px !important;
  display: inline-block !important;
  margin-bottom: -1%;
}
.colored_icon{
  width: 17px !important;
  display: inline-block !important;
  margin-bottom: -1%;
}
#for_thumbnail{
  ion-thumbnail {
       min-width: 5rem;    
      min-height: 5rem;
       img {
          max-width: 5rem;    
          min-width: 5rem;
       }
   }
}
.for_shareitemimg{
  width: 100%;
  padding-top: 10px;
  margin: auto;
  margin-bottom: -50px;
}
#for_avatar{
  width: 48px;
  height: auto;
  margin-left: 7px;
  margin-bottom: -4px;
}
.for_avatarby{
  margin-top: -10px;
  padding-bottom: 0;
  padding-top: 0;
  ion-col{
    font-size: 13px;
    color: #679733;
  }
}
.for_avatarname{
  margin-top: -7px;
  margin-left: 18px;
  padding-top: 0;
  ion-col{
    font-size: 14px;
    color: #679733;
  }
}
.for_itemprice{
  font-size: 28px;
}
.for_itemname{
  font-size: 15px;
  font-weight: bold;
}
.for_categname{
  font-size: 13px;
  color: #679733;
  text-transform: uppercase;
}
.for_locname{
  font-size: 13px;
  text-transform: uppercase;
}
.for_itemup{
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
}

#customsearchbar{
  --background: transparent;
    height: 40px;
    padding-top: 15px;
    padding-right: 0;
    input{
      font-size: 14px;
      color: #679733;
      padding-left: 40px;
      border-radius: 4px;
      border: 1px solid #e2f0cb;
    }
    ion-icon{
      margin-left: 3%;
    }
}
#customsearchbartab1{
      height: 40px;
      font-size: 14px;
      color: #679733;
      border-radius: 4px;
      border: 1px solid #e2f0cb;
    ion-input{
      margin-top: -10px;
    }
    ion-icon{
      padding-left: 10px;
      margin-top: 0px;
      margin-right: 10px;
    }
}
.posteditem-overlay {
  // position: fixed;
  width: 100%;
  height: 145px;
  background:  white;
  box-shadow: 5px 5px black;
  z-index: 20;
  bottom: 0%;
  left: 0;
  border-top: 1px solid #e2e2e2;
}
.shareitem-overlay {
  position: fixed;
  width: 100%;
  height: 95px;
  background:  white;
  box-shadow: 5px 5px black;
  z-index: 20;
  bottom: 0%;
  left: 0;
  border-top: 1px solid #e2e2e2;
}
.postitem-overlay {
  // position: fixed;
  width: 100%;
  height: 145px;
  background:  white;
  box-shadow: 5px 5px black;
  z-index: 20;
  bottom: 0%;
  left: 0;
  border-top: 1px solid #e2e2e2;
}
.edititem-overlay {
  // position: fixed;
  width: 100%;
  height: 85px;
  background:  white;
  box-shadow: 5px 5px black;
  z-index: 20;
  bottom: 0%;
  left: 0;
  border-top: 1px solid #e2e2e2;
}
button:focus {
  outline: none !important;
}


.postitem_container {
  width: 100%;
  color: #c6c6c6;
  font-size: 16px;
  font-weight: bold;
}
.postitem_progressbar {
  counter-reset: step;
  margin-left: -15%;
  margin-right: -4%;
}
.postitem_progressbar li {
  position: relative;
  list-style: none;
  float: left;
  width: 20%;
  text-align: center;
}

/* Circles */
.postitem_progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  display: block;
  text-align: center;
  margin: 0 auto 0px auto;
  border-radius: 50%;
  background-color: #edf1fe;
   
  /* Center # in circle */
  line-height: 30px;
}
.postitem_progressbar li.whenfocus:before {
  background-color:  #76c961;
  color: white;
}
.postitem_progressbar li.whenfocus span {
  color:#76c961;
}

.postitem_progressbar li span {
    color: #9da2b3;
    font-size: 12px;
    font-weight: normal;
}

.postitem_progressbar li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 5px;
  background: #edf1fe ;
  top: 15px; /*half of height Parent (li) */
  left: -50%;
  z-index: -1;
}

.postitem_progressbar li:first-child:after {
  content: none;
}

.postitem_progressbar li.active:before {
  background: #76c961;
  content:'\2713';
  color:#fff;
}

.postitem_progressbar li.active span {
  color: #76c961;
  font-size: 12px;
  font-weight: normal;
}

.postitem_progressbar li.active + li:after {
  background: #76c961;
}




