<ion-header mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="goBack()">
      <ion-button mode="ios">
          <ion-icon name="arrow-back"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>

      <ion-title>Payment Method</ion-title>

      <ion-buttons slot="primary" mode="ios">
          <ion-button mode="ios">
              <img src="assets/icon/brixylogo.png" style="width: 32px;" mode="ios">
          </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card mode="ios">
    <ion-card-content mode="ios">
      <ion-item lines="none" mode="ios">
        <ion-thumbnail slot="start" mode="ios">
          <img src="assets/icon/payoneericon.png">
        </ion-thumbnail>
        <ion-label mode="ios">
          <h3 style="font-weight: bold;">Payoneer Settings</h3>
        </ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;" color="primary" slot="end" mode="ios"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" style="margin-top: -3%;">
    <ion-card-content mode="ios">
      <ion-item lines="none" mode="ios">
        <ion-thumbnail slot="start" mode="ios">
          <img src="assets/icon/paypal.png">
        </ion-thumbnail>
        <ion-label mode="ios">
          <h3 style="font-weight: bold;">Paypal Settings</h3>
        </ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;" color="primary" slot="end" mode="ios"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" style="margin-top: -3%;">
    <ion-card-content mode="ios">
      <ion-item lines="none" mode="ios">
        <ion-thumbnail slot="start" mode="ios">
          <img src="assets/icon/googlepay.png">
        </ion-thumbnail>
        <ion-label mode="ios">
          <h3 style="font-weight: bold;">Google Pay</h3>
        </ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;" color="primary" slot="end" mode="ios"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios" style="margin-top: -3%;">
    <ion-card-content mode="ios">
      <ion-item lines="none" mode="ios">
        <ion-thumbnail slot="start" mode="ios">
          <img src="assets/icon/applepay.png">
        </ion-thumbnail>
        <ion-label mode="ios">
          <h3 style="font-weight: bold;">Apple Pay</h3>
        </ion-label>
        <ion-icon name="arrow-forward" style="font-size: 20px;" color="primary" slot="end" mode="ios"></ion-icon>
      </ion-item>
    </ion-card-content>
  </ion-card>

  
  
</ion-content>
