<ion-header no-border mode="ios">
  <ion-toolbar mode="ios">
    <ion-buttons slot="primary" mode="ios">
      <ion-button (click)="goTerms()" mode="ios">
        <ion-icon color="secondary" name="close" size="large"  mode="ios"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="secondary" text-center mode="ios"> 
    <h6 style="top: 2%;position: relative;font-weight: bold;">GREEN THUMB</h6>
  </ion-text>
  <ion-slides [options]="slideOptsOne" pager="true" mode="ios" id="slide_forhome">
      <ion-slide *ngFor="let slide of ImageArray" mode="ios">
        <div class="slide" mode="ios">
          <h2 mode="ios" style="font-weight: bold;">{{slide.name}}</h2>
          <p text-center mode="ios">{{slide.text}}</p>
          <img src="{{slide.image}}" mode="ios">
        </div>
      </ion-slide>
  </ion-slides>
</ion-content>

 