
<ion-content mode="ios" text-center style="padding-bottom: 0;">
  <br>
  <ion-row style="padding-bottom: 5px;">
    <ion-col style="color: black;margin-top: 1.2%;" mode="ios" text-center>
        <img class="lvlicon2" src="assets/icon/imgcoin.png">
        <ion-text class="lvlnum">{{coin.coins}}</ion-text>
    </ion-col>
  </ion-row>
  <h5 style="font-weight: bold;padding-bottom: 3%;">Purchase coins? </h5>
 <p mode="ios" style="line-height: 0;">TOTAL</p> 
 <ion-row style="padding-bottom: 5px;margin-top: -2%;">
  <ion-col style="color: black;" mode="ios" text-center>
      <img class="lvlicon3" src="assets/icon/dollar.png">
      <ion-text class="lvlnum2">{{coin.amount}}</ion-text>
  </ion-col>
</ion-row>

<ion-row padding style="padding-bottom: 0;">
  <!-- <ion-col>
    <ion-button mode="ios" color="light" expand="block" (click)="closeModal()">
      Cancel
    </ion-button>
  </ion-col> -->
  <ion-col>
    <ion-button  (click)="purchaseCoins()" mode="ios" expand="block">
      Purchase
    </ion-button>
  </ion-col>
</ion-row>
</ion-content>