<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>
      <ion-title color="secondary">Sell faster</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <img *ngIf="!ImageArray" src="assets/greenthumb-images/tomato.png" class="for_imgfruit"> 

        <ion-slides *ngIf="ImageArray" [options]="slideOptsOne" pager="true" mode="ios" id="slide_forpromo">
          <ion-slide *ngFor="let slide of ImageArray" mode="ios">
            <div class="slide" mode="ios">
              <ion-card mode="ios" class="promocard">
                <ion-card-header mode="ios" class="promoheader">
                  <ion-row>
                  
                    <ion-col no-padding text-right>
                      <img src="{{slide.picture_filename}}" class="for_imgfruit">
                    </ion-col>
      
                  </ion-row>
                </ion-card-header>
              </ion-card>
            </div>
          </ion-slide>
        </ion-slides>
  </div>
  <ion-row padding style="padding-bottom: 0;">
    <!-- <ion-col size="4" text-center>
      <ion-card mode="ios" class="btn_promote">
        <ion-card-header no-padding class="btn_header">
          <ion-card-subtitle class="btn_headertxt">BEST VALUE</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="btn_content">
          <ion-label color="secondary"><p class="for_promotxt">Promote Plus</p></ion-label>
          <ion-button mode="ios" size="small" shape="round" class="for_btnpromote">FREE TRIAL</ion-button>
        </ion-card-content>
      </ion-card>
      <ion-icon style="zoom: 1.5;" mode="ios" color="primary" name="arrow-dropdown-circle"></ion-icon>
    </ion-col> -->
    <ion-col *ngFor="let promotion of promotions" size="4" text-center>
      <ion-card mode="ios" (click)="promoteItem(promotion.id)" class="btn_promoteinactive">
        <ion-card-content class="btn_contentinactive">
          <ion-label color="dark">
            <p class="for_promotxt" *ngIf="promotion.id == 4">Promote 7 days</p>
            <p class="for_promotxt" *ngIf="promotion.id == 3">Promote 5 days</p>
            <p class="for_promotxt" *ngIf="promotion.id == 2">Promote 1 day</p>
          </ion-label>
          <ion-label color="dark"><p class="for_promodollar">${{promotion.rate}}</p></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col>
    <!-- <ion-col size="4" text-center>
      <ion-card mode="ios" class="btn_promoteinactive">
        <ion-card-content class="btn_contentinactive">
          <ion-label color="dark"><p class="for_promotxt">Promote 1 day</p></ion-label>
          <ion-label color="dark"><p class="for_promodollar">$2.99</p></ion-label>
        </ion-card-content>
      </ion-card>
    </ion-col> -->
  </ion-row>
  <ion-list mode="ios">
    <ion-item mode="ios" lines="none" style="height: 30px;">
      <ion-icon name="checkmark" color="primary" mode="ios" slot="start"></ion-icon>
      <ion-label style="font-size: 13px;">Get an average of 14x more views each day</ion-label>
    </ion-item>
    <ion-item mode="ios" lines="none" style="height: 30px;">
      <ion-icon name="checkmark" color="primary" mode="ios" slot="start"></ion-icon>
      <ion-label style="font-size: 13px;">Promote for multiple days</ion-label>
    </ion-item>
    <ion-item mode="ios" lines="none" style="height: 30px;">
      <ion-icon name="checkmark" color="primary" mode="ios" slot="start"></ion-icon>
      <ion-label style="font-size: 13px;">Switch promotion to other items</ion-label>
    </ion-item>
  </ion-list>
  <ion-row>
    <ion-col text-center>
      <ion-label color="secondary" style="font-size: 14px;">How does promoting works? 
        <ion-icon class="for_helpicon" mode="ios" color="secondary" name="help-circle"></ion-icon></ion-label>
    </ion-col>
  </ion-row>
  <ion-row padding>
    <ion-col text-center>
      <ion-button expand="block" (click)="goBack()" mode="ios">
        DONE
      </ion-button>
      <!-- <ion-button expand="block" (click)="goPromoteplus()" mode="ios">
        NEXT
      </ion-button> -->
    </ion-col>
  </ion-row>
 
  
</ion-content>
