.btn_promote{
    height: 110px;
    --background: transparent;
    border: 1px solid #76c961;
    border-radius: 5px;
    box-shadow: none;
    margin: 0;
}
.btn_promoteinactive{
    height: 110px;
    --background: transparent;
    border: 1px solid #e2f0cb;
    border-radius: 5px;
    box-shadow: none;
    margin: 0;
}
.btn_header{
    background: #76c961;
    height: 22px;
}
.btn_headertxt{
    font-size: 13px;
    color: white;
    padding: 3px;
}
.for_promotxt{
    font-size: 14px;
    font-weight: bold;
    padding: 0;
    line-height: 1.2;
}
.for_btnpromote{
    --background: #fc7000;
    height: 20px;
    width: 73px;
    font-size: 9px;
}
.btn_content{
    padding: 10px;
}
.btn_contentinactive{
    padding: 15px;
    margin-top: 10%;
}
.for_promodollar{
    color: #679733 !important;
    padding: 0;
    margin-top: 5px;
}
.for_helpicon{
    font-size: 20px;
    margin-bottom: -5px;
}