<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
    <ion-buttons slot="secondary" (click)="cancel()">
      <ion-button color="secondary" mode="ios" style="font-size: 15px;">
          Not Now
      </ion-button>
    </ion-buttons>

    <ion-buttons slot="primary" >
        <ion-button>
            <img src="assets/greenthumb-images/greenthumblogo.png" style="width: 27px;border-radius: 50%;" mode="ios">
        </ion-button>
      </ion-buttons>
</ion-toolbar>
</ion-header>
<ion-content mode="ios" padding style="--padding-top: 0;">
  <p text-center style="padding: 0;margin-bottom: 30px;">Please fill-up the essential details below to acknowledge our
  <ion-note color="secondary" style="font-weight: bold;" (click)="goToUserPolicy();">User Policy.</ion-note></p>

  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">First Name</ion-label>
    <ion-input placeholder="Enter here" type="text" mode="ios" [(ngModel)]="inpt_fname" maxlength="50" minlength="2" 
      value="{{ fname }}"></ion-input>
    <ion-icon style="align-self: flex-end;" name="person" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Last Name</ion-label>
    <ion-input placeholder="Enter here" type="text" mode="ios" [(ngModel)]="inpt_lname" maxlength="50" minlength="2"
      value="{{ lname }}"></ion-input>
    <ion-icon style="align-self: flex-end;" name="person" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Birthdate</ion-label>
    <ion-datetime placeholder="Enter here" mode="ios" value="{{ bdate }}" displayFormat="MM/DD/YYYY" [(ngModel)]="inpt_birthdate" min="1945-01-01" max="2012-12-31"></ion-datetime>
    <ion-icon style="align-self: flex-end;" name="calendar" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Town/City</ion-label>
    <ion-input placeholder="Enter here" type="text" mode="ios" value="{{ city }}" [(ngModel)]="inpt_city" maxlength="50" minlength="2"></ion-input>
    <ion-icon style="align-self: flex-end;" name="pin" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Country</ion-label>
    <ion-input placeholder="Enter here" type="text" mode="ios" value="{{ country }}" [(ngModel)]="inpt_country" maxlength="50" minlength="2"></ion-input>
    <ion-icon style="align-self: flex-end;" name="home" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Email</ion-label>
    <ion-input placeholder="Enter here" type="email" [(ngModel)]="inpt_email" value="{{ email }}" maxlength="50" minlength="7"></ion-input>
    <ion-icon style="align-self: flex-end;" name="mail" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <ion-item style="margin-top: 5px;" mode="ios" id="for_eachitem">
    <ion-label color="secondary" position="floating" mode="ios">Contact Number</ion-label>
    <ion-input placeholder="Enter here" type="text" [(ngModel)]="inpt_mobile_num" value="{{ mobile_num }}" maxlength="12" minlength="11"></ion-input>
    <ion-icon style="align-self: flex-end;" name="call" slot="end" mode="ios" color="medium"></ion-icon>
  </ion-item>
  <br><br>
  <ion-button expand="block" mode="ios" (click)="register()">UPDATE</ion-button>

</ion-content>
