<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

      <!-- <ion-title color="secondary">Profile</ion-title> -->
    </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" class="for_cardmargin">
          <img class="for_img" src="assets/greenthumb-images/sampleimg.jpg" />
          <ion-card-content class="for_backroundoverlay">
            <h2 class="for_h2title">Macerity</h2>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <p class="for_paddress">California, NY, 12845,</p>
            <p class="for_paddress" style="line-height: 0;">
              <ion-icon class="for_callicon" name="call" mode="ios"></ion-icon>&nbsp;09907852578</p>
          </ion-card-content>
          <ion-card-header class="for_headerbackground">
            <ion-button class="for_iconarrow" mode="ios" fill="clear">
              <ion-icon mode="ios" name="arrow-forward" color="light"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>  
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" class="for_cardmargin">
          <img class="for_img" src="assets/greenthumb-images/sampleimg.jpg" />
          <ion-card-content class="for_backroundoverlay">
            <h2 class="for_h2title">Macerity</h2>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <p class="for_paddress">California, NY, 12845,</p>
            <p class="for_paddress" style="line-height: 0;">
              <ion-icon class="for_callicon" name="call" mode="ios"></ion-icon>&nbsp;09907852578</p>
          </ion-card-content>
          <ion-card-header class="for_headerbackground">
            <ion-button class="for_iconarrow" mode="ios" fill="clear">
              <ion-icon mode="ios" name="arrow-forward" color="light"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-sm>
        <ion-card mode="ios" class="for_cardmargin">
          <img class="for_img" src="assets/greenthumb-images/sampleimg.jpg" />
          <ion-card-content class="for_backroundoverlay">
            <h2 class="for_h2title">Macerity</h2>
            <div>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star" mode="ios" size="medium"></ion-icon>
              <ion-icon class="for_staricon" name="star-half" mode="ios" size="medium"></ion-icon>
            </div>
            <p class="for_paddress">California, NY, 12845,</p>
            <p class="for_paddress" style="line-height: 0;">
              <ion-icon class="for_callicon" name="call" mode="ios"></ion-icon>&nbsp;09907852578</p>
          </ion-card-content>
          <ion-card-header class="for_headerbackground">
            <ion-button class="for_iconarrow" mode="ios" fill="clear">
              <ion-icon mode="ios" name="arrow-forward" color="light"></ion-icon>
            </ion-button>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
