.for_backroundoverlay{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.45);
    color: #fff;
}
.for_img{
    min-height: 220px;
    object-fit: cover;
}
.for_h2title{
    margin-top: 1.5rem;
    margin-bottom: .5rem;
    font-size: 20px;
}
.for_staricon{
    color: #fa9a00 !important;
}
.for_paddress{
    margin: 0 0 5px;
    line-height: 23px;
    padding: 0;
}
.for_callicon{
    font-size: 16px;
    margin-bottom: -3px;
}
.for_headerbackground{
    background: white;
    z-index: 999;
    padding: 15px 20px;
}
.for_iconarrow{
    background: #34ad54;
}
/*##Device = Desktops*/
@media (min-width: 1281px) {
    .for_cardmargin{
        margin: 16px;
    } 
}
/* ##Device = Laptops, Desktops*/
  @media (min-width: 1025px) and (max-width: 1280px) {
    .for_cardmargin{
        margin: 16px;
    } 
  }
  
/* ##Device = Tablets, Ipads (portrait)*/
@media (min-width: 768px) and (max-width: 1024px) {
    .for_cardmargin{
        margin: 0px;
    } 
  }
  
/* ##Device = Tablets, Ipads (landscape)*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
    .for_cardmargin{
        margin: 0px;
    } 
  }
/* ##Device = Low Resolution Tablets, Mobiles (Landscape)*/
@media (min-width: 481px) and (max-width: 767px) {
    .for_cardmargin{
        margin: 0px;
    } 
}
/* ##Device = Most of the Smartphones Mobiles (Portrait)*/
  @media (min-width: 320px) and (max-width: 480px) {
    .for_cardmargin{
        margin: 0px;
    } 
  }