<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="closeModal()">
        <ion-button mode="ios" style="font-size: 15px;" (click)="closeModal()">
            Back
        </ion-button>
      </ion-buttons>

      <ion-title color="secondary">Enter Quantity</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content padding class="for_post">

  <ion-row justify-content-center align-items-center style='height: 90%'>
    <ion-col>
      <ion-list class="line-input">
        <ion-item>
          <ion-input mode="ios" [(ngModel)]="purchase_quantity" type="number" class="item_input" placeholder="0"></ion-input>
         </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-content>
<div id="overlay" padding>
  <ion-button expand="block" mode="ios" (click)="purchaseProduct()">
    PURCHASE
  </ion-button>
</div>