<ion-header mode="ios" no-border>
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button mode="ios" style="font-size: 15px;">
            Back
        </ion-button>
      </ion-buttons>

     <ion-title color="secondary">Offers</ion-title>

     <ion-buttons slot="primary" (click)="goHelp()">
      <ion-button mode="ios" style="font-size: 15px;">
          Help
      </ion-button>
    </ion-buttons>

    </ion-toolbar>
</ion-header>
<ion-segment style="padding: 5px" color="primary" mode="ios" (ionChange)="segmentChanged()" [(ngModel)]="segment">
  <ion-segment-button style="padding: 3px" mode="ios" value="0">
      <ion-label>Selling</ion-label>
  </ion-segment-button>  
  <ion-segment-button style="padding: 3px" mode="ios" value="1">
      <ion-label>Buying</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-content >
  <ion-slides #slides (ionSlideDidChange)="slideChanged()" mode="ios">
    <!-- For selling -->
    <ion-slide>
      <ion-grid style="width: 50%;">
        

        <ion-segment color="primary" mode="ios" style="padding:5px" (ionChange)="segmentSellingChanged()" [(ngModel)]="segmentSelling"> 
          <ion-segment-button mode="ios" value="0" layout="icon-start" style="padding: 3px" checked>
              <ion-label>ACTIVE</ion-label>
          </ion-segment-button>
          <ion-segment-button mode="ios" value="1" layout="icon-start" style="padding: 3px">
              <ion-label>ARCHIVE</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-slides #slidesSelling (ionSlideDidChange)="slideSellingChanged()" mode="ios">
          <!-- for Selling Active -->
          <ion-slide>
            <ion-row>
              <ion-col no-padding>
                <ion-list mode="ios">
                  <ion-row *ngFor="let item of itemList">
                    <ion-col>
                      <ion-card mode="ios" class="for_items" >
                        <ion-card-content no-padding>
                          <ion-row>
                            <ion-col text-left size="5">
                              <ion-row>
                                <ion-col no-padding>
                                  <div class="for_available">Available</div>
                                  <img (click)="goProductview(item.id)" [src] = "item.item_cover_photo"  class="for_itemmimg" >
                                </ion-col>
                              </ion-row>
                            </ion-col>
                            <ion-col text-left size="7">
                              <ion-row >
                                <ion-col no-padding text-left>
                                  <div class="for_unitqty">{{item.quantity}}
                                    <label *ngIf="item.stocks_id=='1'">
                                      <label *ngIf="item.quantity>1">pieces</label>
                                      <label *ngIf="item.quantity==1">piece</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='2'">
                                      <label *ngIf="item.quantity>1">pounds</label>
                                      <label *ngIf="item.quantity==1">pound</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='3'">
                                      <label *ngIf="item.quantity>1">ounces</label>
                                      <label *ngIf="item.quantity==1">ounce</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='4'">
                                      {{item.others_stock}}
                                    </label>
                                  </div>
                                  <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                                </ion-col>
                                <ion-col no-padding text-right>
                                  <div class="for_category">{{item.category}}</div>
                                  <div style="margin-top: 5px;">
                                      <ionic4-star-rating #rating
                                        activeIcon = "ios-star"
                                        defaultIcon = "ios-star-outline"
                                        activeColor = "#ffce00" 
                                        defaultColor = "#ffce00"
                                        readonly="false"
                                        rating="{{item.user_rating}}"
                                        fontSize = "15px">
                                      </ionic4-star-rating>
                                  </div>
                                </ion-col>
                              </ion-row>
                              <ion-row style="margin-top: -2px;" >
                                <ion-col no-padding text-left>
                                  <ion-label color="dark">
                                    <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-label  color="dark"><h2 class="for_itemmlocation">
                                <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp;  {{item.location}}
                              </h2></ion-label>
                              <ion-row>
                                <ion-col no-padding text-left size="12" class="for_borderitem">
                                  <ion-row>
                                    <ion-col text-left no-padding size="6" (click)="goEdit(item.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="secondary" name="create"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn" style="margin-left: 3px;"> Edit Item</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col text-left no-padding size="4" (click)="deleteItem(item.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="danger" name="trash"></ion-icon>
                                        <ion-label style="margin: 0;" color="danger"><h2 class="for_itembtn"> Delete</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
    
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-slide>
          <!-- for Selling Archive -->
          <ion-slide>
            <ion-row>
              <ion-col no-padding>
                <ion-list mode="ios">
                  <ion-row *ngFor="let item of itemListArchive">
                    <ion-col>
                      <ion-card mode="ios" class="for_items" >
                        <ion-card-content no-padding>
                          <ion-row>
                            <ion-col text-left size="5">
                              <ion-row>
                                <ion-col no-padding>
                                  <div class="for_available">Available</div>
                                  <img (click)="goProductview(item.id)" [src] = "item.item_cover_photo"  class="for_itemmimg" >
                                </ion-col>
                              </ion-row>
                            </ion-col>
                            <ion-col text-left size="7">
                              <ion-row >
                                <ion-col no-padding text-left>
                                  <div class="for_unitqty">{{item.quantity}} 
                                    <label *ngIf="item.stocks_id=='1'">
                                      <label *ngIf="item.quantity>1">pieces</label>
                                      <label *ngIf="item.quantity<=1">piece</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='2'">
                                      <label *ngIf="item.quantity>1">pounds</label>
                                      <label *ngIf="item.quantity<=1">pound</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='3'">
                                      <label *ngIf="item.quantity>1">ounces</label>
                                      <label *ngIf="item.quantity<=1">ounce</label>
                                    </label>
                                    <label *ngIf="item.stocks_id=='4'">
                                      {{item.others_stock}}
                                    </label>
                                  </div>
                                  <ion-label color="secondary"><h1 class="for_pprice">${{item.price}}</h1></ion-label>
                                </ion-col>
                                <ion-col no-padding text-right>
                                  <div class="for_category">{{item.category}}</div>
                                  <div style="margin-top: 5px;">
                                      <ionic4-star-rating #rating
                                        activeIcon = "ios-star"
                                        defaultIcon = "ios-star-outline"
                                        activeColor = "#ffce00" 
                                        defaultColor = "#ffce00"
                                        readonly="false"
                                        rating="{{item.user_rating}}"
                                        fontSize = "15px">
                                      </ionic4-star-rating>
                                  </div>
                                </ion-col>
                              </ion-row>
                              <ion-row style="margin-top: -2px;" >
                                <ion-col no-padding text-left>
                                  <ion-label color="dark">
                                    <h2 class="for_itemmname">{{item.title}}</h2></ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-label  color="dark"><h2 class="for_itemmlocation">
                                <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp; {{item.location}}
                              </h2></ion-label>
                              <ion-row>
                                <ion-col no-padding text-left size="12" class="for_borderitem">
                                  <ion-row>
                                    <ion-col text-left no-padding size="6" (click)="goEdit(item.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="secondary" name="create"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn" style="margin-left: 3px;"> Edit Item</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col text-left no-padding size="4" (click)="deleteItem(item.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="danger" name="trash"></ion-icon>
                                        <ion-label style="margin: 0;" color="danger"><h2 class="for_itembtn"> Delete</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
    
                </ion-list>
              </ion-col>
            </ion-row>

          </ion-slide>

        </ion-slides>

       
      </ion-grid>
    </ion-slide>
    
    <!-- For buying -->
    <ion-slide>
      <ion-grid style="width: 50%;">


        <ion-segment color="primary" mode="ios" style="padding:5px" (ionChange)="segmentBuyingChanged()" [(ngModel)]="segmentBuying"> 
          <ion-segment-button mode="ios" value="0" layout="icon-start" style="padding: 3px" checked>
              <ion-label>ACTIVE</ion-label>
          </ion-segment-button>
          <ion-segment-button mode="ios" value="1" layout="icon-start" style="padding: 3px">
              <ion-label>ARCHIVE</ion-label>
          </ion-segment-button>
        </ion-segment>

        <ion-slides #slidesBuying (ionSlideDidChange)="slideBuyingChanged()" mode="ios">
          <!-- for Buying Active -->
          <ion-slide>

            <ion-row>
              <ion-col no-padding>
                <ion-list mode="ios">
                  <ion-row class="for_eachrow" *ngFor="let buy of buyItemList"> 
                    <ion-col no-padding>
                      <ion-card mode="ios" class="for_items" >
                        <ion-card-content no-padding>
                          <ion-row>
                            <ion-col text-left size="5">
                              <div class="for_available">Available</div>
                              <ion-item lines="none" class="for_itemms" style="margin-bottom: -8px;">
                                <ion-avatar slot="start">
                                  <div *ngIf="!buy?.profile_photo">
                                    <img src="assets/greenthumb-images/userpic.png">
                                  </div>
                                  <div *ngIf="buy?.profile_photo">
                                    <img [src] = "buy.profile_photo" >
                                  </div> 
                                </ion-avatar>
                                <ion-label class="for_name">{{buy.username}}</ion-label>
                              </ion-item>
                              <img (click)="goProductview(buy.id)" style="padding-bottom: 5px;" [src] = "buy.item_cover_photo" class="for_itemmimg">
                            </ion-col>
                            <ion-col text-left size="7">
                              <ion-row (click)="goProductview(buy.id)">
                                <ion-col no-padding text-left>
                                  <div class="for_unitqty">{{buy.quantity}} &nbsp;
                                    <label *ngIf="buy.stocks_id=='1'">
                                      <label *ngIf="buy.quantity>1">pieces</label>
                                      <label *ngIf="buy.quantity<=1">piece</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='2'">
                                      <label *ngIf="buy.quantity>1">pounds</label>
                                      <label *ngIf="buy.quantity<=1">pound</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='3'">
                                      <label *ngIf="buy.quantity>1">ounces</label>
                                      <label *ngIf="buy.quantity<=1">ounce</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='4'">
                                      {{buy.others_stock}}
                                    </label>
                                  </div>
                                 <ion-label color="secondary"><h1 class="for_pprice">${{buy.price}}</h1></ion-label>
                                </ion-col>
                                <ion-col no-padding text-right>
                                  <div class="for_category">{{buy.category}}</div>
                                  <div style="margin-top: 5px;">
                                      <ionic4-star-rating #rating
                                        activeIcon = "ios-star"
                                        defaultIcon = "ios-star-outline"
                                        activeColor = "#ffce00" 
                                        defaultColor = "#ffce00"
                                        readonly="false"
                                        rating="{{buy.user_rating}}"
                                        fontSize = "15px">
                                      </ionic4-star-rating>
                                  </div>
                                </ion-col>
                              </ion-row>
                              <ion-row style="margin-top: -2px;" (click)="goProductview(buy.id)">
                                <ion-col no-padding text-left>
                                  <ion-label color="dark">
                                    <h2 class="for_itemmname">{{buy.title}}</h2></ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-label  color="dark"><h2 class="for_itemmlocation">
                                <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp; {{buy.location}}
                              </h2></ion-label>
                              <ion-row>
                                <ion-col no-padding text-left size="12" class="for_borderitem">
                                  <ion-row>
                                    <ion-col text-left no-padding size="6">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon name="heart" mode="ios"
                                         id="class{{buy.id}}" [class]="(buy.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn"> &nbsp;Save</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col text-left no-padding size="4" (click)="goMessage(buy.user_id, buy.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="secondary" name="mail"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn">&nbsp; Message</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-list>
              </ion-col>
            </ion-row>

          </ion-slide>
          <!-- for buying Archive -->
          <ion-slide>
            <ion-row>
              <ion-col no-padding>
                <ion-list mode="ios">
                  <ion-row class="for_eachrow" *ngFor="let buy of buyItemListArchive"> 
                    <ion-col no-padding>
                      <ion-card mode="ios" class="for_items" >
                        <ion-card-content no-padding>
                          <ion-row>
                            <ion-col text-left size="5">
                              <div class="for_available">Available</div>
                              <ion-item lines="none" class="for_itemms" style="margin-bottom: -8px;">
                                <ion-avatar slot="start">
                                  <div *ngIf="!buy?.profile_photo">
                                    <img src="assets/greenthumb-images/userpic.png">
                                  </div>
                                  <div *ngIf="buy?.profile_photo">
                                    <img [src] = "buy.profile_photo" >
                                  </div> 
                                </ion-avatar>
                                <ion-label class="for_name">{{buy.username}}</ion-label>
                              </ion-item>
                              <img (click)="goProductview(buy.id)" style="padding-bottom: 5px;" [src] = "buy.item_cover_photo" class="for_itemmimg">
                            </ion-col>
                            <ion-col text-left size="7">
                              <ion-row (click)="goProductview(buy.id)">
                                <ion-col no-padding text-left>
                                  <div class="for_unitqty">{{buy.quantity}} &nbsp;
                                    <label *ngIf="buy.stocks_id=='1'">
                                      <label *ngIf="buy.quantity>1">pieces</label>
                                      <label *ngIf="buy.quantity<=1">piece</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='2'">
                                      <label *ngIf="buy.quantity>1">pounds</label>
                                      <label *ngIf="buy.quantity<=1">pound</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='3'">
                                      <label *ngIf="buy.quantity>1">ounces</label>
                                      <label *ngIf="buy.quantity<=1">ounce</label>
                                    </label>
                                    <label *ngIf="buy.stocks_id=='4'">
                                      {{buy.others_stock}}
                                    </label>
                                  </div>
                                 <ion-label color="secondary"><h1 class="for_pprice">${{buy.price}}</h1></ion-label>
                                </ion-col>
                                <ion-col no-padding text-right>
                                  <div class="for_category">{{buy.category}}</div>
                                  <div style="margin-top: 5px;">
                                      <ionic4-star-rating #rating
                                        activeIcon = "ios-star"
                                        defaultIcon = "ios-star-outline"
                                        activeColor = "#ffce00" 
                                        defaultColor = "#ffce00"
                                        readonly="false"
                                        rating="{{buy.user_rating}}"
                                        fontSize = "15px">
                                      </ionic4-star-rating>
                                  </div>
                                </ion-col>
                              </ion-row>
                              <ion-row style="margin-top: -2px;" (click)="goProductview(buy.id)">
                                <ion-col no-padding text-left>
                                  <ion-label color="dark">
                                    <h2 class="for_itemmname">{{buy.title}}</h2></ion-label>
                                </ion-col>
                              </ion-row>
                              <ion-label ><h2 class="for_itemmlocation">
                                <ion-icon class="for_pin" mode="ios" color="primary" name="pin"></ion-icon>&nbsp; {{buy.location}}
                              </h2></ion-label>
                              <ion-row>
                                <ion-col no-padding text-left size="12" class="for_borderitem">
                                  <ion-row>
                                    <ion-col text-left no-padding size="6">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon name="heart" mode="ios"
                                         id="class{{buy.id}}" [class]="(buy.save_status == '1') ? 'myHeartSave' : 'myHeartUnSave'"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn"> &nbsp;Save</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                    <ion-col text-left no-padding size="4" (click)="goMessage(buy.user_id, buy.id)">
                                      <ion-item mode="ios" lines="none" class="for_itemsold">
                                        <ion-icon class="for_itembtnicon" slot="start" mode="ios" color="secondary" name="mail"></ion-icon>
                                        <ion-label style="margin: 0;" color="secondary"><h2 class="for_itembtn">&nbsp; Message</h2></ion-label>
                                      </ion-item>
                                    </ion-col>
                                  </ion-row>
                                </ion-col>
                              </ion-row>
                            </ion-col>
                          </ion-row>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-list>
              </ion-col>
            </ion-row>
          </ion-slide>

        </ion-slides>
        

        


      </ion-grid>
    </ion-slide>
  </ion-slides>

</ion-content>
