
.for_items{
    margin-top: 0%;
    box-shadow: 0 1px 10px #e2f0cb;
    border-radius: 10px;
    border: 1px solid #e2f0cb;
    margin-bottom: 0;
}
.for_chip{
    --background: transparent;
    margin: 0;
    padding-right: 0;
    padding-left: 15px;
}
.for_itemimg{
    margin: auto;
    width: 90%;
    padding: 7px;
    padding-top: 0;
}
.for_price{
    font-size: 20px;
    font-weight: bolder;
    padding-top: 5px;
}
.for_itemname{
    font-size: 15px;
    font-weight: bolder;
}
.for_itemcateg{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
}
.for_status_item{
    text-transform: uppercase;
    font-size: 12px;
    font-weight: lighter;
}
.for_itemlocation{
    font-size: 13px;
    font-weight: lighter;
}
.for_pin{
    font-size: 15px;
    margin-bottom: -1%;
    margin-left: -1%;
}
.for_itembtn{
    font-size: 11px;;
}
.for_itembtnicon{
    font-size: 20px;
    margin: 0;
}
.for_itembtnsold{
    margin: 0;
    width: 15px;
    height: auto;
    margin-right: 5%;
}
.col1{
    margin-left: -30px;
}
.col2{
    margin-left: 25px;
}
.for_itemsold{
    --padding-start: 0;
    margin-top: -10px;
    --background: transparent;
    margin-right: -30px;
    margin-bottom: -10px;
}
.for_cols{
    padding-bottom: 5px;
    padding-top: 5px;
}
.for_eachrow{
    margin-top: 10px;
}
.for_itemimgbuying{
    padding-left: 5px;
    margin: auto;
    width: 90%;
    height: 70%;
}
.for_colbuying{
    padding-top: 0;
    margin-top: -8px;
}
ion-thumbnail {
    min-width: 5rem;    
    min-height: 5rem;
    img {
        max-width: 5rem;    
        min-width: 5rem;
    }
}




.for_itemms{
    --padding-start: 0;
    margin-top: -8px;
    --inner-padding-end: 0;
    --background: transparent;
    ion-avatar  {     
        width: 100% !important;
        height: 100% !important;
        max-width: 25px !important;
        max-height: 25px !important;
        margin-right: 5px;margin-top: 0;
        img{
            border: 1px solid rgba(0, 0, 0, 0.12);
            width: 100% !important;
            height: 100% !important;
            max-width: 25px !important;
            max-height: 25px !important;
            margin-right: 5px;margin-top: 0;
            border-radius: 50%;
        }
    }
  }
  
.for_name{
    font-size: 12px;
    text-transform: capitalize;
    margin-top: 0;
    color: black;
}
.for_itemmimg{
    margin: auto;
    width: 90%;
}
.for_itemmimgbuying{
    margin: auto;
    width: 65%;
    margin-top: -10%;
    padding-bottom: 5px;
}
.for_pprice{
    font-size: 23px;
    font-weight: bolder;
}
.for_category{
    background: #76c961;
    padding: 3px;
    border-top-right-radius: 10px;
    margin-top: -5px;
    margin-right: -5px;
    border-bottom-left-radius: 10px;
    text-transform: capitalize;
    font-size: 12px;
    font-weight: lighter;
    color: white;
    text-align: center;
}
.for_itemmname{
    font-size: 15px;
    font-weight: bolder;
}
.for_itemmlocation{
    font-size: 12.5px;
    font-weight: lighter;
    color: #989aa2;
    padding-right: 5px;
    padding-bottom: 2.5%;
}
.for_available{
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 10px;
    color: #679733;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    background: #e2f0cb;
    padding: 3px;
    margin-top: -5px;
    margin-left: -5px;
    margin-bottom: 10px;
}
.for_borderitem{
    border-top: 1px solid #e2f0cb;
    padding-top: 2.5%;
}
.for_itemmbtn{
    font-size: 11px;
}
.for_unitqty{
    font-size: 11px;
    text-align: left;
    color: #989aa2;
}
.myHeartUnSave{
    margin: 0;
    color: #d3dbc9;
    font-size: 20px;
    margin-right: 3%;
}
.myHeartSave{
    margin: 0;
    color: red;
    font-size: 20px;
    margin-right: 3%;
}
.for_aligncenter{
    display: flex!important;
    align-content: center!important;
    align-items: center!important;
}
