<ion-header mode="ios">
  <ion-toolbar mode="ios">
      <ion-buttons slot="secondary" (click)="goBack()">
        <ion-button>
              <ion-icon name="arrow-back" mode="ios" ></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>Settings</ion-title>

      <ion-buttons slot="primary" (click)="toAccount()">
        <ion-button>
            <img src="assets/icon/profilee.png" style="width: 32px;" mode="ios">
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content mode="ios">
  <ion-card mode="ios" style="color: white;margin:5px;background: black;" text-center>
    <br>
    <img src="assets/icon/brixylogo.png" style="width:90%;margin: auto;">
      <p style="line-height: 0">Version: V900.3.5</p>
      <br>
  </ion-card>
  <ion-list mode="ios">
    <ion-item (click)="signOut()">
      <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
        <img src="assets/icon/logout.png">
      </ion-thumbnail>
      <ion-label class="brixy_list">Logout</ion-label>
    </ion-item>
    <ion-item (click)="signOut()">
      <ion-thumbnail slot="start" mode="ios"class="brixy-icon" >
        <img src="assets/icon/info.png">
      </ion-thumbnail>
      <ion-label class="brixy_list">About Brixy Live</ion-label>
    </ion-item><br>
        <p text-center>
         <a  href="https://telmosolutions.com/"><img src="assets/icon/telmologo.png" style="width: 70%;" mode="ios"></a> 
        </p>
        <p text-center style="margin-top: -3%;" padding>
          Designed & Developed by <a style="text-decoration: none;color: #09055e;" href="https://telmosolutions.com/">Telmo Solutions</a>
        </p>
    </ion-list>
   

</ion-content>
